<div class="navbar">
  <div class="logo" id="{{ header.primary.id_prefix }}logo">
    <em class="logo-text">
      <a href="{{ header.link.href | default('/') }}"
        title="{{ header.link.title | default('Home') }}"
        aria-label="{{ header.link.label | default('Home') }}">
        {{ header.title | default(site.title) }}
      </a>
    </em>
  </div>
  <button class="menu-btn">Menu</button>
</div>
