{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}
{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}

{% from "07-form/controls/text-input.njk" import textinput as textinput %}
{% from "07-form/controls/select.njk" import select as select %}
{% from "07-form/controls/radiobutton.njk" import radiobutton as radiobutton %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}


{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-secondary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <!-- 3: Main navigation-->
      <div class="navbar navbar-primary">
        <!--3A: Main navigation-->
        <div class="navbar-inner container">
          <ul class="nav-primary">
            <li>
              <a href="/frontend-styleguide/pages/page-templates/praktikplads/praktikplads-1" class="current nav-link" title="Designsystem">
                  <span>2021</span>
              </a>
            </li>            
            <li>
                <a href="#" class="nav-link" title="2020">
                    <span>2020</span>
                </a>
            </li>
            <li>
                <div class="overflow-menu">
                <button class="button-overflow-menu js-dropdown js-dropdown--responsive-collapse" data-js-target="#headeroverflow1" aria-haspopup="true" aria-expanded="false">
                  <span>2019</span>
                </button>
                <div class="overflow-menu-inner" id="headeroverflow1" aria-hidden="true">
                  <ul class="overflow-list">
                      <li>
                        <a href="/frontend-styleguide/pages/page-templates/praktikplads/praktikplads-2">Revision 3: Regulering<br> oprettet 01-12-2019</a>
                      </li>
                      <li>
                        <a href="/frontend-styleguide/pages/page-templates/praktikplads/praktikplads-2">Revision 2: Regulering<br> oprettet 01-09-2019</a>
                      </li>
                      <li>
                        <a href="/frontend-styleguide/pages/page-templates/praktikplads/praktikplads-2">Revision 1: Opgørelse<br> oprettet 01-06-2019</a>
                      </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
                <a href="#" class="nav-link" title="2018">
                    <span>2018</span>
                </a>
            </li>
          </ul>
        </div>
      </div> 
      <!-- 3: Main navigation end-->
      <!-- Nav actions-->
      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
          <ul>
            <a href="#" class="function-link">Udskriv {{icon_svg("printer")}}</a>
            <a href="" class="function-link">Hjælp {{icon_svg("help-circle-outline")}}
            </a>
            
          </div>
        </div>
      </div>

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
  <main class="container page-container">
    <header class="page-header">
      <h1>{{title}}</h1>
    </header>
    <section class="page-content content">
      <div class="mt-6">
        {{textinput("id-search-keyword", "Søg via nøgleord", "", "input-width-300", "", "Input til søg via nøgleord", "", false, "")}}
      </div>
      <div class="mt-5">
        {{select("Vælg uddannelse", "select-education", "Vælg uddannelse", "input-width-300", "")}}
      </div>
      <div class="mt-5">
        <label class="form-label">Sagen handler om</label>
      </div>
      <div class="mt-3">
        {{radiobutton("id-view1", "Vælg visning", "Elevpoint", false, false, "Elevpoint", "", false, false)}}
      </div>
      <div class="mt-0">
        {{radiobutton("id-view2", "Vælg visning", "Aftaleperiode", false, true, "Aftaleperiode", "", false, false)}}
      </div>
      <div class="row">
        <div class="col-12">
         <table class="mt-5 table table--zebra table--lines table-responsive-scroll" id="js-datatable-example-praktikplads">
          <thead>
            <tr>
              <th></th>
              <th>Elev</th>
              <th>Fødselsdato</th>
              <th>Uddannelse</th>
              <th>Uddannelsesvægt</th>
              <th>Erhvervsuddannede medarbejdere</th>
              <th>Beregnede erhvervsuddannede</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        </div>
      </div>
     
    </section>
  </main>
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}