{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}
{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}


{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}


{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <!-- 3: Main navigation-->
      <div class="navbar navbar-primary">
        <!--3A: Main navigation-->
        <div class="navbar-inner container">
          <ul class="nav-primary">
            <li>
              <a href="/frontend-styleguide/pages/page-templates/praktikplads/praktikplads-1" class="nav-link" title="Designsystem">
                  <span>2021</span>
              </a>
            </li>            
            <li>
                <a href="#" class="nav-link" title="2020">
                    <span>2020</span>
                </a>
            </li>
            <li>
                <div class="overflow-menu">
                <button class="current button-overflow-menu js-dropdown js-dropdown--responsive-collapse" data-js-target="#headeroverflow1" aria-haspopup="true" aria-expanded="false">
                  <span>2019</span>
                </button>
                <div class="overflow-menu-inner" id="headeroverflow1" aria-hidden="true">
                  <ul class="overflow-list">
                      <li>
                        <a href="/frontend-styleguide/pages/page-templates/praktikplads/praktikplads-2">Revision 3: Regulering<br> oprettet 01-12-2019</a>
                      </li>
                      <li>
                        <a href="/frontend-styleguide/pages/page-templates/praktikplads/praktikplads-2">Revision 2: Regulering<br> oprettet 01-09-2019</a>
                      </li>
                      <li>
                        <a href="/frontend-styleguide/pages/page-templates/praktikplads/praktikplads-2">Revision 1: Opgørelse<br> oprettet 01-06-2019</a>
                      </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
                <a href="#" class="nav-link" title="2018">
                    <span>2018</span>
                </a>
            </li>
          </ul>
        </div>
      </div> 
      <!-- 3: Main navigation end-->
      <!-- Nav actions-->
      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
            <a href="#" class="function-link">Udskriv {{icon_svg("printer")}}</a>
            <a href="" class="function-link">Hjælp {{icon_svg("help-circle-outline")}}</a>
          </div>
        </div>
      </div>

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
  <main class="container page-container">
    <header class="page-header">
      <h1>{{title}}</h1>
      <p class="font-lead">I får udbetalt Praktikplads-AUB: <span class="text-positive">18.316,00 kr.</span></p>
      
    </header>
    <section class="page-content content">
      <h2>Jeres elevpoint</h2>
      <p class="mt-4 mb-0">Her kan I se, om I har opfyldt jeres mål for elevpoint for 2019.</p>
       <div class="row">
          <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <table class="table table--borderless table--responsive-headers mt-9">
              <thead>
                <tr>
                  <th></th>
                  <th>Beregnede erhvervsuddannede</th>
                  <th>Faktor</th>
                  <th>Elevpoint</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jeres mål for elevpoint</td>
                  <td>28,38</td>
                  <td>x 0,25</td>
                  <td>= 7,09</td>
                </tr>
                <tr>
                  <td>Jeres opnåede elevpoint</td>
                  <td>28,38</td>
                  <td>x 0,24</td>
                  <td>= 6,94</td>
                </tr>
                <tr>
                  <td>I mangler</td>
                  <td>6,94</td>
                  <td>- 7,09</td>
                  <td>= 0,15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h2 class="mt-7 mb-0">Jeres Praktikplads - AUB</h2>
        <p class="mt-4 mb-0">Praktikplads-AUB er det endelige beløb i jeres årsopgørelse.</p>
       <div class="row">
          <div class="col-12">
            <table class="table table--borderless table--responsive-headers mt-7">
              <thead>
                <tr>
                  <th></th>
                  <th>Elevpoint</th>
                  <th>Sats</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ekstra bidrag til Praktikplads-AUB</td>
                  <td>-0,15</td>
                  <td>x 27.000,00</td>
                  <td>= -4.171,00</td>
                </tr>
              </tbody>
            </table>
            <table class="table table--borderless table--responsive-headers mt-7">
              <thead>
                <tr>
                  <th></th>
                  <th>Helårselev</th>
                  <th>Sats</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nedsættelse for ubesat praktikplads</td>
                  <td>-0,15</td>
                  <td>x 27.000,00</td>
                  <td>= -4.171,00</td>
                </tr>
                <tr>
                  <td>Bidrag for underskud i jeres sektor</td>
                  <td>0,00</td>
                  <td>x 0,00</td>
                  <td>= 0,00</td>
                </tr>
              </tbody>
            </table>
            <table class="table table--borderless table--responsive-headers mt-7">
              <thead>
                <tr>
                  <th></th>
                  <th>Erhvervsuddannede - 1</th>
                  <th>Sats</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bidrag for underskud i jeres sektor</td>
                  <td>29,16</td>
                  <td>x 350,00</td>
                  <td>= -10.206,00</td>
                </tr>
                <tr>
                  <td>Nedsættelse for erhvervsuddannede medarbejdere</td>
                  <td>29,16</td>
                  <td>x 295,00</td>
                  <td>= 8.602,00</td>
                </tr>
              </tbody>
            </table>
            <table class="table table--borderless table--responsive-headers mt-7">
              <thead>
                <tr>
                  <th></th>
                  <th>Helårselev</th>
                  <th>Sats</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bonus for elever fra fordelsuddannelser</td>
                  <td>-3,00</td>
                  <td>x 6.640,00</td>
                  <td>= 19.920,00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p class="mt-7 mb-0">Udbetaling af Praktikplads-AUB for 2019: <b>18.316,00</b></p>
        <p class="mt-4 mb-0">Hvis du har spørgsmål, er du velkommen til at <a href="#">kontakte AUB</a></p>
    </section>
  </main>
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}