$icons: (
    "alert-outline",
    "angle-arrow-down",
    "angle-arrow-up",
    "calendar",
    "check",
    "check-circle-outline",
    "content-save",
    "delete",
    "help-circle-outline",
    "info",
    "magnify",
    "pencil",
    "refresh"
) !default;

.icon{
    height: $body-text-line-height;
    width: $body-text-line-height;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100%;
}
.icon-svg {
    height: $body-text-line-height;
    width: $body-text-line-height;
    vertical-align: middle;
    &--inherit-color{
        fill: currentColor; //svg inherit color
    }
}

.icon-svg-large {
    height: $display-1-heading-size;
    width: $display-1-heading-size;
    vertical-align: middle;
    &--inherit-color{
        fill: currentColor; //svg inherit color
    }
}

@each $icon in $icons {
    .icon-#{$icon} {
        background-image: url($icons-folder-path + $icon + ".svg");
    }
}

.hide-base-svg{ //hide inline svgs
    display: none;
}
