// scss-lint:disable QualifyingElement, PropertyCount

/*$input-line-height: 1.34;
$input-border-radius: 4px;
$input-border-width: 1px;
$input-top-bottom-padding: map-get($spacers, 3);
$input-left-right-padding: map-get($spacers, 4);
$input-height: 40px;
$input-font-size: 1.8rem;*/

// Block form elements
/* stylelint-disable selector-no-qualifying-type */
input,
textarea{
  appearance: none;
  border: $outer-border;
  border-radius: $input-border-radius;
  color: $color-base; // standardize on firefox
  display: block;
  font-size: $input-font-size;
  line-height: $input-line-height;
  padding: $input-top-bottom-padding $input-left-right-padding;
  width: 100%;
  margin-top: $input-top-margin;
  text-align: left;

  &.input-success {
    border: 3px solid $color-success;
  }
}
input {
  height: $input-standard-height;
}
textarea {
  height: 16rem;
}

label {
  display: block;
  max-width: $input-max-width;
  margin-top: map-get($spacers, 4);
  @include form-label-text();
}

/* stylelint-enablex */
.input-error {
  border-left: 4px solid $color-error;
  margin-top: 3rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-top: 0.8rem;
  position: relative;
  right: 1.9rem;
  margin-left: rem-calc(16);

  input,
  textarea,
  select {
    border: 3px solid $color-error;
    width: calc(100% + 1.9rem); // 1.5rem left padding + 4px border from input error spacing
  }

  label {
    margin-top: 0;
  }

  .input-inline {
    border: $input-border-width solid $color-gray;
    width: inherit;
  }

  .input-inline-error {
    border: 3px solid $color-error;
  }
}

.input-error-label {
  display: block;
  font-size: $base-font-size;
  font-weight: $font-weight-bold;
}

.input-error-message {
  color: $color-error;
  display: block;
  font-size: $base-font-size;
  font-weight: $font-weight-bold;
  padding-bottom: 3px;
  padding-top: 3px;
}

.input-required:after {
  color: $color-required;
  content: ' (*required)';
}

.input-optional:after {
  color: $color-gray;
  content: ' (optional)';
}

//Note for select. Uses browser-specific styling for arrow. No custom. 
select {
  background-color: $color-white;
  border: $outer-border;
  border-radius: $input-border-radius;
  color: $color-base; // standardize on firefox
  display: block;
  font-size: $input-font-size;
  line-height: $input-line-height;
  height: $input-standard-height; //fixes bug in chrome where line-height is not respected. 
  width: 100%;
  margin-top: $input-top-margin;
  text-align: left;
  padding: $input-top-bottom-padding $input-left-right-padding;

  // Remove dotted outline from select element on focus in Firefox
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $color-black;
  }
}

legend {
  font-size: $h2-font-size;
  font-weight: $font-weight-bold;
}

.fieldset-inputs {
  label {
    margin-top: 0;
  }
}

// Hint text

.form-hint {
  color: $color-gray;
  margin-bottom: rem-calc(8);
  display: block;
}

// Custom checkboxes

[type=checkbox],
[type=radio] {
  // The actual input element is only visible to screen readers, because
  // all visual styling is done via the label.
  @include sr-only();

  .lt-ie9 & {
    border: 0;
    float: left;
    margin: 0.4em 0.4em 0 0;
    position: static;
    width: auto;
  }
}

[type=checkbox] + label,
[type=radio] + label {
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0.65em;
}

[type=checkbox] + label::before,
[type=radio] + label::before {
  background: $color-white;
  border-radius: $checkbox-border-radius;
  box-shadow: 0 0 0 1px $color-gray;
  content: '\a0';
  display: inline-block;
  height: $spacing-medium;
  line-height: $spacing-medium;
  margin-right: 0.6em;
  text-indent: 0.15em;
  vertical-align: middle\0; // Target IE 11 and below to vertically center inputs
  width: $spacing-medium;
}

[type=radio] + label::before {
  border-radius: 100%;
  box-shadow: 0 0 0 2px $color-white, 0 0 0 3px $color-gray;
  height: 1.4rem; // Size overrides to account for shape + checked styling
  line-height: 1.4rem;
  margin-right: 0.75em;
  width: 1.4rem;
}

[type=checkbox]:checked + label::before,
[type=radio]:checked + label::before {
  background-color: $color-primary;
  box-shadow: 0 0 0 1px $color-primary;
}

[type=radio]:checked + label::before {
  box-shadow: 0 0 0 2px $color-white, 0 0 0 4px $color-primary;
}

[type=checkbox]:checked + label::before,
[type=checkbox]:checked:disabled + label::before {
  background-image: url('#{$image-path}/correct8.png');
  background-image: url('#{$image-path}/correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

[type=radio]:focus + label::before {
  outline: $focus-outline;
  outline-offset: 5px;
}

[type=checkbox]:disabled + label {
  color: $color-gray-lighter;
}

[type=checkbox]:focus + label::before {
  outline: $focus-outline;
  outline-offset: $focus-spacing;
}

[type=checkbox]:disabled + label::before,
[type=radio]:disabled + label::before {
  background: $color-gray-lightest;
  box-shadow: 0 0 0 1px $color-gray-light;
  cursor: not-allowed;
}

// Range inputs

[type=range] {
  appearance: none;
  border: none;
  padding-left: 0;
  width: 100%;
}

[type=range]::-webkit-slider-runnable-track {
  background: $color-gray-light;
  border: 1px solid $color-gray;
  cursor: pointer;
  height: 1.2rem;
  width: 100%;
}

[type=range]::-moz-range-track {
  background: $color-primary;
  border: 1px solid $color-gray;
  cursor: pointer;
  height: 1.2rem;
  width: 100%;
}

[type=range]::-ms-track {
  background: transparent;
  color: transparent;
  cursor: pointer;
  height: 1.2rem;
  width: 100%;
}

[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid $color-gray;
  height: 2.2rem;
  border-radius: 1.5rem;
  background: $color-gray-lightest;
  cursor: pointer;
  margin-top: -.65rem;
  width: 2.2rem;
}

[type=range]::-moz-range-thumb {
  background: $color-gray-lightest;
  border: 1px solid $color-gray;
  border-radius: 1.5rem;
  cursor: pointer;
  height: 2.2rem;
  width: 2.2rem;
}

[type=range]::-ms-thumb {
  background: $color-gray-lightest;
  border: 1px solid $color-gray;
  border-radius: 1.5rem;
  cursor: pointer;
  height: 2.2rem;
  width: 2.2rem;
}

[type=range]::-ms-fill-lower {
  background: $color-gray-light;
  border: 1px solid $color-gray;
  border-radius: 2rem;
}

[type=range]::-ms-fill-upper {
  background: $color-gray-light;
  border: 1px solid $color-gray;
  border-radius: 2rem;
}

[type="file"] {
  border: none;
  padding-left: 0;
}

// Memorable dates

.date-group {
  label {
    margin-top: 0;
  }

  [type=number]::-webkit-inner-spin-button,
  [type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  [type=number] {
    -moz-appearance: textfield;
  }
}

.form-group-day,
.form-group-month,
.form-group-year {
  clear: none;
  float: left;
  margin-right: 1.5rem;
  width: 5rem;
}

.form-group-year {
  width: 7rem;
}


// Required
.required {
  color: $color-error;
}
