//TODO is this relevant...
/* .label {
  background-color: $color-primary;
  border-radius: $label-border-radius;
  color: $color-primary-button-text;
  font-size: $small-text;
  font-weight: bold;
  margin-right: 0.5rem;
  padding: 0.1rem 0.7rem;
  text-transform: uppercase;


  &:only-of-type {
    margin-right: 0;
  }
}

.label-big { //TODO Is it relevant ??
  @extend .label;
  font-size: $base-font-size;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
} */
