.page-header{

}
.page-content{
 
}
.page-footer{

}


.page-header + .page-content{
    margin-top: 40px;
}
.page-content + .page-footer{
    margin-top: 40px;
}

.page-container{
    padding-top: $spacing-medium;
    padding-bottom: $spacing-x-large;
    @include media(md) {
        padding-top: $spacing-x-large;
        padding-bottom: $spacing-xxx-large;
    }
}