
/*
  Styling for selectWoo/select2 component.
*/

.select2, .select2-container{
  ul{
    @include unstyled-list; //undo list stlying for lists inside select2
  }
}

//Height if input area:
.select2{
  min-height: 40px;
}
.selection{
  min-height: 40px;
  display: block;
}
.select2-container .select2-selection--multiple{
  min-height: 40px;
}

//Writing area
.select2-search.select2-search--inline{
  margin-top: 6px;
}

//Focus outline:
.select2-container--focus{
  outline: 4px solid #febb30;
  outline-offset: 0;
}

//Choise
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: black;
  color: #fff;
  border: 1px solid black;
  border-radius: 3px;
}
//Choise rmove icon
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: white;
  &:hover{
    color: white;
  }
}

//Result dropdown::
.select2-container.select2-container--default{
  
  .select2-dropdown{
    border-color: $outer-border;
  }
  //Result option:
  .select2-results__option{ //Option Item
    border-bottom: 1px solid $inner-border;
    padding-left: 48px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: $color-text;
    &:before{ //Selected checkbox
      content: "";
      display: inline-block;
      position: absolute;
      left: 16px;
      top: calc(50% - (20px - 10px));
      height: 20px;
      width: 20px;
      background-color: #fff;
      border: 2px solid black;
      border-radius: 2px;
      vertical-align: middle;
    }
    &[data-selected=true]:before{ //select back background
      background-color: black;
    }
    &[data-selected=true]:after{ //selected white checkmark 
      content: "";
      height: 7px;
      width: 14px;
      position: absolute;
      left: calc(16px + 3px);
      top: calc(50% - (20px - 10px));
      box-shadow: -3px 3px 0px 0 #fff;
      transform: rotate(-45deg);
    }

    &[data-selected=true]{
      background-color: transparent;
    }
    &--highlighted, &--highlighted[data-selected=true]{
      background-color: #f5f5f5;
    }
    &.select2-results__message{//No result message
      padding-left: 8px;
      &:before, &:after{
        display: none;
      }
    }
    &:focus{
      outline: none;
    }
  }
}
