@import '../core/mixins/text-color';

html {
  font-family: $font-name, system;
  font-size: $em-base;
}

body {
  font-size: $base-font-size;
}

p {
  line-height: $base-line-height;
  margin-bottom: rem-calc(8); //0.8em;
  margin-top: rem-calc(16); //1.6em;
}


a {
  color: $color-link;

  &:hover,
  &.link-hover {
    color:$color-link-hover;

    &:disabled,
    .disabled {
      background-color: transparent !important;
    }

  }

  &:active,
  &.link-active {
    color: $color-active;
  }

  &:focus,
  &.link-focus {
    color: $color-link-focus;
    background-color: $color-focus;
    outline: 4px solid $color-link-focus-bg;
  }

  &:visited,
  &.link-visited {
    color: $color-visited;
  }

  &:disabled,
  &.disabled {
    box-shadow: none !important;
    cursor: not-allowed !important;
    color: $color-gray-light !important;
    box-shadow: none !important;
    outline-offset: inherit !important;
    &:focus{
      outline: none;
      background-color: transparent;
    }
  }

  .background-dark &{
    color: $color-gray-pale;

    &:hover,
    &.link-hover {
      color:#ffffff;

      &:disabled,
      .disabled {
        background-color: transparent !important;
      }
    }

    &:active,
    &.link-active {
      color: $color-gray-light;
    }

    &:focus,
    &.link-focus {
      color: $color-gray-001;
      background-color: $color-focus;
      outline: 4px solid $color-link-focus-bg;
    }

    &:visited,
    &.link-visited {
      color: $color-gray-pale;
    }

    &:disabled,
    &.disabled {
      box-shadow: none !important;
      cursor: not-allowed !important;
      color: $color-gray-003 !important;
      box-shadow: none !important;
      outline-offset: inherit !important;
      &:focus{
        outline: none;
        background-color: transparent;
      }
    }
  }
}

//font-family, font-size and line-height for h1-h6, bodytext and smalltext
@mixin h1{
  font-family: $font-name;
  font-size: $h1-font-size; //4.3rem
  line-height: $h1-line-height; //4.8rem
  font-weight: $font-weight-bold;
  color: $color-black;
}
@mixin h2 {
  font-family: $font-name;
  font-size: $h2-font-size; //3.3rem
  line-height: $h2-line-height; //4.0rem
  font-weight: $font-weight-semibold;
  color: $color-black;
}
@mixin h3 {
  font-family: $font-name;
  font-size: $h3-font-size; //2.6rem
  line-height: $h3-line-height; //3.2rem
  font-weight: $font-weight-semibold;
  color: $color-black;
}
@mixin h4{
  font-family: $font-name;
  font-size: $h4-font-size; //2.2rem
  line-height: $h4-line-height; //2.4rem
  font-weight: $font-weight-semibold;
  color: $color-black;
}
@mixin h5 {
  font-family: $font-name;
  font-size: $h5-font-size; //2.0rem
  line-height: $h5-line-height; //2.4rem
  font-weight: $font-weight-medium;
  color: $color-black;
}
@mixin body-copy-text {
  font-family: $font-name;
  font-size: $body-text; //1.8rem
  line-height: $body-text-line-height; //2.4rem
  font-weight: $font-weight-normal;
  color: $color-gray-dark;
}
@mixin form-label-text {
  font-family: $font-name;
  font-size: $form-label;
  line-height: $form-label-line-height; //2.4rem
  font-weight: $font-weight-semibold;
  color: $color-black;
}
@mixin h6 {
  font-family: $font-name;
  font-size: $h6-font-size; //1.6rem
  line-height: $h6-line-height; //2.4rem
  font-weight: $font-weight-semibold;
  color: $color-black;
}
@mixin small-text {
  font-family: $font-name;
  font-size: $small-text; //1.3rem
  line-height: $small-text-line-height; //1.6rem
  font-weight: $font-weight-medium;
  color:$color-gray-dark;
}

@mixin font-weight-bold {
  font-family: $font-name;
  font-weight: $font-weight-semibold;
  color:$color-gray-dark;
}

@mixin font-style-italic {
  font-style: $font-style-italic;
  color:$color-gray-dark
}

@mixin color-text-positive {
  color:$color-text-positive;
}

@mixin color-text-negative {
  color:$color-text-negative;
}

h1, .h1 {
  @include h1;
}
h2, .h2{
  @include h2;
}

h3, .h3 {
  @include h3;
}

h4, .h4{
  @include h4;
}

h5, .h5{
  @include h5;
}

h6, .h6{
  @include h6;
}

p, .body-text, .body-copy-text{
  @include body-copy-text;
}

strong, b, .bold {
  font-family: $font-name;
  font-weight: $font-weight-semibold;
}

.italic, em {
  font-style: $font-style-italic;
}

small, .small-text {
  font-size: $small-text; //1.3rem
  line-height: $small-text-line-height; //1.6rem
  font-weight: $font-weight-medium;
}

.form-label {
  @include form-label-text;
}


//margin top and bottom for text
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.sub-header-text{
  // margin-top: map-get($spacers, 7);
  // margin-bottom: map-get($spacers, 4);
  // &:first-child{
  //   margin-top: 0;
  // }
}
p, .body-text,
.lead, .font-lead{
  // margin-top: map-get($spacers, 4);
  // margin-bottom: map-get($spacers, 4);
}

// Text colors
// @each $color, $value in $colors {
//   @include text-color('.color-text-#{$color}', $value);
// }

@mixin textlink_icon($iconname) {
  &::after {
    background: url('#{$icons-folder-path}/#{$iconname}.svg') no-repeat 0 0;
    background-size: 100%;
    content: '';
    display: inline-block;
    height: rem-calc(24);
    margin-bottom: rem-calc(-6);
    margin-left: rem-calc(6);
    width: rem-calc(24);
  }

  // &:hover::after {
  //   background-image: url('#{$icons-folder-path}/#{$external-link-hover}.svg');
  // }
}

// External link consider "effortless style approach":
// [href^="http:"]:not([href*="my-domain.com"])
// [href^="https:"]:not([href*="my-domain.com"])
.textlink-icon {
  display: inline-block; //Bug fix: correct focus border.
  &.external_link {
    //color: $color-link-hover;
    @include textlink_icon("open-in-new");
  }
  &.print_link {
    @include textlink_icon("printer");
  }
}

// Remove user agent styles

cite,
var,
address,
dfn {
  font-style: normal;
}

// Custom typography

.content {
  p,
  ul:not(.accordion):not(.accordion-bordered),
  ol:not(.accordion):not(.accordion-bordered) {
    max-width: $text-max-width;
  }
  .font-lead{
    max-width: $lead-max-width;
  }
}

.content-list {
  max-width: $text-max-width;
}

.heading {
  p,
  a,
  li,
  span {
    font-family: $font-family;
  }
}

.displayheading {
  &-1 {
    font-weight: 700;
    font-size: rem-calc(80);
    line-height: rem-calc(88);
    margin-bottom: 0;
    color: $color-black;

    @include media($small-screen) {
      //@include h2();
    }

    @include media($medium-screen) {
      //@include h1();
    }
  }
  &-2 {
    font-weight: 700;
    font-size: rem-calc(60);
    line-height: rem-calc(72);
    margin-bottom: 0;
    color: $color-black;

    @include media($small-screen) {
      //@include h2();
    }

    @include media($medium-screen) {
      //@include h1();
    }
  }
}

.text-positive {
  @include color-text-positive();
}

.text-negative {
  @include color-text-negative();
}


.font-lead {
  font-family: $font-family;
  font-size: $lead-font-size;
  font-weight: $font-weight-normal;
  line-height: $lead-line-height;
  max-width: $lead-max-width;
  color:$color-gray-dark;
}

.drop_text {
  margin-bottom: 0;
}

.background-dark {
  background-color: $color-black;

  p,
  span {
    color: $color-white;
  }
}

.step-title {
  margin-top: 0;
  font-weight: 400;
}

.field-group-title {
  font-weight: 400;

  ~ hr {
    border: 2px solid $color-black;
  }
}
