@import '../core/mixins/text-color';

html {
  font-family: $font-name, system;
  font-size: $em-base;
}

body {
  font-size: $base-font-size;
}

p {
  line-height: $base-line-height;
  margin-bottom: rem-calc(8); //0.8em;
  margin-top: rem-calc(16); //1.6em;
}


a {
  color: $color-link;
  padding:rem-calc(4);

  &:hover,
  &.link-hover {
    color:$color-link-hover;

    &:disabled,
    .disabled {
      background-color: transparent !important;
    }
  }

  &:active,
  &.link-active {
    color: $color-active;
  }

  &:focus,
  &.link-focus {
    background-color: $color-focus;
  }

  &:visited,
  &.color-text-visited {
    color: $color-visited;
  }

  &:disabled,
  &.disabled {
    box-shadow: none !important;
    cursor: not-allowed !important;
    color:$color-gray-004 !important;
    box-shadow: none !important;
    outline-offset: inherit !important;
  }

}

//font-family, font-size and line-height for h1-h6, bodytext and smalltext
@mixin h1{
  font-family: $font-name;
  font-size: $h1-font-size; //4.3rem
  line-height: $h1-line-height; //4.8rem
  font-weight: $font-weight-bold;
  color: $color-base;
}
@mixin h2 {
  font-family: $font-name;
  font-size: $h2-font-size; //3.3rem
  line-height: $h2-line-height; //4.0rem
  font-weight: $font-weight-semibold;
  color: $color-base;
}
@mixin h3 {
  font-family: $font-name;
  font-size: $h3-font-size; //2.6rem
  line-height: $h3-line-height; //3.2rem
  font-weight: $font-weight-semibold;
  color: $color-base;
}
@mixin h4{
  font-family: $font-name;
  font-size: $h4-font-size; //2.2rem
  line-height: $h4-line-height; //2.4rem
  font-weight: $font-weight-semibold;
  color: $color-base;
}
@mixin h5 {
  font-family: $font-name;
  font-size: $h5-font-size; //2.0rem
  line-height: $h5-line-height; //2.4rem
  font-weight: $font-weight-normal;
  color: $color-base;
}
@mixin body-copy-text {
  font-family: $font-name;
  font-size: $body-text; //1.8rem
  line-height: $body-text-line-height; //2.4rem
  font-weight: $font-weight-normal;
  color: $color-gray-dark;
}
@mixin form-label-text {
  font-family: $font-name;
  font-size: $form-label;
  line-height: $form-label-line-height; //2.4rem
  font-weight: $font-weight-semibold;
  color: $color-base;
}
@mixin h6 {
  font-family: $font-name;
  font-size: $h6-font-size; //1.6rem
  line-height: $h6-line-height; //2.4rem
  font-weight: $font-weight-semibold;
  color: $color-base;
}
@mixin small-text {
  font-family: $font-name;
  font-size: $small-text; //1.3rem
  line-height: $small-text-line-height; //1.6rem
  font-weight: $font-weight-medium;
  color:$color-gray-dark;
}

@mixin font-weight-bold {
  font-family: $font-name;
  font-weight: $font-weight-bold;
  color:$color-gray-dark;
}

@mixin font-style-italic {
  font-style: $font-style-italic;
  color:$color-gray-dark
}

@mixin color-text-positive {
  color:$color-text-positive;
}

@mixin color-text-negative {
  color:$color-text-negative;
}

h1, .h1 {
  @include h1;
}
h2, .h2{
  @include h2;
}

h3, .h3 {
  @include h3;
}

h4, .h4{
  @include h4;
}

h5, .h5{
  @include h5;
}

h6, .h6{
  @include h6;
}

.body-copy-text{
  @include body-copy-text;
}

.form-label {
  @include form-label-text;
}

small, .small-text {
  @include small-text;
}

//margin top and bottom for text
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.sub-header-text{
  clear: both;
  margin-top: map-get($spacers, 7);
  margin-bottom: map-get($spacers, 4);
  &:first-child{
    margin-top: 0;
  }
}
p, .body-text,
.lead, .font-lead{
  clear: both;
  margin-top: map-get($spacers, 4);
  margin-bottom: map-get($spacers, 4);
}


strong,
b,
.bold {
  @include font-weight-bold;
}

em {
  @include font-style-italic;
  line-height: $base-line-height;
  margin-top: map-get($spacers, 4);
  margin-bottom: map-get($spacers, 4);
}




// Text colors
// @each $color, $value in $colors {
//   @include text-color('.color-text-#{$color}', $value);
// }

@mixin external-link($external-link, $external-link-hover) {
  &::after {
    background: url('#{$image-path}/#{$external-link}.png') no-repeat 0 0;
    background: url('#{$image-path}/#{$external-link}.svg') no-repeat 0 0;
    background-size: 100%;
    content: '';
    display: inline-block;
    height: rem-calc(16);
    margin-bottom: rem-calc(-4);
    margin-left: rem-calc(4);
    width: rem-calc(13);
  }

  &:hover::after {
    background-image: url('#{$image-path}/#{$external-link-hover}.png');
    background-image: url('#{$image-path}/#{$external-link-hover}.svg');
  }
}

// External link consider "effortless style approach":
// [href^="http:"]:not([href*="my-domain.com"])
// [href^="https:"]:not([href*="my-domain.com"])

.external_link {
  //color: $color-link-hover;
  @include external-link(external-link, external-link-hover);
}

.external_link-alt {
  @include external-link(external-link-alt, external-link-alt-hover);
}

// Remove user agent styles

cite,
var,
address,
dfn {
  font-style: normal;
}

// Custom typography

.content {
  p,
  ul:not(.accordion):not(.accordion-bordered),
  ol:not(.accordion):not(.accordion-bordered) {
    max-width: $text-max-width;
  }
}

.content-list {
  max-width: $text-max-width;
}

.heading {
  p,
  a,
  li,
  span {
    font-family: $font-heading;
  }
}

.displaytext {
  &__splash {
    @include font-weight-bold();
    font-size: rem-calc(80);
    line-height: rem-calc(88);
    margin-bottom: 0;
    color: $color-base;

    @include media($small-screen) {
      //@include h2();
    }

    @include media($medium-screen) {
      //@include h1();
    }
  }
  &__large {
    @include font-weight-bold();
    font-size: rem-calc(60);
    line-height: rem-calc(72);
    margin-bottom: 0;
    color: $color-base;

    @include media($small-screen) {
      //@include h2();
    }

    @include media($medium-screen) {
      //@include h1();
    }
  }
}

.text-positive {
  @include color-text-positive();
}

.text-negative {
  @include color-text-negative();
}


.font-lead {
  font-family: $font-heading;
  font-size: $lead-font-size;
  font-weight: $font-weight-normal;
  line-height: $lead-line-height;
  max-width: $lead-max-width;
  color:$color-gray-dark;
}

.drop_text {
  margin-bottom: 0;
}

.background-dark {
  background-color: $color-gray-dark;

  p,
  span {
    color: $color-white;
  }

  a {
    color: $color-gray-lighter;

    &:hover {
      color: $color-white;
    }
  }
}

.step-title {
  margin-top: 0;
  font-weight: 400;
}

.field-group-title {
  font-weight: 400;

  ~ hr {
    border: 2px solid $color-base;
  }
}
