{% extends 'layouts/_base.njk' %}

{% block body %}

  {% for spec in before %}
    {% render '@' + spec.component, spec.context, true %}
  {% endfor %}

  <main class="container section content layout-docs" id="main-content">
    <div class="row">
      <aside class="col-3 layout-docs-sidenav">
        {% render '@sidenav', {sidenav: sidenav} %}
      </aside>

      <div class="col-9 layout-docs-main_content">
        <h1>{{ page.title }}</h1>

        <p class="font-lead">{{ page.lead }}</p>

        <p class="content">
          {{ page.body }}

          <ul>
          {% for list in page.lists %}
            <li>{{ list }}</li>
          {% endfor %}
          </ul>

          <ol>
          {% for list in page.lists %}
            <li>{{ list }}</li>
          {% endfor %}
          </ol>
        </p>

        {% for spec in inner %}
        <section id="{{ spec.id }}">
          <h2>{{ spec.title }}</h2>
          {% if spec.include %}
            {% include spec.include %}
          {% elseif spec.component %}
            {% render '@' + spec.component, spec.context, spec.merge %}
          {% else %}
            {{ spec.content }}
          {% endif %}
        </section>
        {% endfor %}

      </div>
    </div>
  </main>

  {% for spec in after %}
    {% render '@' + spec.component, spec.context, true %}
  {% endfor %}

{% endblock %}
