<div class="overflow-menu">
    <button class="overflow-menu-btn">
        <svg class="overflow-menu-svg" width="4" height="20" viewBox="0 0 4 20" fill-rule="evenodd">
            <circle cx="2" cy="2" r="2"></circle>
            <circle cx="2" cy="10" r="2"></circle>
            <circle cx="2" cy="18" r="2"></circle>
        </svg>
    </button>
    <div class="overflow-menu-options">
        <button class="overflow-menu-options-btn">Option 1</button>
        <button class="overflow-menu-options-btn">Option 2</button>
        <button class="overflow-menu-options-btn">Option 3</button>
        <button class="overflow-menu-options-btn">Option 4 is longer text</button>
    </div>
</div>