{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}

 {% macro overflowmenu(text, id, openRight, openLeft, icon, contentHTML, doResponsiveCollapse) %}
    <div class="overflow-menu {% if openRight %} overflow-menu--open-right {% endif %}{% if openLeft %} overflow-menu--open-left {% endif %}">
        <button class="button-overflow-menu js-dropdown {% if doResponsiveCollapse %} js-dropdown--responsive-collapse {% endif %}" data-js-target="#{{ id }}" aria-haspopup="true" aria-expanded="false">
            {{ text }}
            {% if icon %}<svg class="icon-svg"><use xlink:href="#{{ icon }}"></use></svg>{% endif %}
            <span class="sr-only">Åbner overflow menu</span>
        </button>
        <div class="overflow-menu-inner" id="{{ id }}" aria-hidden="true">
            {{ contentHTML|safe }}
        </div>
    </div>
{% endmacro %}
<div class="container pt-6">
    <div class="row">
        <div class="col-12 col-md-6">
               <p class="h6">Overflow menu</p>
                {{overflowmenu("Overflow menu","overflow1", true, false, "dots-vertical" ,"
                    <ul class='overflow-list'>
                        <li><button>Option 1</button></li>
                        <li><button>Option 2</button></li>
                        <li><a href='#'>Option 3 as link</a></li>
                        <li><button>Option 4 is longer text</button></li>
                    </ul>
                    "
                ) }}
                <div style="padding-bottom: 50px;"></div>
        </div>
        <div class="col-12 col-md-6">
            <p class="h6">Overflow menu - åbner til venstre</p>
            <div >
                {{overflowmenu("Overflow menu","overflow2", false, true, "dots-vertical" ,"
                    <ul class='overflow-list'>
                        <li><button>Option 1</button></li>
                        <li><button>Option 2</button></li>
                        <li><a href='#'>Option 3 as link</a></li>
                        <li><button>Option 4 is longer text</button></li>
                    </ul>
                    "
                ) }}
            </div>
        </div>
    </div> 
    <div style="padding-bottom: 160px;"></div>
</div>