.DS_store
.*.swp

# ignore Node-specific files and directories
node_modules/
npm-debug.log*

# code coverage
coverage/

# ignore the generated dist directory
dist/

# ignore the generated dkwds directory
dkwds-*/
dkwds-*.zip

# ignore the generated builds directory
#build/components/detail/
#build/components/preview/
#build/components/raw/
#build/dist/
#build/themes/
#build/components/

build/

# ignore gulp-generated vendor files
src/stylesheets/lib