<div class="container">
  <div class="row">
    <div class="col-12">
      <p>This is a normal body text </p><br>
      <p class="bold">This is a bold body text</p><br>
      <em>This is an italic body text </em>
    </div>
  </div>
</div>
