<div class="container">
  <div class="row">
    <div class="col-6">
      <p class="h6">Display text 1</p>
      <p class="displayheading-1">
        10 dage<span class="text-positive"> Positiv</span> <span class="text-negative">Negativ</span>
      </p>
    </div>
    <div class="col-6">
      <p class="h6">Display text 2</p>
      <p class="displayheading-2">
        10 dage<span class="text-positive"> Positiv</span> <span class="text-negative">Negativ</span>
      </p>
    </div>
  </div>
</div>
