<div class="container">
  <div class="row">
    <div class="col-6">
      <p class="displaytext__splash">
        <span class="text-positive">10 dage</span> positiv <span class="text-negative">55°/12°E</span>
      </p>
    </div>
    <div class="col-6">
      <p class="displaytext__large">
        <span class="text-negative">80 centimeter</span> tredive kilogram sytten nætter tilgodehavende feriedage
      </p>
    </div>
  </div>
</div>
