<div class="container">
  <div class="row">
    <div class="col-12">
      <p><u>This line of text will render as underlined</u></p>
      <p><small>This line of with small text (small-tag)</small></p>
      <p class="small-text">This line of with small text (.small-text-class)</p>
      <p><strong>This line rendered as bold text.</strong></p>
      <p><b>This line rendered as bold text with b-tag.</b></p>
      <p><em>This line rendered as italicized text.</em></p>
      <p><i>This line rendered as italicized text with i-tag.</i></p>
    </div>
  </div>
</div>
