<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Dette er brødtekst.</p>
      <p><u>Dette er brødtekst med understregning</u></p>
      <p><small>Dette er lille brødtekst (small-tag)</small></p>
      <p class="small-text">Dette er lille brødtekst (.small-text-class)</p>
      <p><strong>Dette er fed brødtekst</strong></p>
      <p><b>Dette er også fed brødtekst lavet med et b-tag.</b></p>
      <p><em>Dette er brødtekst skrevet i kursiv.</em></p>
      <p><i>Dette er brødtekst skrevet i kursiv med et i-tag.</i></p>
    </div>
  </div>
</div>
