<div class="container">
  <div class="row">
    <div class="col-12">
    <p>
      <label class="form-label">Dette er en feltoverskrift</label>
    </p>
    <table class="table table--borderless">
      <thead>
        <tr style="border-bottom:0;">
          <th style="border-bottom:0;">Dette er en kolonneoverskrift i en tabel</th></tr>
      </thead>
    </table>
      
    
  </div>
</div>
