{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% macro link(url, class, text, attr) %}
  <a href="{{url}}" class="{{class}}" {{attr}}>{{text}}</a>
{% endmacro %}

<p>This is a text {{ link('javascript:void(0);', '', 'Default link state','') }} on a light background.</p>

<p>This is a {{ link('javascript:void(0);', '', 'hover link state','') }} </p>

<p>This is a {{ link('javascript:void(0);', 'color-text-visited', 'Active link state','') }}</p>

<p>This is a {{ link('javascript:void(0);', 'link-focus', 'Focus link state','') }}</p>

<p>This is a link that goes to an {{ link('', 'textlink-icon external_link', 'external website','')}}

<p>This is a text {{ link('javascript:void(0);', 'disabled', 'Disabled link state','disabled="disabled"') }}</p>


<div class="background-dark">
  <p>{{ link ('javascript:void(0);', '', 'This') }} is a text link on a dark background.</p>
</div>
