{# Unordered list #}
{% macro ul_list(list_ul, subclass) %}
  {% for item in list_ul %}
  <li>
    {{ item.text }}
    {% if item.list_ul %}
    <ul class="{{ subclass }}">
      {{ ul_list(item.list_ul, subclass) }}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
{% endmacro %}

{# Ordered list #}
{% macro ol_list(list_ol, subclass) %}
  {% for item in list_ol %}
  <li>
    {{ item.text }}
    {% if item.list_ol %}
    <ol class="{{ subclass }}">
      {{ ol_list(item.list_ol, subclass) }}
    </ol>
    {% endif %}
  </li>
  {% endfor %}
{% endmacro %}

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <p class="h4">Unordered list</p>
        <ul>
          {{ ul_list(lists.list_ul, 'sub_list') }}
        </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <p class="h4">Ordered list</p>
        <ol>
          {{ ol_list(lists.list_ol, 'sub_list') }}
        </ol>
    </div>
  </div>
</div>