{% macro list(type, content) %}
  {% if (type == 'ul') -%}
    <ul>
      {{content}}
    </ul>
  {%- elif (type == 'ol') -%}
    <ol>
      {{content}}
    </ol>
  {%- endif %}
{% endmacro %}


{% macro listitem(class, text) %}
  <li{%- if class -%} class="{{class}}"{%- endif -%}>{{text}}</li>
{% endmacro %}


<div class="usa-grid-full">
  <div class="usa-width-one-third">
    <h4 class="usa-heading-alt">Unordered list</h4>
    <ul>
      <li>Unordered list item
        <ul>
          <li>Unordered sublist item</li>
        </ul>
      </li>
      <li>Unordered list item
        <ul>
          <li>Unordered sublist item</li>
          <li>Unordered sublist item</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="usa-width-one-third">
    <h4 class="usa-heading-alt">Ordered list</h4>
    <ol>
      <li>Ordered list item
        <ol>
          <li>Ordered sublist item</li>
        </ol>
      </li>
      <li>Ordered list item
        <ol>
          <li>Ordered sublist item</li>
          <li>Ordered sublist item</li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="usa-width-one-third">
    <h4 class="usa-heading-alt">Mixed ordered and unordered list</h4>
    <ol>
      <li>Ordered list item
        <ul>
          <li>Unordered sublist item</li>
          <li>Unordered sublist item</li>
        </ul>
        <ol>
          <li>Ordered sublist item</li>
          <li>Ordered sublist item</li>
        </ol>
      </li>
    </ol>
    <ul>
      <li>Unordered list item
        <ol>
          <li>Ordered sublist item</li>
          <li>Ordered sublist item</li>
        </ol>
        <ul>
          <li>Unordered sublist item</li>
          <li>Unordered sublist item</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<style scoped>
  h4 {
    margin-bottom: 1rem;
  }
  .usa-grid-full .usa-width-one-third:first-of-type {
    margin-bottom: 30px;
  }
</style>
