{% macro list(type, content) %}
  {% if (type == 'ul') -%}
    <ul>
      {{content}}
    </ul>
  {%- elif (type == 'ol') -%}
    <ol>
      {{content}}
    </ol>
  {%- endif %}
{% endmacro %}


{% macro listitem(class, text) %}
  <li{%- if class -%} class="{{class}}"{%- endif -%}>{{text}}</li>
{% endmacro %}


<div class="row">
  <div class="col-12 col-md-8">
    <h4 class="h4">Unordered list</h4>
    <ul>
      <li>Unordered list item
        <ul>
          <li>Unordered sublist item</li>
        </ul>
      </li>
      <li>Unordered list item
        <ul>
          <li>Unordered sublist item</li>
          <li>Unordered sublist item</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-8">
    <h4 class="h4">Ordered list</h4>
    <ol>
      <li>Ordered list item
        <ol>
          <li>Ordered sublist item</li>
        </ol>
      </li>
      <li>Ordered list item
        <ol>
          <li>Ordered sublist item</li>
          <li>Ordered sublist item</li>
        </ol>
      </li>
    </ol>
  </div>
  <div class="col-12 col-md-8">
    <h4 class="h4">Mixed ordered and unordered list</h4>
    <ol>
      <li>Ordered list item
        <ul>
          <li>Unordered sublist item</li>
          <li>Unordered sublist item</li>
        </ul>
        <ol>
          <li>Ordered sublist item</li>
          <li>Ordered sublist item</li>
        </ol>
      </li>
    </ol>
    <ul>
      <li>Unordered list item
        <ol>
          <li>Ordered sublist item</li>
          <li>Ordered sublist item</li>
        </ol>
        <ul>
          <li>Unordered sublist item</li>
          <li>Unordered sublist item</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-8">
    <h4 class="h4">Unstyled list</h4>
    <ul class="unstyled-list">
      <li>Unstyled list item</li>
      <li>Unstyled list item</li>
      <li>Unstyled list item</li>
      <li>Unstyled list item</li>
    </ul>
  </div>
</div>

<style scoped>
  h4 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
</style>
