<div class="container">
  <div class="row">
    <div class="col-12">
      <h6 class="heading-alt">Line length for paragraph - Desktop</h6>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p class="help-text">Equivalent of 6 columns max on desktop</p>
      </div>

      <h6 class="heading-alt">Line length for lead-text - Desktop</h6>
      <div class="content">
        <p class="font-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p class="font-lead help-text">Equivalent of 8 columns max on desktop</p>
      </div>

      <h6 class="heading-alt">Spacing</h6>

      <h1>Page heading</h1>
      <p class="font-lead">Great Smoky Mountains National Park straddles the border of North Carolina and Tennessee.</p>

      <h2>Section heading</h2>

      <h3>Section of the page</h3>
      <p>The sprawling landscape encompasses lush forests and an abundance of wildflowers that bloom year-round. Streams, rivers and waterfalls appear along hiking routes that include a segment of the Appalachian Trail.</p>

      <h4>Subsection of the page</h4>
      <p>World renowned for its diversity of plant and animal life, the beauty of its ancient mountains, and the quality of its remnants of Southern Appalachian mountain culture, this is America's most visited national park.</p>
      <p>Right now scientists think that we only know about 17 percent of the plants and animals that live in the park, or about 17,000 species of a probable 100,000 different organisms.</p>

      <h5>Subsection of the page</h5>
      <p>Entrance to Great Smoky Mountains National Park is free. The park is one of the few national parks where no entrance fees are charged.</p>
    </div>
  </div>
</div>
