{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}
{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}

{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b><br>Forsikringens Forsikringsfirma</p>
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p>Support: 72 20 60 00 <br> <button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
            <a href="" class="function-link">Gem kladde
              {{icon_svg("save")}}
            </a>
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
  <section class="container page-container">
    <div class="row">
      <div class="col-12">
          {{overflowmenu("Trin 9 af 9","overflow_steps", true, false, "menu-down" ,"
              <ul class='sidenav-list'>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-1'>
                          1. Oplysninger om afsender
                           <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-2'>
                          2. Hvis AES har spørgsmål til sagen
                           <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-3'>
                          3. Oplysninger om skadelidte
                           <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-4'>
                          4. Sagens natur
                           <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-5'>
                          5. Oplysninger om sagen
                           <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-6'>
                          6. Tilføj dokumentation for første undersøgelse af skaden
                           <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-7'>
                          7. Tilføj dokumentation fra sagen
                           <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-8'>
                          8. Tilføj kommentarer til sagen
                           <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-9' class='active'>
                          9. Opsummering
                      </a>
                  </li>
              </ul>
              "
          ) }}
          <div class="content">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h1>Opsummering</h1>
                    <p class="font-lead">Her kan du kontrollere, om oplysningerne er korrekte.</p>
                    <h2>Dine oplysninger</h2>
                    <table class="table table--borderless table--compact table--responsive-headers">
                        <tbody>
                            <tr>
                                <th class="w-percent-md-30">Virksomhedens navn</th>
                                <td>Forsikringens forsikring (enhed)</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-1">Rediger</a></td>
                            </tr>
                            <tr>
                                <th class="w-percent-md-30">Kontaktperson</th>
                                <td>John Doe<br>privatskade@ff.dk<br>+45 1234 5678</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-2">Rediger</a></td>
                            </tr>
                            <tr>
                                <th class="w-percent-md-30">Afsender er</th>
                                <td>Forsikringens forsikring (enhed)</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-1">Rediger</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="h5">Oplysninger om skadelidte</h3>
                    <table class="table table--borderless table--compact table--responsive-headers mt-6 mb-7">
                        <tbody>
                            <tr>
                                <th class="w-percent-md-30">Skadelidtes navn</th>
                                <td>Susanne Maria Zaggariasen</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-3">Rediger</a></td>
                            </tr>
                            <tr>
                                <th class="w-percent-md-30">Skadelidtes CPR</th>
                                <td>110687-1478</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-3">Rediger</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="h5">Oplysninger om sagen</h3>
                    <table class="table table--borderless table--compact table--responsive-headers mt-6 mb-7">
                        <tbody>
                            <tr>
                                <th class="w-percent-md-30">Sagstype</th>
                                <td>Erstatningsansvarloven</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-4">Rediger</a></td>
                            </tr>
                            <tr>
                                <th class="w-percent-md-30">Emne</th>
                                <td>Mén (6.220 kr.)</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-4">Rediger</a></td>
                            </tr>
                            <tr>
                                <th class="w-percent-md-30">Skadedato</th>
                                <td>1/10-2017</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-5">Rediger</a></td>
                            </tr>
                            <tr>
                                <th class="w-percent-md-30">Sagsnummer</th>
                                <td>prsk013456</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-5">Rediger</a></td>
                            </tr>
                            <tr>
                                <th class="w-percent-md-30">Verserende retsag</th>
                                <td>Nej</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-5">Rediger</a></td>
                            </tr>
                            <tr>
                                <th class="w-percent-md-30">Skadelidtes advokat</th>
                                <td>Nej</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-5">Rediger</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="h5">Yderligere oplysninger</h3>
                    <table class="table table--borderless table--compact table--responsive-headers mt-6 mb-7">
                        <tbody>
                            <tr>
                                <th class="w-percent-md-30">Faktuelle oplysninger</th>
                                <td>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lectus quis sem lacinia nonummy. 
                                    Proin mollis lorem non dolor. In hac habitasse platea dictumst. Nulla ultrices odio. 
                                    Donec augue. Phasellus dui. Maecenas facilisis nisl vitae nibh. Proin vel seo est vitae eros pretium dignissim. 
                                    Aliquam aliquam sodales orci. Suspendisse potenti. Nunc adipiscing euismod arcu. Quisque facilisis mattis lacus. 
                                </td>
                                <td class="align-text-md-right"><a href="#">Rediger</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Bilagsoversigt</h2>
                    <h3 class="h5">Første undersøgelse af skade</h3>
                    <table class="table table--borderless table--compact table--responsive-headers mt-6 mb-7">
                        <thead>
                            <tr>
                                <th>Original titel</th>
                                <th>Navngivning</th>
                                <th>Kommentar</th>
                                <th>Størrelse</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>prn1023152_attest.pdf</td>
                                <td>Journal fra egen læge</td>
                                <td>2/10-2017</td>
                                <td>2,3 mb</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-7">Rediger</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="h5">Oplysninger om varigt mén</h3>
                    <table class="table table--borderless table--compact table--responsive-headers mt-6 mb-7">
                        <thead>
                            <tr>
                                <th>Original titel</th>
                                <th>Navngivning</th>
                                <th>Kommentar</th>
                                <th>Størrelse</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>prn1023152_attest.pdf</td>
                                <td>Journal fra egen læge</td>
                                <td>2/10-2017</td>
                                <td>2,3 mb</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-7">Rediger</a></td>
                            </tr>
                            <tr>
                                <td>prn1023152_attest.pdf</td>
                                <td>Journal fra egen læge</td>
                                <td>2/10-2017</td>
                                <td>2,3 mb</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-7">Rediger</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="h5">Første undersøgelse af skade</h3>
                    <table class="table table--borderless table--responsive-headers table--compact mt-6">
                        <thead>
                            <tr>
                                <th>Original titel</th>
                                <th>Navngivning</th>
                                <th>Kommentar</th>
                                <th>Størrelse</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>prn1023152_attest.pdf</td>
                                <td>Journal fra egen læge</td>
                                <td>2/10-2017</td>
                                <td>2,3 mb</td>
                                <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-7">Rediger</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-10" class="button button-primary mt-7">Send sagen til AES</a>
                    <div class="breadcrumb">
                    <a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-8" class="button button-ghost">Tilbage</a>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}