<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6">
      <p class="h6">Statiske kanter (0px)</p>
      <div class="static-border-radius-example"></div>
    </div>
    <div class="col-12 col-sm-12 col-md-6">
      <p class="h6">Interaktive kanter (4px)</p>
      <div class="interactive-border-radius-example"></div>
    </div>
  </div>
</div>



