<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6">
      <p class="h6">Modalvindue</p>
      <div class="heavy-shadow-example"></div>
      <p class="h6 mt-6">Overflowmenu</p>
      <div class="moderately-shadow-example"></div>
      <p class="h6 mt-6">Cards</p>
      <div class="slightly-shadow-example"></div>
  </div>
</div>



