footer {

  p, h1, h2, h3, h4, h5, h6 {
    margin:0;
  }
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin:0;
  }
  

  //generel for footer
  .footer {
    border-top: $outer-border;
    padding-top: calc(#{map-get($spacers, 4)} - 1px);
    padding-bottom: calc(#{map-get($spacers, 4)} - 1px);

    .align-left {
      text-align: left;
    }
    .align-right {
      text-align: right;
      @include for-size(phone-only) {
        text-align: left;
      }
    }

    .footer-col {
      @include for-size(phone-only) {
        &:not(:first-child) {
          margin-top: map-get($spacers, 5);
        }
      }
    }

    .logo{
      background-image: url('./../assets/img/logo-placeholder.png');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      height: 100px;
      width: 150px;
    }

    ul{
      &:not(:last-child) {
        margin-bottom: map-get($spacers, 5);
      }

      &.footer-links {
        li {
          margin-top:map-get($spacers, 3);
        }
      }
    }

    .inline-list {
    > li:not(:last-child) {
        &:after {
            content: "\00b7" !important;
            float: right;
            margin-left: map-get($spacers, 2);
              @include for-size(phone-only) {
                content: "" !important;
                float: auto;
                margin-left: 0;
              }
        }
      }
    }
  }
  //footer-theme
  .footer-theme {
    padding-top: map-get($spacers, 4);
    padding-bottom: map-get($spacers, 3);
  }
}