footer {

  p, h1, h2, h3, h4, h5, h6 {
    margin:0;
  }
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin:0;
  }
  

  //generel for footer
  .footer {
    border-top: $outer-border;
    padding-top: calc(#{map-get($spacers, 4)} - 1px);
    padding-bottom: calc(#{map-get($spacers, 4)} - 1px);
    @include media-breakpoint-up(md) { 
      padding-bottom: 56px;
    }

    .footer-col {
      &:not(:first-child) {
        margin-top: map-get($spacers, 5);
      }
      @include media-breakpoint-up(md) { 
        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }

    .logo{
      background-image: url($image-path + '/logo-placeholder.png');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      height: 100px;
      width: 150px;
    }

    ul{
      &:not(:last-child) {
        margin-bottom: map-get($spacers, 5);
      }

      &.footer-links {
        li {
          margin-top:map-get($spacers, 3);
        }
      }
    }

    .inline-list {
    > li:not(:last-child) {
        &:after {
          @include media-breakpoint-up(md) { 
            content: "\00b7" !important;
            margin-left: map-get($spacers, 2);
          }
        }
      }
    }
  }
  //footer-theme
  .footer-theme {
    padding-top: map-get($spacers, 4);
    padding-bottom: map-get($spacers, 3);
  }
}