$form-width: 40rem;

.form {
  @include media($medium-screen) {
    max-width: $form-width;
  }
}

fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

fieldset + fieldset{
  margin-top: $spacing-x-large;
}

input { 

  &.input-tiny { /* stylelint-disable-line selector-no-qualifying-type */
    @include media($medium-screen) {
      max-width: 6rem;
    }
  }

  &.input-medium { /* stylelint-disable-line selector-no-qualifying-type */
    @include media($medium-screen) {
      max-width: 12rem;
    }
  }

}

.input-grid {
  @include media($medium-screen) {
    padding-right: 5%;
  }
}

.input-grid:last-of-type {
  @include media($medium-screen) {
    padding-right: 0;
  }
}

.input-grid-small {
  @include media($medium-screen) {
    float: left;
    width: 35%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.input-grid-medium {
  @include media($medium-screen) {
    float: left;
    width: 65%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.input-grid-large {
  @include media($medium-screen) {
    float: left;
    width: 100%;
  }

  input {
    margin-bottom: 3rem;
  }

  select {
    margin-bottom: 3rem;
  }
}

.additional_text {
  font-weight: normal;
}

// Reset password checklist

.checklist {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 3em;
    text-indent: -2em;

    &::before {
      content: ' ';
      display: inline-block;
      height: .8em;
      margin-right: .2em;
      width: 1.8em;
    }
  }
}

.checklist-checked {
  &::before {
    background-image: url('#{$image-path}/correct9.png');
    background-image: url('#{$image-path}/correct9.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
