// Header variables ---------- //

$height-nav-secondary: 5rem;
$width-nav-sidebar:    250px;

// z-indexes - TODO refactor to a site-wide z-index management approach
$z-index-header:  7000;
$z-index-overlay: 8000;
$z-index-nav:     9000;

// Header ------------- //

.header {
  width: 100%;
  background-color: $color-gray-pale;
  z-index: $z-index-header;

  a {
    border-bottom: none;
  }

  .logo{
    //background-image is set by the themes in the "themes"-scss-files.
    background-image: url('http://via.placeholder.com/200x60');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 60px;
    width: 200px;
  }

  .button-menu-open {
    @include media($nav-responsive-breakpoint) {
      display: none;
    }
  }
  .button-menu-close {
    display: inline-flex;
    width: min-content;
    align-self: flex-end;
    .icon-svg{
      margin: 0 8px 0 0;
    }
    span{
      position: relative;
      top: 1px;
    }
    @include media($nav-responsive-breakpoint) {
      display: none;
    }
  }

  .portal-header{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
    height: auto;
    border-bottom: 1px solid $color-white;
  }

  .solution-header{
    .solution-heading {
      @include h3;
      a {
        color: $color-black;
        text-decoration: none;
      }
    }
  }


  .nav {
    $sliding-panel-width: 282px;
    @keyframes slidein-left {
      from {
        transform: translateX($sliding-panel-width);
      }

      to {
        transform: translateX(0);
      }
    }
    @include position(fixed, 0 0 0 auto);

    background: $color-white;
    //border-left: 1px solid $color-gray-light;
    //border-right: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    padding: map-get($spacers, 4);
    width: $sliding-panel-width;
    z-index: $z-index-nav;

    @include media($nav-responsive-breakpoint) {
      @include padding(4.5rem 0 0 null);
      border-left: none;
      display: block;
      overflow-y: visible;
      position: relative;
      transform: translateX(0);
      width: auto;
    }

    @include media($nav-responsive-breakpoint) {
      background-color: $color-gray-pale;
      border-top: 1px solid $color-white;
      padding: 0;
      width: 100%;
    }

    &.is-visible {
      animation: slidein-left 0.3s ease-in-out;
      display: flex;
    }

    nav {
      margin-top: 4rem; // XXX magic number
      min-height: 100%;

      @include media($nav-responsive-breakpoint) {
        margin-top: 0;
      }
    }

    .current {
      border-left: 4px solid $color-primary;
      color: $color-primary;
      font-weight: $font-weight-bold;
      padding-left: 1.4rem;

      @include media($nav-responsive-breakpoint) {
        color: $color-black;
      }
    }
  }

  .nav-primary {
    button {
      &[aria-expanded=false],
      &[aria-expanded=true] {
        @include media($nav-responsive-breakpoint) {
          background-position: right 1.5rem top 53%;
        }
      }
    }
  }
}
.overlay {
  @include position(fixed, 0);
  background: $color-black;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
  z-index: $z-index-overlay;

  &.is-visible {
    opacity: 0.1;
    visibility: visible;
  }
}
