// Header variables ---------- //

$height-nav-secondary: 5rem;
$width-nav-sidebar:    250px;

// z-indexes - TODO refactor to a site-wide z-index management approach
$z-index-header:  7000;
$z-index-overlay: 8000;
$z-index-nav:     9000;

// Header ------------- //

.header {
  width: 100%;
  background-color: $color-gray-lightest;
  z-index: $z-index-header;

  @include media($nav-width) {
    border-bottom: 1px solid $color-gray-lighter;
  }

  a {
    border-bottom: none;
  }

  .search {
    margin-bottom: 1.5rem;

    @include media($nav-width) {
      float: right;
      margin-bottom: 0;
      max-width: 21.5rem;
    }
  }

  .logo{
    //background-image is set by the themes in the "themes"-scss-files.
    background-position: 0rem 3.0rem;
    background-repeat: no-repeat;
    min-height: 95px;
    display: inline-block;
  }
}



.solution-heading {
  float: left;
  line-height: 4rem;
  margin-left: 1.5rem;
  

  @include media($nav-width) {
    line-height: 7.5rem;
    margin-left: 0;
  }

  a {
    color: $color-base;
    text-decoration: none;
  }

  br {
    display: none;

    @include media($nav-width) {
      display: block;
    }
  }
}

.heading-text {
  display: block;
  font-size: $h5-font-size;
  font-style: normal;
  font-weight: $font-bold;
  margin: 0;

  @include media($nav-width) {
    display: block;
    font-size: 2.4rem;
    line-height: $heading-line-height;
  }
}

.menu-btn {
  /* stylelint-disable declaration-block-no-ignored-properties */
  @include button-unstyled;
  background-color: $color-primary;
  color: $color-white;
  display: inline;
  float: right;
  font-size: $h6-font-size;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 5.8rem;
  /* stylelint-enable */

  @include media($nav-width) {
    display: none;
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary-darker;
  }

  &:visited {
    color: $color-white;
  }
}

.overlay {
  @include position(fixed, 0);
  background: $color-black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: $z-index-overlay;

  &.is-visible {
    opacity: 0.1;
    visibility: visible;
  }
}

// Basic header ----------- //

.header-basic {
  .solution-heading {
    @include media($nav-width) {
      bottom: 0;
      position: absolute;
    }
  }

  .navbar {
    @include media($nav-width) {
      position: relative;
      width: 18%; // TODO: review this more
    }
  }
}

// Extended header ----------- //

.header-extended {
  .portal-header{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
    height: auto;
    border-bottom: 1px solid $color-white;

    // @include media($nav-width) {
      &:after{
        clear: both;
        content: "";
        display: block;
      }
    // }
    
  }
  .portal-header-inner{
    @include media($nav-width) {
      @include outer-container();
      @include padding(null $site-margins);
      margin-top: -1px;
      max-width: $site-max-width;
      position: relative;
    }
  }

  .header {
    @include media($nav-width) {
      border-bottom: none;
    }
  }

  .solution-heading {
    @include media($nav-width) {
      @include margin(3rem null);
    }
  }

  em {
    @include media($nav-width) {
      font-size: 3.2rem;
      line-height: 1;
    }
  }

  .navbar {
    @include media($nav-width) {
      @include outer-container();
      @include padding(null $site-margins);
      display: block;
      height: auto;
      max-width: $site-max-width;
    }
  }

  .nav {
    @include media($nav-width) {
      background-color: $color-gray-lightest;
      border-top: 1px solid $color-white;
      float: none;
      padding: 0;
      width: 100%;
    }
  }

  .nav-inner {
    @include media($nav-width) {
      @include outer-container();
      @include padding(null $site-margins null 1.5rem);
      margin-top: -1px;
      max-width: $site-max-width;
      position: relative;
    }
  }

  .nav-primary {
    @include media($nav-width) {
      @include clearfix;
    }

    button {
      &[aria-expanded=false],
      &[aria-expanded=true] { /* stylelint-disable-line selector-no-qualifying-type */
        @include media($nav-width) { /* stylelint-disable-line selector-no-qualifying-type */
          background-position: right 1.5rem top 53%;
        }
      }
    }
  }

  .nav-link {
    @include media($nav-width) {
      @include padding(1.8rem null);
    }
  }

  .nav-submenu {
    .grid-full {
      @include media($nav-width) {
        padding-left: 1.2rem;
      }
    }
  }

  .megamenu {
    @include media($nav-width) {
      padding-left: $site-margins;
    }
  }
}
