// Flexbox positioning to move sidenav below main content on small screens
.layout-docs {
  display: flex;
  flex-direction: column;

  @include media($large-screen) {
    display: inherit;
  }

  .grid {
    > :first-child:not(.width-*) {
      margin-top: 0;
    }

    > :last-child:not(.width-*) {
      margin-bottom: 0;
    }
  }
}

.layout-docs-sidenav {
  order: 2;
}

.layout-docs-main_content {
  margin-bottom: $site-margins;
  order: 1;

  @include media($large-screen) {
    margin-bottom: 0;
  }

  > :first-child {
    margin-top: 0;
  }
}

// Info row
.info-row {
  display: flex;
  padding: 1rem 1.5rem;
  background-color: $color-gray-lightest;
  border-top: 1px solid $color-gray-lighter;
}
