.dialog-overlay {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  	background-color: $color-black;
  	opacity: 0.75;
}

.dialog {
	z-index: 3;
	background-color: $color-white;
	padding:map-get($spacers, 8) map-get($spacers, 13) map-get($spacers, 8) map-get($spacers, 13);
	width: 66.6%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	.close-dialog {
		float: right;
		right: map-get($spacers, 5);
		position: absolute;
		@include body-copy-text;
		top:map-get($spacers, 5)
	}
	.dialog-title {
		margin: 0;
		font-weight: $font-weight-semibold;

	}
	.dialog-description {
		margin:map-get($spacers, 3) 0 0 0;
	}
	.modalbuttons {
		margin-top:map-get($spacers, 5);
		.button {
			margin-right: map-get($spacers, 4);
		}
	}
}

.dialog-overlay[aria-hidden="true"],
.dialog[aria-hidden="true"] {
	display: none;
}

.dialog-overlay:not([aria-hidden="true"]),
.dialog:not([aria-hidden="true"]) {
	display: block;
}

.sr-only {
	opacity: 0;
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
