// Header navigation ------------- //

@mixin nav-border {
  border-bottom: 0.4rem solid $color-primary;
  padding-bottom: 0.6rem;
}

@mixin nav-border-thick {
  border-bottom: 0.7rem solid $color-primary;
  padding-bottom: 0.9rem;
}

@mixin nav-active {
  border-bottom: 7px solid $color-primary;
  padding-bottom: 12px;
}

.navbar {
  width: 100%;
  padding-left: map-get($spacers, 4);
  padding-right: map-get($spacers, 4);
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 5);
  border-bottom: $inner-border;
  display: flex;
  flex-direction: column;

  @include media($nav-responsive-breakpoint) {
    padding: 0;
    border: 0;
    flex-direction: row;
  }
}
.navbar-primary{
  border-bottom: $inner-border;
  padding-top: 0;
}
.navbar-context-actions{
  @include media($nav-responsive-breakpoint) {
    padding-top: map-get($spacers, 3);
  }
}

// Primary navigation ------------- //

.nav-primary {
  @include unstyled-list;
  display: flex; 
  flex-direction: column;
  margin-top: 8px;

  @include media($nav-responsive-breakpoint) {
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-top: 0;
  }

  > li {
    border-bottom: $inner-border;
    @include media($nav-responsive-breakpoint) {
      margin-right: map-get($spacers, 5);
      border-bottom: 0;
    }
    > a {
      text-decoration: none;
      color: $color-black;
      font-size: $base-font-size;
      line-height: $base-line-height;
      display: block;
      padding-top: calc(#{map-get($spacers, 4)} - 1px);
      padding-bottom: calc(#{map-get($spacers, 4)} - 1px);

      &:hover {
        @include media($nav-responsive-breakpoint) {
          background-color: transparent;
        }
      }
    }
  }

  a {
    @include media($nav-responsive-breakpoint) {
      @include padding(0.75rem null);
    }

    &:hover {
      @include media($nav-responsive-breakpoint) {
      }
    }
  }

  button[aria-expanded=true] {
    span {
      @include media($nav-responsive-breakpoint) {
        @include nav-active;
      }
    }
  }

  .current {
    @include media($nav-responsive-breakpoint) {
      span {
        @include nav-active;
      }
    }
  }

  .nav-link {
    &:hover {
      span {
        @include media($nav-responsive-breakpoint) {
          @include nav-active;
        }
      }
    }
  }

  button {
    @include button-unstyled;
    color: $color-black;
    font-size: $base-font-size;
    line-height: $base-line-height;
    display: block;
    width: 100%;
    padding-top: calc(#{map-get($spacers, 4)} - 1px);
    padding-bottom: calc(#{map-get($spacers, 4)} - 1px);
    @include media($nav-responsive-breakpoint) {
      width: unset;
    }
    span{
      padding-right: map-get($spacers, 7);
    }

    &:focus,
    &:active {
      box-shadow: $focus-outline;
    }

    &[aria-expanded=false] {
      background-image: url('#{$icons-folder-path}/plus.svg');
      background-repeat: no-repeat;
      background-position: right 16px center;
      background-size: 24px;

      @include media($nav-responsive-breakpoint) {
        background-image: url('#{$icons-folder-path}/angle-arrow-down.svg');
        background-position: right 1.5rem center;
      }
    }

    &[aria-expanded=true] { 
      background-image: url('#{$icons-folder-path}/minus.svg');
      background-repeat: no-repeat;
      background-position: right 16px center;
      background-size: 24px;

      @include media($nav-responsive-breakpoint) {
        background-image: url('#{$icons-folder-path}/angle-arrow-down.svg');
        background-position: right 1.5rem center;

      }
    }
  }

  a.current, .current {
    font-weight: $font-weight-semibold;
    color: $color-primary;
  }

  .nav-primary {
    button {
      &[aria-expanded=false],
      &[aria-expanded=true] {
        @include media($nav-responsive-breakpoint) {
          background-position: right 1.5rem top 53%;
        }
      }
    }
  }

}

.nav-secondary{
  @include media($nav-responsive-breakpoint) {
    display: flex;
    align-items: center;
  }
  .nav-secondary-heading{
    margin-bottom: map-get($spacers, 4);
    @include media($nav-responsive-breakpoint) {
      margin-bottom: 0;
    }
    + ul{
      @include media($nav-responsive-breakpoint) {
        margin-left: map-get($spacers, 4);
      }
    }
  }
}

// Navigation submenu (dropdown) ----- //
.nav-submenu {
  //@include sidenav-sublist;
  @include unstyled-list;
  font-size: $body-text;
  line-height: $body-text-line-height;
  color: $color-text;
  background-color: #fff;
  padding-left: 16px;
  border-top: $inner-border;

  @include media($nav-responsive-breakpoint) {
    width: 21.5rem;
    border: $outer-border;
    border-top: 0;
    padding-left: 0;
    position: absolute;
  }

  &[aria-hidden=true] {
    display: none;
  }

  button{
      @include button-unstyled;   
  }
  a{
      @include body-copy-text;
      display: block;
      text-decoration: none;
      &:hover, &:visited, &:focus{
          color: $color-text;
      }
  }

  button, a{
    padding: 15px 0 15px 0;
    border-top: $inner-border;
    width: 100%;

    @include media($nav-responsive-breakpoint) {
      padding: 8px 16px;
      margin: 0;
      border: none;
      &:hover{
        background-color: $color-gray-pale;
      }
    }
  }
  li:first-child button, li:first-child a{
    border-top: 0;
  }
}


.mobile_nav-active {
  overflow: hidden;
}

// Navbar inner
.navbar-inner {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.nav-info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0;
    text-align: right;

    &.clear {
      display: block;
    }

    p {
      margin: 0;
    }

    a {
      text-decoration: none;
    }
  }
}
