// Header navigation ------------- //

@mixin nav-border {
  border-bottom: 0.4rem solid $color-primary;
  padding-bottom: 0.6rem;
}

@mixin nav-border-thick {
  border-bottom: 0.7rem solid $color-primary;
  padding-bottom: 0.9rem;
}

@mixin nav-active {
  border-bottom: 7px solid $color-primary;
  padding-bottom: 12px;
}

.navbar {
  width: 100%;
  padding-left: map-get($spacers, 4);
  padding-right: map-get($spacers, 4);
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 5);
  border-bottom: $inner-border;
  display: flex;
  flex-direction: column;

  @include media($nav-responsive-breakpoint) {
    padding: 0;
    border: 0;
    flex-direction: row;
  }
}
.navbar-primary{
  border-bottom: $inner-border;
  padding-top: 0;
}

.nav-link {
  @include font-smoothing;
  &.accordion-button {
    span {
      @include media($nav-responsive-breakpoint) {
        margin-right: 0;
        padding-right: 1.5rem;
      }
    }
  }
}

// Primary navigation ------------- //

.nav-primary {
  @include unstyled-list;
  display: flex; 
  flex-direction: column;
  margin-top: 8px;

  @include media($nav-responsive-breakpoint) {
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-top: 0;
  }

  > li {
    border-bottom: $inner-border;
    @include media($nav-responsive-breakpoint) {
      margin-right: map-get($spacers, 5);
      border-bottom: 0;
    }
    > a {
      text-decoration: none;
      color: $color-black;
      font-size: $base-font-size;
      line-height: $base-line-height;
      display: block;
      padding-top: calc(#{map-get($spacers, 4)} - 1px);
      padding-bottom: calc(#{map-get($spacers, 4)} - 1px);

      &:hover {
        @include media($nav-responsive-breakpoint) {
          background-color: transparent;
        }
      }
    }
  }

  a {
    @include media($nav-responsive-breakpoint) {
      @include padding(0.75rem null);
    }

    &:hover {
      @include media($nav-responsive-breakpoint) {
      }
    }
  }

  button[aria-expanded=true] {
    span {
      @include media($nav-responsive-breakpoint) {
        @include nav-active;
      }
    }
  }

  .current {
    @include media($nav-responsive-breakpoint) {
      span {
        @include nav-active;
      }
    }
  }

  .nav-link {
    &:hover {
      span {
        @include media($nav-responsive-breakpoint) {
          @include nav-active;
        }
      }
    }
  }

  button {
    $button-vertical-offset: 40%;

    @include button-unstyled;
    @include font-smoothing;
    font-weight: $font-weight-normal;
    line-height: 1.3;
    padding: 0.85rem 1.5rem 0.85rem 1.8rem;

    @include media($nav-responsive-breakpoint) {
      @include padding(1.3rem 1.5rem 2.2rem 1.5rem);
      color: $color-gray-medium-dark;
      font-size: $h5-font-size;
      font-weight: $font-weight-bold;
      line-height: 1;
      width: initial;
    }

    &:focus,
    &:active {
      box-shadow: $focus-outline;
    }

    &:hover {
      background-color: $color-gray-pale;
      color: $color-primary;

      @include media($nav-responsive-breakpoint) {
        background-color: transparent;
      }
    }

    &[aria-expanded=false] { /* stylelint-disable-line selector-no-qualifying-type */
      background-image: url('#{$image-path}/plus-alt.png');
      background-image: url('#{$image-path}/plus-alt.svg');
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: 1rem;

      @include media($nav-responsive-breakpoint) {
        background-image: url('#{$image-path}/angle-arrow-down.png');
        background-image: url('#{$image-path}/angle-arrow-down.svg');
        background-position: right 1.5rem top $button-vertical-offset;
      }

      &:hover {
        @include media($nav-responsive-breakpoint) {
          background-image: url('#{$image-path}/angle-arrow-down-primary.png');
          background-image: url('#{$image-path}/angle-arrow-down-primary.svg');
        }
      }
    }

    &[aria-expanded=true] { /* stylelint-disable-line selector-no-qualifying-type */
      background-image: url('#{$image-path}/minus-alt.png');
      background-image: url('#{$image-path}/minus-alt.svg');
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: 1rem;

      @include media($nav-responsive-breakpoint) {
        background-color: $color-gray-medium-dark;
        color: $color-white;
        background-image: url('#{$image-path}/angle-arrow-down-hover.png');
        background-image: url('#{$image-path}/angle-arrow-down-hover.svg');
        background-position: right 1.5rem top $button-vertical-offset;

        &:hover {
          background-color: $color-gray-medium-dark;
        }

        span {
          @include nav-border;
          color: $color-white;
        }
      }
    }
  }

  @include media($nav-responsive-breakpoint) {
    a.current,
    .current { // stylelint-disable-line selector-no-qualifying-type
      // undo the sidenav style
      border-left: 0;
      padding-left: 1.5rem;

      &:hover {
        span {
          color: $color-primary;
        }
      }

      span {
        @include nav-border;
        color: $color-black;
      }
    }
  }

  .nav-primary {
    button {
      &[aria-expanded=false],
      &[aria-expanded=true] {
        @include media($nav-responsive-breakpoint) {
          background-position: right 1.5rem top 53%;
        }
      }
    }
  }

}

.nav-secondary{
  .nav-secondary-heading{
    margin-bottom: map-get($spacers, 4);
    @include media($nav-responsive-breakpoint) {
      margin-bottom: 0;
    }
  }
}


// Extended header navigation ------- //

.nav-tertiary{
  padding-top: 1.4rem;
}

// Navigation submenu (dropdown and mega menu) ----- //

.nav-submenu {
  @include sidenav-sublist;

  @include media($nav-responsive-breakpoint) {
    @include unstyled-list;
    @include padding(0.75rem null 0.9rem null);
    background-color: $color-gray-medium-dark;
    width: 21.5rem;
    position: absolute;
  }

  &[aria-hidden=true] {
    display: none;
  }

  a {
    @include media($nav-responsive-breakpoint) {
      color: $color-white;
      padding-left: 1.5rem; // XXX magic number
    }

    &:hover {
      @include media($nav-responsive-breakpoint) {
        background-color: $color-gray-medium-dark;
        color: $color-white;
        padding-left: 1.5rem;
        text-decoration: underline;
      }
    }

    // this used to be necessary to undo the `sidenav-sublist`
    // include, above
    // &:hover,
    // &.current { /* stylelint-disable-line selector-no-qualifying-type */
    //   @include media($nav-responsive-breakpoint) {
    //     padding-left: 1.8rem;
    //   }
    // }
  }

  li {
    font-size: $h5-font-size;
    margin-bottom: 0;
  }
}


.mobile_nav-active {
  overflow: hidden;
}

// Navbar inner
.navbar-inner {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.nav-info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0;
    text-align: right;

    &.clear {
      display: block;
    }

    p {
      margin: 0;
    }

    a {
      text-decoration: none;
    }
  }
}
