
$overflow-menu-arrow-size: 8px;
$overflow-menu-dropdown-distance: 8px;

.overflow-menu {
    cursor: pointer;
    display: inline-block;
    position: relative;

    .button-overflow-menu{
        position: relative;
        @include button-unstyled;
        min-height: 40px;
        min-width: 40px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            background-color: $color-gray-pale;
        }

        //below: arrow with border
        &:after, &:before {
            display: none;
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            z-index: 2;
            bottom: calc(#{$overflow-menu-dropdown-distance} * -1 - 1px);
        }
        &:after {
            border-bottom-color: #fff;
            border-width: calc(#{$overflow-menu-arrow-size} - 1px);
            margin-left: calc((#{$overflow-menu-arrow-size} - 1px)*-1);
        }
        &:before {
            border-bottom-color: $color-gray-medium-light;
            border-width: $overflow-menu-arrow-size;
            margin-left: calc(#{$overflow-menu-arrow-size} *-1);
        }
    }

    &.open {
        .button-overflow-menu{
            &:before, &:after{
                display: block;
            }
        }
        .overflow-menu-inner {
            display: block;
        }
    }

    .overflow-menu-inner {
        display: none;
        position: absolute;
        z-index: 1;
        width: auto;
        border: $outer-border;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
        background: #fff;
        padding-top: map-get($spacers, 3);
        padding-bottom: map-get($spacers, 3);
        top: calc(100% + #{$overflow-menu-dropdown-distance});
        min-width: 200px;       
    }

    .overflow-list{
        @include unstyled-list;
        font-size: $body-text; 
        line-height: $body-text-line-height;
        color: $color-text;
        button{
            @include button-unstyled;   
        }
        a{
            @include body-copy-text;
            display: block;
            text-decoration: none;
            &:hover, &:visited, &:focus{
                color: $color-text;
            }
        }

        button, a{
            padding: 8px;
            width: 100%;
            &:hover{
                background-color: $color-gray-pale;
            }
        }
    }

    .sidenav-list{
        border-top: 0;
        border-bottom: 0;
    }

    &--open-right {
        .overflow-menu-inner{
            left: calc(50% - 19px);
            &:after {
                left: 13px;
            }
        }
    }
    &--open-left {
        .overflow-menu-inner{
            right: calc(50% - 19px);
            &:after {
                right: 13px;
            }
            li, a, button{
                text-align: right;
            }
        }
    }
}