.page-navigation{
    margin-top: map-get($spacers, 7);
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
        display: inline-flex;
    }
    .button + .button{
        margin-top: map-get($spacers, 3);
        margin-left: 0;
    }
}