$btn-small-width:   4.5rem;
$btn-medium-width:  8.5rem;
$btn-big-width:     11.6rem;

@mixin search-icon {
  background-image: url('#{$image-path}/search.png');
  background-image: url('#{$image-path}/search.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

.search {
  @include clearfix;
  max-width: none;
  position: relative;
  margin:   0.4rem;

  &__item-wrapper {
    display: flex!important;


    .search__submit {
      width: calc(16px + 16px + 24px); //2 x padding + 24 icon-size
    }

    .search__text_submit{
      width: inherit !important;
    }
  }

  &__text_submit {
    background-image: none !important;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  [type=submit],
  .search__submit {
    @include search-icon;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    //height: rem-calc(40);
    //margin: 0;


    //width: $btn-small-width;

    // @include media($small-screen) {
    //   //background-image: none;
    //   width: $btn-medium-width;
    // }
  }

  //  &.search-big {
  //   @include media($small-screen) {
  //     $height: 4.4rem;
  //     $width: $btn-big-width;
  //
  //     [type=search],
  //     .search-input {
  //       font-size: $base-font-size;
  //       //height: $height;
  //       width: calc(100% - #{$width});
  //     }
  //
  //     [type=submit],
  //     .search-submit {
  //       font-size: $h3-font-size;
  //       height: $height;
  //       width: $width;
  //     }
  //   }
  // }

  // &.search-small {
  //   @include media($small-screen) {
  //     $width: $btn-small-width;
  //
  //     [type=search],
  //     .search-input {
  //       width: calc(100% - #{$width});
  //     }
  //
  //     [type=submit],
  //     .search-submit {
  //       @include search-icon;
  //       width: $width;
  //     }
  //   }
  //
  //   $lt-nav-width: $nav-width - 1px;
  //
  //   @media screen and (max-width: $lt-nav-width) {
  //     &.sr-only {
  //       left: auto;
  //       position: relative;
  //     }
  //   }
  // }

}

// Extra specificity to override rules set in reset.css.
input[type=search] { /* stylelint-disable-line selector-no-qualifying-type */
  box-sizing: border-box;
  appearance: none;
}

[type=search],
.search-input {
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-right-radius: 0;
  box-sizing: border-box;
  //height: 3.3rem;
  margin: 0;
  //width: calc(100% - #{$btn-small-width});

  @if($enable-uswd-grid == true){
    float: left; //from USWD, used by uswd-grid
  }

  @include media($small-screen) {
    //width: calc(100% - #{$btn-medium-width});
  }
}

.search-submit-text {
  @include sr-only;

  @include media($small-screen) {
    @include not-sr-only();
  }
}
