@mixin search-icon {
  background-image: url('#{$image-path}/search.png');
  background-image: url('#{$image-path}/search.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}
//$color-primary
.search {
  @include clearfix;
  max-width: none;
  position: relative;

  [type=submit],
  .search-submit {
    @include search-icon;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    @include media($small-screen) {
      background-image: none;
    }
  }

}

// Extra specificity to override rules set in reset.css.
input[type=search] { /* stylelint-disable-line selector-no-qualifying-type */
  box-sizing: border-box;
  appearance: none;
}

[type=search],
.search-input {
  @include padding(0 null);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
    float: left;
    //font-size: 16px;
    //height: 3.3rem;
    border-right: none;
    margin:0;
    width: 90%;



  @include media($small-screen) {

  }
}

.search-submit-text {
  @include sr-only;

  @include media($small-screen) {
    @include not-sr-only();
  }
}
