
.usa-sidenav-list {
  @include usa-sidenav-list;
}

.usa-sidenav-sub_list {
  @include usa-sidenav-sublist;
}

.tringuide {
  li {
    border-top: 0;
  }
  li a{
    background: $tringuide-bg-color;
    padding: 20px;
    padding-left: 20px;
    padding-bottom: 22px;
    padding-top: 16px;
    border-bottom: 1px solid #999999;
    color: #474747;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.35em;

    span.error { 
      i.fa {
        font-size:16px;
        color: $color-error;
        padding-right: 6px;
      }
    }
    span.info { 
      i.fa {
        font-size:16px;
        color: $color-success;
        padding-right: 6px;
      }
    }

    span.error, span.info {
      display: block;
      font-size: 13px;
      margin-top: 10px;
      text-decoration: none;
    }
  }
  a.usa-current{
    background-color: #fff;
    color: $color-base;
    font-weight: normal;
  }
}