$border-row-hover: 1px solid  $color-primary-lightest;
$border-row: 1px solid $color-gray-light;

.table {
    margin: 0;
    line-height: $body-text-line-height;

    thead {
        background-color: $color-gray-pale;
        tr {
            border-bottom: solid 1px $border-row;
        }
        th{
            font-weight: $font-weight-semibold;
            text-align: left;
        }
    }
    tbody{
        tr {
            background-color: $color-white;
        }
    }

    td, th {
        padding: calc(#{map-get($spacers, 4)} - 1px); //16px -1px (for the border)
        background-color: inherit;
        border: $border-row;
        vertical-align: top;
    }

    //hover on row
    &.row-hover{
        tr:hover{
            td {
                background-color:  $color-gray-pale;
            }
        }
    }

    //no border
    &.borderless {
        thead {
            background-color: transparent;
            th{
                background-color: transparent;
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
            }
        }
        tbody{
            tr{
                td {
                    border: $border-row;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    &:first-child{
                        padding-left: 0;
                    }
                    &:last-child{
                        padding-right: 0;
                    }
                }
                &:first-child td{
                    border-top-color: transparent;
                    border-top-color: transparent;
                }
                &:last-child td{
                    border-bottom-color: transparent;
                    border-bottom-color: transparent;
                }
            }
        }
    }

    //zebra lines
    &.zebra {
        thead {
          th{
              border-right-color: transparent;
              &:last-child{
                border-right: $border-row;
              }
          }
        }
        tr:nth-child(even) {
            background-color: $color-gray-pale;
        }

        tbody{
            td{
                border-color: transparent;
                &:first-child{
                    border-left: $border-row;;
                }
                &:last-child{
                    border-right: $border-row;;
                }
            }
            tr:last-child td{
                border-bottom: $border-row;;
            }
        }

        &.borderless {
            thead{
                background-color: $color-gray-pale;
            }
            td,th {
                border-color: transparent;
                &:first-child{
                    border-left-color: transparent;
                    border-right-color: transparent;
                }
                &:last-child{
                    border-left-color: transparent;
                    border-right-color: transparent;
                }
            }
            tr:last-child td{
                border-bottom-color: transparent
            }
        }
    }

    &.compact {
        tbody > tr {
            //height: $spacing-medium;
        }
    }
    &.short {
        tbody > tr {
            //height: $spacing-large;
        }
    }
    &.tall {
        tbody > tr {
            //height: $spacing-xx-large;
        }
    }
}
