// tab navigation

.tabnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid $color-border-focus;

    li {
      float: left;  
      margin-bottom: 0;

      @include for-size(phone-only) {
        float: none; 
      }

      a {
        display: block;
        color: $color-black;
        text-align: center;
        padding: map-get($spacers, 3);
        margin: map-get($spacers, 3);
        margin-bottom:0;
        text-decoration: none;
        @include for-size(phone-only) {
          border-bottom:7px solid $color-white;
        }

        &:hover {
          color: $color-link-hover;
          border-bottom: $tabs-border-bottom;
        }

        &.active {
          color: $color-primary;
          border-bottom: $tabs-border-bottom;
          font-weight: $font-weight-bold;
        }
      }
    }

  
}