


//Styling of tippy.js tooltips

.popover{
    cursor: pointer;
}
.tippy-tooltip{
    @include body-copy-text;
    font-size: 1.3rem;
    box-shadow: 0 4px 20px 4px rgba(0,20,60,.1), 0 4px 80px -8px rgba(0,20,60,.2);
    background-color:#fff;
    border: $outer-border;
}
.tippy-tooltip .tippy-backdrop{
    background-color:#fff
}
.tippy-tooltip .tippy-roundarrow{
    fill:#fff
}
.tippy-tooltip[data-animatefill]{
    background-color:transparent
}

.tippy-popper[x-placement^=top] .tippy-tooltip .tippy-arrow{
    border-top:7px solid $color-gray-medium-light;
    border-right:7px solid transparent;
    border-left:7px solid transparent;
    &:after{
        content: '';
        border-top: 6px solid white;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        display: block;
        position: absolute;
        bottom: 1px;
        margin-left: -6px;
    }
}
.tippy-popper[x-placement^=bottom] .tippy-tooltip .tippy-arrow{
    border-bottom:7px solid $color-gray-medium-light;
    border-right:7px solid transparent;
    border-left:7px solid transparent;
    &:after{
        content: '';
        border-bottom: 6px solid white;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        display: block;
        position: absolute;
        top: 1px;
        margin-left: -6px;
    }
}
.tippy-popper[x-placement^=left] .tippy-tooltip .tippy-arrow{
    border-left:7px solid $color-gray-medium-light;
    border-top:7px solid transparent;
    border-bottom:7px solid transparent;
    &:after{
        content: '';
        border-left: 6px solid white;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        display: block;
        position: absolute;
        top: -6px;
        margin-left: -7px;
    }
}
.tippy-popper[x-placement^=right] .tippy-tooltip .tippy-arrow{
    border-right:7px solid $color-gray-medium-light;
    border-top:7px solid transparent;
    border-bottom:7px solid transparent;
    &:after{
        content: '';
        border-right: 6px solid white;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        display: block;
        position: absolute;
        top: -6px;
        margin-left: 1px;
    }
}

.tooltip {
    border:none;
    background: none;
    padding:0;
}