//Styling of tippy.js tooltips
.popover{
    cursor: pointer;
}
.tippy-popper{
    .tippy-backdrop{
        background-color: #fff;
    }
    .tippy-tooltip{
        box-shadow: 0 4px 20px 4px rgba(0,20,60,.1), 0 4px 80px -8px rgba(0,20,60,.2);
        
    }
    .tippy-content{
        @include body-copy-text;
        font-size: 1.3rem;
    }
}

.tooltip {
  border:none;
  background: none;
  padding:0;
}