//
// Generates utility classes to control width in percent. 
// Example: .w-percent-100 .w-percent-md-30
//

$backgroundcolors: (
  normal: $background-normal, //WHITE
  alternative: $background-alternative, //GRAY
  modal: $background-modal //BLACK
) !default;


@each $name, $color in $backgroundcolors { 
  .bg-#{$name}         { background: $color !important; background-color: $color !important;}
}
