{# 
  @param classes: alert-info, alert-success, alert-warning, alert-error, alert-paragraph, alert-slim. 
  @param role: e.g. 'alert'. 
  @param title: String, title of the alert. 
  @param content: String, the text content of the alert. 

  @usage: 
    {% import "alerts/alerts.njk" as alerts %}
    ...
    {{ alert('alert-info', 'alert', 'A fancy title', 'Some alert content text') }}

  @return: the HTML for an alert-box.
#}
{% macro alert(classes, role, title, content) %}

<div class="alert {{ classes }}" {% if role %}role="{{role}}"{% endif %}>
  <div class="alert-body">
    {%- if title -%}
    <h3 class="alert-heading">{{ title }}</h3>
    {%- endif -%}
    <p class="alert-text">{{ content }}</p>
  </div>
</div>

{% endmacro %}

{% for item in alert_example.items -%}
  {{ alert(item.classes, item.role, item.title, item.content ) }}
{%- endfor %}
{#
{{ alert("alert-info", "alert", alert_example.title, alert_example.content) }}
<br><br>
{{ alert("alert-success", "alert" ,"Success Status", alert_example.content) }}
<br><br>
{{ alert("alert-warning", "alert" ,"Warning Status", alert_example.content) }}
<br><br>
{{ alert("alert-error", "alert","Error Status", alert_example.content) }}
<br><br>
{{ alert("alert-error alert-showicon", "alert","Error Status", alert_example.content) }}
<br><br>
{{ alert("alert-info alert-paragraph", "alert","Information Status - Paragraph Width", "Multi line. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui atione voluptatem sequi nesciunt. Neque porro quisquam est, qui doloremipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.") }}
#}