{% macro alert(classes, role, title, content) %}

<div class="usa-alert {{ classes }}" {% if role %}role="{{role}}"{% endif %}>
  <div class="usa-alert-body">
    {%- if title -%}
    <h3 class="usa-alert-heading">{{ title }}</h3>
    {%- endif -%}
    <p class="usa-alert-text">{{ content }}</p>
  </div>
</div>

{% endmacro %}

{{ alert(alert_example.classes, alert_example.role, alert_example.title, alert_example.content) }}

