<div class="grid-example">
    <div class="container">
        <div class="row">
            <div class="col">
                First, but unordered
            </div>
            <div class="col order-12">
                Second, but last
            </div>
            <div class="col order-1">
                Third, but first
            </div>
        </div>
    </div>
</div>
