<pre>
    <code>$grid-columns:      <span class="m">12</span>;
$grid-gutter-width: 1rem; <span class="cl">// 32px</span>

$grid-breakpoints: (
    <span class="cl">// Extra small screen / phone</span>
    xs: <span class="m">0</span>,
    <span class="cl">// Small screen / phone</span>
    sm: <span class="m">576px</span>,
    <span class="cl">// Medium screen / tablet</span>
    md: <span class="m">768px</span>,
    <span class="cl">// Large screen / desktop</span>
    lg: <span class="m">992px</span>,
    <span class="cl">// Extra large screen / wide desktop</span>
    xl: <span class="m">1200px</span>
);

$container-max-widths: (
    sm: <span class="m">540px</span>,
    md: <span class="m">720px</span>,
    lg: <span class="m">960px</span>,
    xl: <span class="m">1140px</span>
);</code>
</pre>

<style scoped>
    pre {
        display: block;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: 98%;
        color: #212529;
    }
    code {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }
    .cl {
        color: #999;
    }
    .m {
        color: #f60;
    }
</style>
