<pre>
<code><span class="nc">.no-gutters</span> <span class="err">{</span>
    <span class="nl">margin-right</span><span class="p">:</span> <span class="m">0</span><span class="err">;</span>
    <span class="nl">margin-left</span><span class="p">:</span> <span class="m">0</span><span class="err">;</span>

    <span class="o">&gt;</span> <span class="nc">.col</span><span class="o">,</span>
    <span class="o">&gt;</span> <span class="o">[</span><span class="nt">class</span><span class="o">*=</span><span class="n2">&quot;col-&quot;</span><span class="o">]</span> <span class="err">{</span>
        <span class="nl">padding-right</span><span class="p">:</span> <span class="m">0</span><span class="err">;</span>
        <span class="nl">padding-left</span><span class="p">:</span> <span class="m">0</span><span class="err">;</span>
    <span class="err">}</span>
<span class="err">}</span></code>
</pre>

<style scoped>
    pre {
        display: block;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: 98%;
        color: #212529;
    }
    code {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }
    .nc {
       color: #0a8;
    }
    .err {
        color: #212529;
    }
    .nl {
        color: #99f;
    }
    .p {
        color: #212529;
    }
    .m {
        color: #f60;
    }
    .o {
        color: #555;
    }
    .nt {
        color: #2f6f9f;
    }
    .s2 {
        color: #c30;
    }
</style>
