<pre>
    <code><span class="nv">$grid-columns</span><span class="p">:</span> <span class="m">12</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
<span class="nv">$grid-gutter-width</span><span class="p">:</span> <span class="m">30px</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span></code>
</pre>

<style scoped>
    pre {
        display: block;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: 98%;
        color: #212529;
    }
    code {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }
    .p {
        color: #212529;
    }
    .nv {
        color: #033;
    }
    .m {
        color: #f60;
    }
    .o {
        color: #555;
    }
    .nb {
        color: #366;
    }
</style>
