<pre>
    <code><span class="nv">$grid-breakpoints</span><span class="p">: (</span>
    <span class="n">xs</span><span class="o">:</span> <span class="m">0</span><span class="o">,</span>
    <span class="n">sm</span><span class="o">:</span> <span class="m">480px</span><span class="o">,</span>
    <span class="n">md</span><span class="o">:</span> <span class="m">768px</span><span class="o">,</span>
    <span class="n">lg</span><span class="o">:</span> <span class="m">1024px</span>
<span class="p">);</span>

<span class="nv">$container-max-widths</span><span class="p">: (</span>
    <span class="n">sm</span><span class="o">:</span> <span class="m">420px</span><span class="o">,</span>
    <span class="n">md</span><span class="o">:</span> <span class="m">720px</span><span class="o">,</span>
    <span class="n">lg</span><span class="o">:</span> <span class="m">960px</span>
<span class="p">);</span></code>
</pre>

<style scoped>
    pre {
        display: block;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: 98%;
        color: #212529;
    }
    code {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }
    .p, .n {
        color: #212529;
    }
    .nv {
        color: #033;
    }
    .m {
        color: #f60;
    }
    .o {
        color: #555;
    }
</style>
