{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}
{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}

{% from "alerts/alerts.njk" import alert as alert %}


{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
        <p class="mt-0">Københavns Urmager Værksted v/Martin Elsig</p>
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
            <a href="" class="function-link">Gem kladde
              {{icon_svg("save")}}
            </a>
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
  <section class="container">
    <div class="row">
      <div class="col-12">
          {{ alert("alert alert-success alert--show-icon", "alert", "Sagen er sendt til AES", "", "success" ) }}
          {{ alert("alert alert-warning alert--show-icon", "alert", "Husk betaling", "Gebyret skal indsættes på vores konto i banken", "warning" ) }}
      </div>
    </div>
    <div class="row page-container">
      <div class="col-12">
          <div class="content">
            <h1 class="mb-0">Kvittering</h1>
            <p class="form-hint mt-2">Referencenummer: 28346863</p>
            <div class="mt-0 mb-4">
              <p>Hvis du ønsker dokumentation på fremsendelse kan du downloade anmodningen.</p>
            </div>
            <button class="button button-secondary">{{ icon_svg('download')}} Download kvittering som pdf</button>
            <h2 class="h5 mt-7 mb-5">Hvad sker der nu</h2>
            <p>Sagens parter vil indenfor 7 hverdage modtage en kvittering med journalnummer og oplysninger om, hvornår AES forventer at have en udtalelse klar.</p>
            <h2 class="h5 mt-7 mb-5">Husk betaling</h2>
            <p class="mt-0 mb-0">Gebyret for udtalelsen skal sættes ind på vores konto i Danske Bank:</p>
            <div class="row">
              <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                  <table class="table table--borderless table--compact">
                        <tbody>
                            <tr>
                                <td class="weight-semibold">Reg.nr.:</td>
                                <td>0216</td>
                            </tr>
                            <tr>
                                <td class="weight-semibold">Kontonr.:</td>
                                <td>4069068936</td>
                            </tr>
                        </tbody>
                  </table>
                </div>
            </div>
            <div class="mt-4">
              <p class="mt-0 mb-0">Gebyr: 6.220 kr.</p>
              <p class="mt-0 mb-0">Ved overførslen skal I oplyse skadelidtes CPR-nr.: 1702671913</p>
            </div>
            <h2 class="h5">Ved spørgsmål eller supplerende oplysninger</h2>
            <div class="mt-4">
              <p class="mt-0 mb-0">Kontakt AES på aes@aes.dk eller 72 00 60 00</p>
              <p class="mt-0 mb-0">Referencenummer: 28346863</p>
            </div>
            <br>
            <button class="button button-secondary">Opret ny sag</button>
      </div>
    </div>
  </section>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}