{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}
{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}

{% from "07-form/controls/radiobutton.njk" import radiobutton as radiobutton %}

{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b><br>Forsikringens Forsikringsfirma</p>
        
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p>Support: 72 20 60 00 <br> <button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
            <a href="" class="function-link">{{icon_svg("save")}} Gem kladde</a>
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
  
{% endblock %}

{% block body %}
  <section class="container page-container">
    <div class="row">
      <div class="col-12">
          {{overflowmenu("Trin 1 af 9","overflow_steps", true, false, "menu-down" ,"
              <ul class='sidenav-list'>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-1' class='active'>
                          1. Oplysninger om afsender
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-2'>
                          2. Hvis AES har spørgsmål til sagen
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-3'>
                          3. Oplysninger om skadelidte
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-4'>
                          4. Sagens natur
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-5'>
                          5. Oplysninger om sagen
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-6'>
                          6. Tilføj dokumentation for første undersøgelse af skaden
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-7'>
                          7. Tilføj dokumentation fra sagen
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-8'>
                          8. Tilføj kommentarer til sagen
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-9'>
                          9. Opsummering
                      </a>
                  </li>
              </ul>
              "
          ) }}
          <div class="content">
            <h1>Oplysninger om afsender</h1>
            <label class="form-label">Virksomhed</label>
            <p class="mt-0">Forsikringens Forsikringsfirma</p>
            <div class="mt-5">
                <label class="form-label">Afsender er</label>
                {{radiobutton("id-afsender1", "afsender", "Advokat for forsikringsselskab", false, false, "Advokat for forsikringsselskab", "radio-large", false, "true", "", "", "", "mt-3")}}
                {{radiobutton("id-afsender2", "afsender", "Advokat for skadelidte", false, false, "Advokat for skadelidte", "radio-large", false, "true", "", "", "", "mt-3")}}
                {{radiobutton("id-afsender3", "afsender", "Forsikringsselskab", false, false, "Forsikringsselskab", "radio-large", false, "true", "", "", "", "mt-3")}}
                {{radiobutton("id-afsender4", "afsender", "Erstatningsnævnet", false, false, "Erstatningsnævnet", "radio-large", false, "true", "", "", "", "mt-3")}}
                {{radiobutton("id-afsender5", "afsender", "Anden", false, false, "Anden", "radio-large", false, "true", "", "", "", "mt-3")}}
            </div>
            <a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-2" class="button button-primary mt-7">Næste</a>
          </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}