{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}

{% from "07-form/controls/text-input.njk" import textinput as textinput %}

{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-secondary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
        <p class="mt-0">Københavns Urmager Værksted v/Martin Elsig</p>
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
            <a href="" class="function-link">Gem kladde
              {{icon_svg("save")}}
            </a>
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
  <div class="overlay"></div>
{% endblock %}

{% block body %}
  <section class="container page-container">
    <div class="row">
      <div class="col-12">
          {{overflowmenu("Trin 2 af 9","overflow_steps", true, false, "menu-down" ,"
              <ul class='sidenav-list'>
                  <li>
                      <a href='example-aes-page-1'>
                          1. Trin 1
                           <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='example-aes-page-2' class='active'>
                          2. Trin 2
                      </a>
                  </li>
                  <li>
                      <a href='example-aes-page-3'>
                          3. Trin 3 
                      </a>
                  </li>
                  <li>
                      <a href='example-aes-page-4'>
                          4. Trin 4 
                      </a>
                  </li>
                  <li>
                      <a href='example-aes-page-5'>
                          5. Trin 5 
                      </a>
                  </li>
                  <li>
                      <a href='example-aes-page-6'>
                          6. Trin 6 
                      </a>
                  </li>
                  <li>
                      <a href='example-aes-page-7'>
                          7. Trin 7 
                      </a>
                  </li>
                  <li>
                      <a href='example-aes-page-8'>
                          8. Trin 8 
                      </a>
                  </li>
                  <li>
                      <a href='example-aes-page-9'>
                          9. Trin 9 
                      </a>
                  </li>
              </ul>
              ", true
          ) }}
          <div class="content">
            <h1>Hvis AES har spørgsmål til sagen</h1>
             <div class="mt-0">
                  {{textinput("id-company-contact", "Virksomhedens kontaktperson", "", "input-width-400", "", "Input til virksomhedens kontaktperson", "", false, "")}}
              </div>
              <br>
              <button href="#" class="button button-secondary">Vælg en anden kontaktperson</button>
             <div class="mt-5">
                  {{textinput("id-company-number", "Telefonummer til kontaktperson", "", "input-width-150", "", "Telefonummer til kontaktperson", "", false, "")}}
              </div>
            <br>

            <a href="example-aes-page-3" class="button button-primary">Næste</a>
            <div class="breadcrumb">
              <a href="example-aes-page-1" class="button button-ghost">Tilbage</a>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  <footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 footer-col">
          <div class="align-left">
            <ul class="unstyled-list">
              <li><span class="h6 weight-semibold" title="Ansvarlig myndighed" aria-label="Ansvarlig myndighed">Undervisningsministeriet</span></li>
              <li><p>Styrelsen for IT og læring</p></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 footer-col">
          <div class="align-right">
            <ul class="unstyled-list">
              <li><a class="function-link" href="mailto:support@stil.dk">support@stil.dk</a></li>
              <li><a class="function-link" href="tel:004533925200">(+45) 33 92 52 00</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}