<section class="hero">
  <div class="container">
    <div class="hero-callout section-dark">
      <h2>
        {% if hero.callout %}
          <span class="hero-callout-alt">{{ hero.callout }}</span>
        {% endif %}
        {{ hero.title }}
      </h2>

      {% if hero.link %}
      <a class="hero-link" href="{{ hero.link.href }}">{{ hero.link.text }}</a>
      {% endif %}

      {% if hero.button %}
      <a class="button button-big" href="{{ hero.button.href }}">{{ hero.button.text }}</a>
      {% endif %}
    </div>
  </div>
</section>