{% macro tringuide(trinliste) %}
  <div class="usa-grid-full">
      <ul class="usa-sidenav-list">
        {% for trin in trinliste %}
          <li>
            <a href="{{trin.href}}" {% if trin.current %} class="usa-current" {% endif %}>
              {{loop.index}}. {{trin.text}}
            </a>
          </li>
        {% endfor %}
      </ul>
  </div>        
{% endmacro %}


{{ tringuide(tringuiden.trinlisten) }}
    