<div class="usa-grid-full">
  <aside class="usa-width-one-third">
    <ul class="usa-sidenav-list tringuide">
      <li>
        <a href="#">
          1. Stamdata
          <span class="error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Du mangler at udfylde data</span>
        </a>
      </li>
      <li>
        <a href="#">
          2. Startdato
          <span class="info"><i class="fa fa-check-circle" aria-hidden="true"></i> Udfyldt</span>
        </a>
      </li>
      <li>
        <a href="#" class="usa-current">
          3. Et tredje step
        </a>
      </li>
      <li>
        <a href="#">
          4. Opsummering og godkendelse
        </a>
      </li>
    </ul>
  </aside>
</div>