{% macro label(classes, text) %}
  <span class="label{% if classes %} {{classes}}{% endif %}">{{text}}</span>
{% endmacro %}

<ul class="unstyled-list">
  {% for labels in label_example.items %}
    <li><h4>{{labels.label}}</h4></li>
    <li>{{ label(labels.classes, labels.label) }}</li>
  {% endfor %}
</ul>

<style scoped>
  h4 {
    margin-bottom: 10px;
  }
</style>
