{%- macro secondarynavigation() -%}
  <div class="nav-secondary nav-subheader">
    subheader
    {# {% if nav.search %}
      {% render '@search--header', {search: nav.search, search_js: true, id_prefix: id_prefix} %}
    {% endif %}
    <ul class="unstyled-list nav-secondary-links">
      {% if nav.search %}
      <li class="js-search-button-container">
        <button class="header-search-button js-search-button">Search</button>
      </li>
      {% endif %}
      {% for link in nav.links %}
      <li>
        <a href="{{ link.href }}"{% if link.current %} class="current"{% endif %}>
          {{ link.text }}
        </a>
      </li>
      {% endfor %}
    </ul> #}
  </div>
{% endmacro -%}

