<header class="header header-basic{% if header.primary.mega %} header-basic-megamenu{% endif %}" role="banner">
  <div class="nav-container">
    {% render '@site-title', {header: header}, true %}
    <nav role="navigation" class="nav">
      {% if header.primary.mega %}<div class="nav-inner">{% endif %}
      {# {% render '@nav-solution-header', {nav: header.primary}, true %} #}
      {% if header.primary.mega %}</div>{% endif %}
    </nav>
  </div>
</header>
<div class="overlay"></div>
