<div class="dt-container">
    <table class="dt-table">
        <thead>
            <tr>
                <th></th>
                <th>Document title </th>
                <th>Description </th>
                <th>Year </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button class="dt-expand-button">
                        <svg class="dt-expand-button-svg">
                            <path d="M0 10.6L4.7 6 0 1.4 1.4 0l6.1 6-6.1 6z"></path>
                        </svg>
                    </button>
                </td>
                <td scope="row">Declaration of Independence</td>
                <td>Statement adopted by the Continental Congress declaring independence from the British Empire.</td>
                <td>1776</td>
            </tr>
            <tr class="dt-expand-row dt-hidden">
                <td colspan="4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis, ex id feugiat bibendum, erat ante cursus nulla,
                    ac tincidunt velit nulla vitae enim. In viverra felis at lobortis cursus. Mauris faucibus sem nec libero
                    ultricies, vel fringilla velit vehicula. Donec at quam tempus, aliquam turpis in, posuere lectus. Cras
                    interdum gravida nulla vel eleifend. Sed porta ultrices bibendum. Proin egestas, elit vitae interdum
                    cursus, nisl lorem semper diam, in scelerisque lacus diam eget ipsum. Phasellus varius sem sed convallis
                    egestas. Curabitur eget sem sed purus egestas condimentum non quis purus. Mauris in rhoncus risus, ullamcorper
                    eleifend magna. Maecenas placerat commodo quam at feugiat.
                </td>
            </tr>
            <tr>
                <td>
                    <button class="dt-expand-button">
                        <svg class="dt-expand-button-svg">
                            <path d="M0 10.6L4.7 6 0 1.4 1.4 0l6.1 6-6.1 6z"></path>
                        </svg>
                    </button>
                </td>
                <td>Bill of Rights</td>
                <td>The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.</td>
                <td>1791</td>

            </tr>
            <tr class="dt-expand-row dt-hidden">
                <td colspan="4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis, ex id feugiat bibendum, erat ante cursus nulla,
                    ac tincidunt velit nulla vitae enim. In viverra felis at lobortis cursus. Mauris faucibus sem nec libero
                    ultricies, vel fringilla velit vehicula. Donec at quam tempus, aliquam turpis in, posuere lectus. Cras
                    interdum gravida nulla vel eleifend. Sed porta ultrices bibendum. Proin egestas, elit vitae interdum
                    cursus, nisl lorem semper diam, in scelerisque lacus diam eget ipsum. Phasellus varius sem sed convallis
                    egestas. Curabitur eget sem sed purus egestas condimentum non quis purus. Mauris in rhoncus risus, ullamcorper
                    eleifend magna. Maecenas placerat commodo quam at feugiat.
                </td>
            </tr>
            <tr>
                <td>
                    <button class="dt-expand-button">
                        <svg class="dt-expand-button-svg">
                            <path d="M0 10.6L4.7 6 0 1.4 1.4 0l6.1 6-6.1 6z"></path>
                        </svg>
                    </button>
                </td>
                <td>Declaration of Sentiments</td>
                <td>A document written during the Seneca Falls Convention outlining the rights that American women should be
                    entitled to as citizens.</td>
                <td>1848</td>

            </tr>
            <tr class="dt-expand-row dt-hidden">
                <td colspan="4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis, ex id feugiat bibendum, erat ante cursus nulla,
                    ac tincidunt velit nulla vitae enim. In viverra felis at lobortis cursus. Mauris faucibus sem nec libero
                    ultricies, vel fringilla velit vehicula. Donec at quam tempus, aliquam turpis in, posuere lectus. Cras
                    interdum gravida nulla vel eleifend. Sed porta ultrices bibendum. Proin egestas, elit vitae interdum
                    cursus, nisl lorem semper diam, in scelerisque lacus diam eget ipsum. Phasellus varius sem sed convallis
                    egestas. Curabitur eget sem sed purus egestas condimentum non quis purus. Mauris in rhoncus risus, ullamcorper
                    eleifend magna. Maecenas placerat commodo quam at feugiat.
                </td>
            </tr>
            <tr>
                <td>
                    <button class="dt-expand-button">
                        <svg class="dt-expand-button-svg">
                            <path d="M0 10.6L4.7 6 0 1.4 1.4 0l6.1 6-6.1 6z"></path>
                        </svg>
                    </button>
                </td>
                <td>Emancipation Proclamation</td>
                <td>An executive order granting freedom to slaves in designated southern states.</td>
                <td>1863</td>
            </tr>
            <tr class="dt-expand-row dt-hidden">
                <td colspan="4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis, ex id feugiat bibendum, erat ante cursus nulla,
                    ac tincidunt velit nulla vitae enim. In viverra felis at lobortis cursus. Mauris faucibus sem nec libero
                    ultricies, vel fringilla velit vehicula. Donec at quam tempus, aliquam turpis in, posuere lectus. Cras
                    interdum gravida nulla vel eleifend. Sed porta ultrices bibendum. Proin egestas, elit vitae interdum
                    cursus, nisl lorem semper diam, in scelerisque lacus diam eget ipsum. Phasellus varius sem sed convallis
                    egestas. Curabitur eget sem sed purus egestas condimentum non quis purus. Mauris in rhoncus risus, ullamcorper
                    eleifend magna. Maecenas placerat commodo quam at feugiat.
                </td>
            </tr>
        </tbody>
    </table>
</div>