{% import "02-buttons/buttons.njk" as button %}


{% macro card(size, cardcontentbefore, header, titlesize, subheader, headercontent, cardcontent, actionbuttons, actionlinks, actionfunctionlinks) %}
<div class="card {{size}}">
  <div class="card-block card-content-before">
      <p>{{cardcontentbefore}}</p>
  </div>
  <div class="card-header">
    <p class="header-title {{titlesize}}">{{header}}</p>
    <p class="subheader">{{subheader}}</p>
    <p class="headercontent">{{headercontent}}<p>
  </div>
  <div class="card-block card-content">
      <p>{{cardcontent}}</p>
  </div>
    <div class="card-action">
      <div class="actionbuttons">
      {{ actionbuttons }}
      </div>
      <div class="actionlinks">
      {{ actionlinks }}
      </div>
      <div class="actionfunctionlinks">
      {{ actionfunctionlinks }}  
      </div>
    </div>
</div>  
{% endmacro %}

<div class="col-12 col-sm-12 col-md-6 col-lg-6">
{% for item in cards_example.items -%}
  {{ card(item.size, item.cardcontentbefore, item.header, item.titlesize, item.subheader, item.headercontent, item.cardcontent, item.actionbuttons, item.actionlinks, item.actionfunctionlinks ) }}
{%- endfor %}
</div>