{% import "02-buttons/buttons.njk" as button %}

{% macro cards1(name, header, subheader, cardtext, contenttext, cardcontent, actioncontent, actionbuttons, actionlinks) %}
  {%- if (name == 'card1') -%}
    <div class="card">
    {%if (header) or (subheader) %}
      <div class="card-header">
        <p class="h6 header-title" title="Card header" aria-label="Card header">{{header}}</p>
        <p class="sub-header">{{subheader}}</p>
      </div>
    {% endif %}
    {%if cardtext %} 
      <div class="card-text">
        <p class="text">{{cardtext}}</p>
      </div>
    {% endif %}
    {%if (contenttext) or (cardcontent) %}
      <div class="card-content">
        <div class="content-text">
          <p>{{contenttext}}</p>
        </div>
        <div class="content">
            <div class="row justify-content-center">
              <div class="col-12">
                {{cardcontent}}
              </div>
            </div>
        </div>
      </div>
    {% endif %}
    {%if (actioncontent) or (actionbuttons) or (actionlinks) %}
      <div class="card-action">
        <div class="action-content">
          {{actioncontent}}
        </div>
        <div class="action-buttons">
        {{ actionbuttons }}
        </div>
        <div class="action-links">
        {{ actionlinks }}
        </div>
      </div>
    {% endif %}
    </div>
  {%- endif %}
{% endmacro %}

{% macro cards2(name, header, subheader, cardtext, contenttext, cardcontent, actioncontent, actionbuttons, actionlinks) %}
  {%- if (name == 'card2') -%}
    <div class="card">
    {%if (header) or (subheader) %}
      <div class="card-header">
        <p class="h6 header-title" title="Card header" aria-label="Card header">{{header}}</p>
        <p class="sub-header">{{subheader}}</p>
      </div>
      {% endif %}
      {%if (contenttext) or (cardcontent) %}
        <div class="card-content">
          <div class="content-text">
            <p>{{contenttext}}</p>
          </div>
          <div class="content">
            <div class="row justify-content-center">
              <div class="col-12">
                {{cardcontent}}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {%if cardtext %} 
      <div class="card-text">
        <p class="text">{{cardtext}}</p>
      </div>
      {% endif %}
      </div>
  {%- endif %}
{% endmacro %}


{% macro cards3(name, header, subheader, cardtext, contenttext, cardcontent, actioncontent, actionbuttons, actionlinks) %}
  {%- if (name == 'card3') -%}
    <div class="card">
      {%if (contenttext) or (cardcontent) %}
        <div class="card-content">
          <div class="content-text">
            <p>{{contenttext}}</p>
          </div>
          <div class="content">
            <div class="row justify-content-center">
              <div class="col-12">
                {{cardcontent}}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {%if (header) or (subheader) %}
        <div class="card-header">
          <p class="h6 header-title" title="Card header" aria-label="Card header">{{header}}</p>
          <p class="sub-header">{{subheader}}</p>
        </div>
    {% endif %}
    {%if (actioncontent) or (actionbuttons) or (actionlinks) %}
      <div class="card-action">
        <div class="action-content">
          {{actioncontent}}
        </div>
        <div class="action-buttons">
        {{ actionbuttons }}
        </div>
        <div class="action-links">
        {{ actionlinks }}
        </div>
      </div>
    {% endif %}
    </div>
  {%- endif %}
{% endmacro %}

{% macro cards4(name, header, subheader, cardtext, contenttext, cardcontent, actioncontent, actionbuttons, actionlinks) %}
  {%- if (name == 'card4') -%}
    <div class="card">
      {%if (header) or (subheader) %}
        <div class="card-header">
          <p class="h6 header-title" title="Card header" aria-label="Card header">{{header}}</p>
          <p class="sub-header">{{subheader}}</p>
        </div>
      {% endif %}
      {%if cardtext %} 
        <div class="card-text">
          <p class="text">{{cardtext}}</p>
        </div>
      {% endif %}
      {%if (actioncontent) or (actionbuttons) or (actionlinks) %}
        <div class="card-action">
          <div class="action-content">
            {{actioncontent}}
          </div>
          <div class="action-buttons">
          {{ actionbuttons }}
          </div>
          <div class="action-links">
          {{ actionlinks }}
          </div>
        </div>
      {% endif %}
    </div>
  {%- endif %}
{% endmacro %}

{% macro cards5(name, header, subheader, cardtext, contenttext, cardcontent, actioncontent, actionbuttons, actionlinks) %}
  {%- if (name == 'card5') -%}
    <div class="card">
      {%if (header) or (subheader) %}
        <div class="card-header">
          <p class="h6 header-title" title="Card header" aria-label="Card header">{{header}}</p>
          <p class="sub-header">{{subheader}}</p>
        </div>
      {% endif %}
      {%if (contenttext) or (cardcontent) %}
        <div class="card-content">
          <div class="content-text">
            <p>{{contenttext}}</p>
          </div>
          <div class="content">
            <div class="row justify-content-center">
              <div class="col-12">
                {{cardcontent}}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {%- endif %}
{% endmacro %}

{% macro cards6(name, header, subheader, cardtext, contenttext, cardcontent, actioncontent, actionbuttons, actionlinks) %}
  {%- if (name == 'card6') -%}
    <div class="card">
      {%if (header) or (subheader) %}
        <div class="card-header">
          <p class="h6 header-title" title="Card header" aria-label="Card header">{{header}}</p>
          <p class="sub-header">{{subheader}}</p>
        </div>
      {% endif %}
      {%if cardtext %} 
        <div class="card-text">
          <p class="text">{{cardtext}}</p>
        </div>
      {% endif %}
    </div>
  {%- endif %}
{% endmacro %}

<div class="container">
  <h4>Card med fuld bredde</h4>
  <div class="row">
    <div class="col-12">
      {% for card1 in cards1_example.items -%}
        {{ cards1(card1.name, card1.header, card1.subheader, card1.cardtext, card1.contenttext, card1.cardcontent, card1.actioncontent, card1.actionbuttons, card1.actionlinks ) }}
      {%- endfor %}
    </div>
  </div>

  <h4>Card med halv bredde</h4>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      {% for card2 in cards2_example.items -%}
        {{ cards2(card2.name, card2.header, card2.subheader, card2.cardtext, card2.contenttext, card2.cardcontent, card2.actioncontent, card2.actionbuttons, card2.actionlinks ) }}
      {%- endfor %}
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-6 mt-md-0">
      {% for card3 in cards3_example.items -%}
        {{ cards3(card3.name, card3.header, card3.subheader, card3.cardtext, card3.contenttext, card3.cardcontent, card3.actioncontent, card3.actionbuttons, card3.actionlinks ) }}
      {%- endfor %}
    </div>
  </div>

  <h4>Card med en tredjedel bredde</h4>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
      {% for card4 in cards4_example.items -%}
        {{ cards4(card4.name, card4.header, card4.subheader, card4.cardtext, card4.contenttext, card4.cardcontent, card4.actioncontent, card4.actionbuttons, card4.actionlinks ) }}
      {%- endfor %}
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6 mt-md-0">
      {% for card5 in cards5_example.items -%}
        {{ cards5(card5.name, card5.header, card5.subheader, card5.cardtext, card5.contenttext, card5.cardcontent, card5.actioncontent, card5.actionbuttons, card5.actionlinks ) }}
      {%- endfor %}
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6 mt-md-0">
      {% for card6 in cards6_example.items -%}
        {{ cards6(card6.name, card6.header, card6.subheader, card6.cardtext, card6.contenttext, card6.cardcontent, card6.actioncontent, card6.actionbuttons, card6.actionlinks ) }}
      {%- endfor %}
    </div>
  </div> 
</div>