{% import "02-buttons/buttons.njk" as button %}

<!-- Small card -->
{% macro cardsmall(size, header, subheader, headercontent) %}
<div class="card {{size}}">
  <div class="card-header">
    <p class="header-title">{{header}}</p>
    <p class="sub-header">{{subheader}}</p>
    <p class="header-content">{{headercontent}}</p>
  </div>
</div>  
{% endmacro %}
<!-- Medium card -->
{% macro cardmedium(size, cardcontentbefore, header, subheader, headercontent) %}
<div class="card {{size}}">
  <div class="card-content-before">
      {{cardcontentbefore}}
  </div>
  <div class="card-header">
    <p class="header-title">{{header}}</p>
    <p class="sub-header">{{subheader}}</p>
    <p class="header-content">{{headercontent}}</p>
  </div>
</div>  
{% endmacro %}
<!-- Large card -->
{% macro cardlarge(size, header, subheader, headercontent, cardcontent, actioncontent, actionbuttons, actionlinks, actionfunctionlinks) %}
<div class="card {{size}}">
  <div class="card-header">
    <p class="header-title">{{header}}</p>
    <p class="sub-header">{{subheader}}</p>
    <p class="header-content">{{headercontent}}</p>
  </div>
  <div class="card-content">
      {{cardcontent}}
  </div>
  <div class="card-action">
    <div class="action-content">
      {{actioncontent}}
    </div>
    <div class="action-buttons">
    {{ actionbuttons }}
    </div>
    <div class="action-links">
    {{ actionlinks }}
    </div>
    <div class="action-functionlinks">
    {{ actionfunctionlinks }}  
    </div>
  </div>
</div>  
{% endmacro %}


<div class="col-12 col-sm-12 col-md-6 col-lg-6">
  {% for card in cardsmall_example.items -%}
    {{ cardsmall(card.size, card.header, card.subheader, card.headercontent) }}
  {%- endfor %}
  {% for card in cardmedium_example.items -%}
    {{ cardmedium(card.size, card.cardcontentbefore, card.header, card.subheader, card.headercontent) }}
  {%- endfor %}
  {% for card in cardlarge_example.items -%}
    {{ cardlarge(card.size, card.header, card.subheader, card.headercontent, card.cardcontent, card.actioncontent, card.actionbuttons, card.actionlinks, card.actionfunctionlinks ) }}
  {%- endfor %}
</div>
