<div class="container">
  <div class="row">
      
          <div class="card">
            <div class="card-header">
              <h2>Praktikplads-AUB</h2>
              <p>2019<p>
            </div>
            <div class="card-block card-content">
              <p style="display: inline">I skal betale:</p><h2 style="display: inline" class="error-text"> 62.153 kr.</h2>
            </div>
            <div class="card-block">
              <p class="card-text">Integer posuere erat a ante venenatis dapiasd asd asd asd asd asd asd asd asd asd asd bus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            </div>
            <div class="card-block">
              <a href="#" class="card-link">Card link</a>
            </div>
            <div class="card-block">
              <a href="#" class="card-link">Card link</a>
            </div>
            <div class="card-block">
              <a href="#" class="card-link">Card link</a>
            </div>
            <div class="card-block">
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
      
    
          
        <div class="card">
          <div class="card-header">
            <h2>Praktikplads-AUB</h2>
            <p>2019<p>
          </div>
          <div class="card-block card-content">
              <p style="display: inline">I skal betale:</p><h2 style="display: inline" class="error-text"> 62.153 kr.</h2>
          </div>
          <div class="card-block card-info">
            <h4 class="card-title">Card image top</h4>
            <p class="card-text">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          </div>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2>Praktikplads-AUB</h2>
            <p>2019<p>
          </div>
          <div class="card-block card-content">
              <p style="display: inline">I skal betale:</p><h2 style="display: inline" class="error-text"> 62.153 kr.</h2>
          </div>
          <div class="card-block card-info">
            <h4 class="card-title">Card image top</h4>
            <p class="card-text">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          </div>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>

        <div class="card">
            <div class="card-header">
              <h2>Praktikplads-AUB</h2>
              <p>2019<p>
            </div>
            <div class="card-block card-content">
                <p style="display: inline">I skal betale:</p><h2 style="display: inline" class="error-text"> 62.153 kr.</h2>
            </div>
            <div class="card-block card-info">
              <h4 class="card-title">Card image top</h4>
              <p class="card-text">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            </div>
            <div class="card-block">
              <a href="#" class="card-link">Card link</a>
            </div>
            <div class="card-block">
              <a href="#" class="card-link">Card link</a>
            </div>
            <div class="card-block">
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
  </div>
</div>