{% import "08-side-navigation/tringuide.njk" as tringuiden %}

{% extends 'layouts/_base.njk' %}

{% block header %}
    {% render '@header--simpel' %}
{% endblock %}


{% block body %}
    <header class="container">
        <div class="col">
           <h2>{{title}}</h2>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-sm-4">
                {{tringuiden.tringuide([{ text: "Inden du går igang"}, { text: "Oplysninger om dig"}, {text: "Bekræft oplysninger", current: true}])}}
            </div>
            <div class="col-sm-8">
                <h3>Bekræft oplysninger</h3>

                <label for="tekst-navn">Navn</label>
                <p id="tekst-navn">Klaus Egegreen Hansen</p>

                <label>Adresse</label>
                <p>Finsensvej 4F, 2.4</p>
                <p>2000 Frederiksberg</p>

                <label>Fødselsdato</label>
                <p>24 - 11 - 1991</p>

                <label>Har du tidligere søgt om indsigt?</label>
                <p>Nej</p>

                <div class="row">
                    <button class="button button-primary">Indsend</button>
                </div>
                <div class="row">
                    <a href="" >Forrige</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block banner -%}
{% endblock %}
{% block footer -%}
{% render '@footer' %}
{% endblock %}
