<div class="container">
    <p class="form-label">Ajax data</p>
    <table id="js-datatable-example-ajax" class="table w-percent-100">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Email</th>
                <th>Vej</th>
                <th>By</th>
                <th>Telefon</th>
            </tr>
        </thead>
        <tbody>
            <!--Filled in by js-->
        </tbody>
    </table>
</div>