<div class="container">
  <div class="row">
    <div class="col-12">
        <p class="form-label">Ajax data</p>
        <div class="table-responsive-scroll">
            <table id="js-datatable-example-ajax" class="table">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Email</th>
                        <th>Vej</th>
                        <th>By</th>
                        <th>Telefon</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Filled in by js-->
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>