<div class="container">
  <div class="row">
    <div class="col-12">
        <h3 class="h3">Datatable - expandable details row</h3>

        <form method="" name="" action="">
          <div class="form-group">
            <label class="form-label">Navn:</label>
            <input class="form-input" name="" type="text">
          </div>
          <div class="form-group">
            <label class="form-label">Email:</label>
            <input class="form-input" name="" type="email">
          </div>
          <div class="form-group">
              <label class="form-label">Vejnavn:</label>
              <input class="form-input" name="" type="text">
          </div>
          <div class="form-group">
              <label class="form-label">By:</label>
              <input class="form-input" name="" type="text">
          </div>
          <div class="form-group">
              <label class="form-label">Telefon:</label>
              <input class="form-input" name="" type="tel">
          </div>
          <div class="form-group">
              <label class="form-label">Firmanavn:</label>
              <input class="form-input" name="" type="text">
          </div>
          <div class="form-group">
            <button class="button button-secondary">Reset</button>
            <input type="submit" class="button button-primary" value="Submit" />
          </div>
      </form>
    </div>
  </div>

<div class="row">

        <table id="js-datatable-example-detailsrow" class="table zebra hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Navn1</th>
                    <th>Email</th>
                    <th>Vej</th>
                    <th>By</th>
                    <th>Telefon</th>
                    <th>Firmanavn</th>
                    <th>dots-vertical</th>
                </tr>
            </thead>
            <tbody>
                <!--Filled in by js-->
            </tbody>
        </table>
    </div>
  </div>
</div>
