{% from "icons/icons.njk" import icon as icon_ %}

{% macro sidebar(sidebar) %}
<ul class="sidebar">
  {% for item in sidebarlist.items %}
  <li{%if item.disabled %} class="disabled"{% endif %}{% if item.current %} class="current"{% endif %}>
    <a href="{{item.href}}">
      <div class="sidebar-icon">
        {{ icon_(item.largeicon) }}
      </div>
      <div class="sidebar-text">
        <span class="sidebar-header">{{ item.header }}</span>
        {% if item.subtext %}
        <span class="sidebar-subtext">{{ item.subtext }}</span>
        {% endif %}
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

<div class="col-12 col-md-6">
  {{ sidebar(sidebarlist.items) }}
</div>
