<section class="container">
  <div class="row">
{% for nav in sidenavs %}
    <div class="col-4">
      <h6 class="heading-alt">{{ nav.title }}</h6>
      {% render '@sidenav--default', {sidenav: nav} %}
    </div>
{% endfor %}
  </div>
</section>
