<div class="container mt-6 mb-6">
      <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 sidebar-col">
                  <h5>Normal sidenavigation</h5>
                  {% for nav in sidenavsNormal %}
                        <h6 class="h6 mt-6">{{ nav.title }}</h6>
                        {% render '@sidenav--default', {sidenav: nav} %}
                  {% endfor %}
            </div>
             <div class="col-12 col-sm-12 col-md-4 col-lg-4 sidebar-col">
                  <h5 class="mt-6 mt-md-0">Sidenavigation med ikon</h5>
                  {% for nav in sidenavsIcon %}
                        <h6 class="h6 mt-6">{{ nav.title }}</h6>
                        {% render '@sidenav--default', {sidenav: nav} %}
                  {% endfor %}
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 sidebar-col">
                  <h5 class="mt-6 mt-md-0">Sidenavigation med information</h5>
                  {% for nav in sidenavsInformation %}
                        <h6 class="h6 mt-6">{{ nav.title }}</h6>
                        {% render '@sidenav--default', {sidenav: nav} %}
                  {% endfor %}
            </div>
      </div>
</div>
