{% from "08-side-navigation/sidenav.njk" import nav_list as nav_list %}


<div class="container">
  <div class="row">
    <div class="col-12"><h4 class="my-4">Responsive collapsible sidebar</h4></div>
    <div class="col-12 sidebar-col">
      <div>
        <button class="button button-primary mb-4 d-md-none js-collapse" data-js-target="#sidenav1" aria-controls="sidenav1" aria-expanded="false">Vis menu</button>
        <nav class="d-md-block collapsed" id="sidenav1" aria-hidden="true">
          <ul class="sidenav-list">
            {{ nav_list(sidenav.links, 'sidenav-sub_list') }}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>