
{% for nav in sidenavs %}
<div class="container">
      <div class="row">
            <div class="col-12 sidebar-col">
                  <h4 class="h4 mt-6">{{ nav.title }}</h4>
                  {% render '@sidenav--default', {sidenav: nav} %}
            </div>
      </div>
</div>
{% endfor %}
