

{% macro tabnav(tabnav) %}

<ul class="tabnav">
  {% for item in tabnavlist.items %}
  <li>
    <a href="{{item.href}}" {% if item.active %} class="active"{% endif %}>
      {{ item.title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

<div class="col-12 col-sm-12 col-md-12 col-lg-9">
<h4>Tab navigation</h4>
  {{ tabnav(tabnavlist.items) }}
</div> 
