{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{# Free step guide #}
{% macro tringuide(trinliste) %}
  <ul class="sidenav-list">
    {% for trin in trinliste %}
      <li{% if trin.disabled %} class="disabled"{% endif %}>
        <a href="{{trin.href}}" {% if trin.active %} class="active" {% endif %}>
          {{loop.index}}. {{trin.text}}

          {% if trin.icon %}
          <span class="sidenav-icon{%if trin.iconclass %} {{ trin.iconclass }}{% endif %}">
            {{ icon_svg(trin.icon) }}
          </span>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{# Locked step guide #}
{% macro tringuide(trinliste) %}
  <ul class="sidenav-list-locked">
    {% for trin in trinliste %}
      <li class="disabled">
        <a  {% if trin.active %} class="active" {% endif %} disabled tab-index="-1" aria-disabled="true">
          {{loop.index}}. {{trin.text}}

          {% if trin.icon %}
          <span class="sidenav-icon{%if trin.iconclass %} {{ trin.iconclass }}{% endif %}">
            {{ icon_svg(trin.icon) }}
          </span>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

<div class="container">
  <div class="row">
    <div class="col-12 sidebar-col">
    
      <p class="h6">Klikbar trinindikator</p>
      {{ tringuide(tringuiden.trinlisten) }}

      <p class="h6 mt-6">Låst trinindikator</p>
      {{ tringuide(tringuiden.trinlisten) }}
      
      <p class="h6 mt-6">Trinindikator i overflow-menu</p>
      {{overflowmenu("Trin 3 af 5","overflow5", true, false, "menu-down" ,"
        <ul class='sidenav-list'>
            <li>
                <a href='#'>
                    1. Trin 1
                    <span class='sidenav-icon'>
                        <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                    </span>
                </a>
            </li>
            <li>
                <a href='#'>
                    2. Trin 2
                    <span class='sidenav-icon'>
                        <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                    </span>
                </a>
            </li>
            <li>
                <a href='#' class='active'>
                    3. Trin 3 (valgt)
                </a>
            </li>
            <li>
                <a href='#'>
                    4. Trin 4
                </a>
            </li>
            <li>
                <a href='#'>
                    5. Trin 5
                </a>
            </li>
        </ul>
        "
    ) }}


      <p class="h6 mt-6">Trinindikator - responsivt i overflow-menu</p>
        <div class="overflow-menu  overflow-menu--open-right overflow-menu--md-no-responsive">
          <button class="button-overflow-menu js-dropdown " data-js-target="#overflow4" aria-haspopup="true" aria-expanded="false">
              Trin 3 af 5
              <svg class="icon-svg"><use xlink:href="#menu-down"></use></svg>
              <span class="sr-only">Åbner overflow menu</span>
          </button>
          <div class="overflow-menu-inner" id="overflow4" aria-hidden="true">
            <ul class="sidenav-list">
                <li>
                    <a href="#">
                        1. Trin 1
                        <span class="sidenav-icon">
                            <svg class="icon-svg"><use xlink:href="#check"></use></svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        2. Trin 2
                        <span class="sidenav-icon">
                            <svg class="icon-svg"><use xlink:href="#check"></use></svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="active">
                        3. Trin 3 (valgt)
                    </a>
                </li>
                <li>
                    <a href="#">
                        4. Trin 4
                    </a>
                </li>
                <li>
                    <a href="#">
                        5. Trin 5
                    </a>
                </li>
            </ul>
          </div>
        </div> 
      
    </div>
  </div>
</div>