{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}
{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}

{% from "cards/cards.njk" import cards1 as cards1 %}



{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <!-- 3: Main navigation-->
      <div class="navbar navbar-primary">
        <!--3A: Main navigation-->
        <div class="navbar-inner container">
          <ul class="nav-primary">
            <li>
              <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-oversigt" class="nav-link current" title="Designsystem">
                  <span>Oversigt</span>
              </a>
            </li>            
            <li>
                <a href="#" class="nav-link" title="Eksempler">
                    <span>Beskeder</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" title="Kom godt i gang">
                    <span>Udbetalinger</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" title="Fællesoffentlige krav">
                    <span>Sager</span>
                </a>
            </li>
            <li>
                <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1" class="nav-link" title="Fællesoffentlige krav">
                    <span>Ansøgninger</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" title="Fællesoffentlige krav">
                    <span>Ændringer</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" title="Fællesoffentlige krav">
                    <span>Dokumentation</span>
                </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 3: Main navigation end-->

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
  <main class="container page-container">
    <header class="page-header">
      <h1>{{title}}</h1>
      <p class="font-lead">Brug en af de følgende funktioner, til at administrere børnetilskud:</p>
    </header>
    <section class="page-content content">
      <div class="row">
        {# CARD 1 #} 
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="card-header">
              <p class="h6 header-title" title="Card header" aria-label="Card header">Beskeder</p>
            </div>
            <div class="card-content alternative-background-2 py-4">
              <div class="content">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <svg class="icon-svg-large"><use xlink:href="#message"></use></svg>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card-action">
              <div class="action-links">
                <a href="#">Læs beskeder omkring dine aktive sager</a>
              </div>
            </div>
          </div>
        </div>
        {# CARD 2 #}
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6 mt-md-0">
          <div class="card">
            <div class="card-header">
              <p class="h6 header-title" title="Card header" aria-label="Card header">Udbetalinger</p>
            </div>
            <div class="card-content alternative-background-2 py-4">
              <div class="content">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <svg class="icon-svg-large"><use xlink:href="#cash-multiple"></use></svg>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card-action">
              <div class="action-links">
                <a href="#">Se tidligere og kommende udbetalinger</a>
              </div>
            </div>
          </div>
        </div>
        {# CARD 3 #}
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6 mt-md-0">
          <div class="card">
            <div class="card-header">
              <p class="h6 header-title" title="Card header" aria-label="Card header">Sager</p>
            </div>
            <div class="card-content alternative-background-2 py-4">
              <div class="content">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <svg class="icon-svg-large"><use xlink:href="#folder-multiple"></use></svg>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card-action">
              <div class="action-links">
                <a href="#">Få status på dine nuværende sager</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {# CARD 4 #}
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6">
          <div class="card">
            <div class="card-header">
              <p class="h6 header-title" title="Card header" aria-label="Card header">Ansøgninger</p>
            </div>
            <div class="card-content alternative-background-2 py-4">
              <div class="content">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <svg class="icon-svg-large"><use xlink:href="#file-document-box"></use></svg>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card-action">
              <div class="action-links">
                <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1">Se aktive og tidligere ansøgninger</a>
              </div>
            </div>
          </div>
        </div>
        {# CARD 5 #}
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6">
          <div class="card">
            <div class="card-header">
              <p class="h6 header-title" title="Card header" aria-label="Card header">Ændringer</p>
            </div>
            <div class="card-content alternative-background-2 py-4">
              <div class="content">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <svg class="icon-svg-large"><use xlink:href="#settings"></use></svg>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card-action">
              <div class="action-links">
                <a href="#">Foretag ændringer omkring dit børnetilskud</a>
              </div>
            </div>
          </div>
        </div>
        {# CARD 6 #}
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-6">
          <div class="card">
            <div class="card-header">
              <p class="h6 header-title" title="Card header" aria-label="Card header">Dokumentation</p>
            </div>
            <div class="card-content alternative-background-2 py-4">
              <div class="content">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <svg class="icon-svg-large"><use xlink:href="#book-open"></use></svg>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card-action">
              <div class="action-links">
                <a href="#">Opslagsværk for hvordan børnetilskud fungerer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}
