{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}
{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}


{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}


{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <!-- 3: Main navigation-->
      <div class="navbar navbar-primary">
        <!--3A: Main navigation-->
        <div class="navbar-inner container">
          <ul class="nav-primary">
           <li>
              <div class="overflow-menu">
                <button class="button-overflow-menu js-dropdown js-dropdown--responsive-collapse" data-js-target="#headeroverflow1" aria-haspopup="true" aria-expanded="false">
                  <span>Oversigt</span>
                </button>
                <div class="overflow-menu-inner" id="headeroverflow1" aria-hidden="true">
                  <ul class="overflow-list">
                      <li>
                        <a class="current" href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-oversigt">Overssigtsside som liste</a>
                      </li>
                      <li>
                        <a  href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-oversigt-2">Oversigt med cards</a>
                      </li>
                  </ul>
                </div>
              </div>
            </li>        
            <li>
                <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1" class="nav-link" title="Eksempler">
                    <span>Beskeder</span>
                </a>
            </li>
            <li>
                <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1" class="nav-link" title="Kom godt i gang">
                    <span>Udbetalinger</span>
                </a>
            </li>
            <li>
                <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1" class="nav-link" title="Fællesoffentlige krav">
                    <span>Sager</span>
                </a>
            </li>
            <li>
                <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1" class="nav-link" title="Fællesoffentlige krav">
                    <span>Ansøgninger</span>
                </a>
            </li>
            <li>
                <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1" class="nav-link" title="Fællesoffentlige krav">
                    <span>Ændringer</span>
                </a>
            </li>
            <li>
                <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1" class="nav-link" title="Fællesoffentlige krav">
                    <span>Dokumentation</span>
                </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 3: Main navigation end-->

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
  <main class="container page-container">
    <header class="page-header">
      <h1>{{title}}</h1>
      <p class="font-lead">Brug en af de følgende funktioner, til at administrere børnetilskud:</p>
    </header>
    <section class="page-content content">
      <p class="h3 mb-0">Beskeder</p>
      <p class="mt-0"><a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1">Læs beskeder omkring dine aktive sager</a></p>
      <p class="h3 mb-0">Udbetalinger</p>
      <p class="mt-0"><a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1">Se tidligere og kommende udbetalinger</a></p>
      <p class="h3 mb-0">Sager</p>
      <p class="mt-0"><a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1">Få status på dine nuværende sager</a></p>
      <p class="h3 mb-0">Ansøgninger</p>
      <p class="mt-0"><a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1">Se aktive og tidligere ansøgninger</a></p>
      <p class="h3 mb-0">Ændringer</p>
      <p class="mt-0"><a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1">Foretag ændringer omkring dit børnetilskud</a></p>
      <p class="h3 mb-0">Dokumentation</p>
      <p class="mt-0"><a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1">Opslagsværk for hvordan børnetilskud fungerer</a></p>
    </section>
  </main>
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}
