{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}
{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}
{% from "alerts/alerts.njk" import alert as alert %}
{% from "07-form/controls/checkbox.njk" import checkbox as checkbox %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}


{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav role="navigation" class=" nav"> <!-- collapsible-->
        <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

        <!-- 3: Main navigation-->
        <div class="navbar navbar-primary">
            <!--3A: Main navigation-->
            <div class="navbar-inner container">
                <ul class="nav-primary">
                    <li>
                        <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-oversigt" class="nav-link" title="Designsystem">
                            <span>Oversigt</span>
                        </a>
                    </li>            
                    <li>
                        <a href="#" class="nav-link" title="Eksempler">
                            <span>Beskeder</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" title="Kom godt i gang">
                            <span>Udbetalinger</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" title="Fællesoffentlige krav">
                            <span>Sager</span>
                        </a>
                    </li>
                    <li>
                        <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1" class="nav-link current" title="Fællesoffentlige krav">
                            <span>Ansøgninger</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" title="Fællesoffentlige krav">
                            <span>Ændringer</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" title="Fællesoffentlige krav">
                            <span>Dokumentation</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 3: Main navigation end-->

        <div class="portal-info-mobile">
            <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
            <a href="#" class="button button-secondary button-signout">
            Log ud
            </a>
        </div>

        <div class="solution-info-mobile">
            <p><b>Erhvervsministeriet</b></p>
            <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
        </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}


{% block body %}
  <main class="container page-container">
    <header class="page-header">
        {{overflowmenu("Trin 1 af 6","overflow_steps", true, false, "menu-down" ,"
              <ul class='sidenav-list'>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-1' class='active'>
                          1. Hvilke børn søger du tilskud til?
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-2'>
                          2. Hvornår blev du eller bliver du enlig?
                      </a>
                  </li>
                  <li>
                      <a href='#' >
                          3. 
                      </a>
                  </li>
                  <li>
                      <a href='#'>
                          4. 
                      </a>
                  </li>
                  <li>
                      <a href='#'>
                          5. 
                      </a>
                  </li>
                  <li>
                      <a href='#'>
                          6. 
                      </a>
                  </li>
              </ul>
              "
          ) }}
        <h1 class="mt-0">{{title}}</h1>
    </header>
    <section class="page-content content">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-5">
                <h3>Jeg søger tilskud til:</h3> 
                <form class="form">
                    <fieldset>
                        <button class="button button-secondary">{{ icon_svg('plus')}} Tilføj barn</button>
                        {{ alert("alert-warning", "alert", "Allerede registreret", "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.", "Beskedbox der viser en advarsel" ) }}
                        {{ checkbox("checkbox-id-1", "", "checkbox1_selected", true, false, "Keld Hedagaardsen <br> 353535-3535 <br> Fælles", "", false, true) }}

                        {{ alert("alert-warning", "alert", "Allerede registreret", "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.", "Beskedbox der viser en advarsel" ) }}
                        {{ checkbox("checkbox-id-2", "", "checkbox2_selected", true, false, "Anita Hedagaardsen <br> 353535-3535 <br> Fælles", "", false, true) }}

                        {{ checkbox("checkbox-id-3", "", "checkbox3_selected", false, false, "<b>Ylmig Hedagaardsen</b> <br> 353535-3535 <br> Fælles", "", false, true) }}
                    </fieldset>
                    <div>
                </form>
            </div>
        </div>
       
    </section>
    <footer class="page-footer">
        <a href="/frontend-styleguide/pages/page-templates/boernetilskud/boernetilskud-2" class="button button-primary">Næste</a>
    </footer>
  </main>
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}