{# 

#}
{%- macro topnavigation(nav, nav_tertiary) -%}
{%- if nav_tertiary %}
      <div class="nav-tertiary">
        <ul class="unstyled-list nav-secondary-links">
          {% for link in nav_tertiary.links -%}
          <li> 
            {% if link.type == "link" -%}
            <a href="{{ link.href }}">
              {{ link.text }}
            </a>
            {%- elif link.type == "button" -%}
            <a href="{{ link.href }}" class="button button-small">
              {{ link.text }}
            </a>
            {%- else -%}
            <select name="options" id="options">
              <option value>- Vælg -</option>
              <option value="option1">Mulighed 1</option>
              <option value="option2">Mulighed 2</option>
              <option value="option3">Mulighed 3</option>
            </select>
            {%- endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
{%- endif %}

      <button class="nav-close">
        {# <img src="img/close.svg" alt="close"> #}
      </button>

      <ul class="nav-primary accordion">
        {% for link in nav.links -%}
        <li>
          {% if link.links -%}
          <button class="accordion-button nav-link" aria-expanded="false" aria-controls="{{ nav.id_prefix }}{{ link.id }}">
            <span>{{ link.text }}</span>
          </button>
          <ul id="{{ nav.id_prefix }}{{ link.id }}" class="nav-submenu{% if nav.mega %} megamenu grid-full{% endif %}">
            {% if nav.id_prefix == "basic-" or nav.id_prefix == "extended-" -%}
              {%- for child in link.links -%}
                {%- if loop.index < 4 %}
                  <li>
                    <a href="{{ child.href }}">{{ child.text }}</a>
                  </li>
                {% endif -%}
              {%- endfor -%}
            {%- else -%}
              {%- for group in link.links | batch(3) -%}
                <div class="megamenu-col">
                  {% for child in group -%}
                    <li>
                      <a href="{{ child.href }}">{{ child.text }}</a>
                    </li>
                  {%- endfor %}
                </div>
              {%- endfor -%}
            {%- endif -%}
          </ul>
          {%- else %}
          <a class="nav-link{% if link.current %} current{% endif %}" href="{{ link.href }}">
            <span>{{ link.text }}</span>
          </a>
          {% endif -%}
        </li>
        {%- endfor -%}
      </ul>
{% endmacro -%}

