{# 

#}
{% macro solution_header(solution_header) %}
  <div class="navbar solution-header">
    <div class="solution-heading">
      <em class="heading-text">
        <a href="{{ solution_header.link.href | default('/') }}"
          title="{{ solution_header.link.title | default('Home') }}"
          aria-label="{{ solution_header.link.label | default('Home') }}">
          {{ solution_header.title | default(site.title) }}
        </a>
      </em>
    </div>
    <button class="menu-btn">Menu</button>
  </div>
{% endmacro %}

{# 

#}
{% macro solution_header_nav(nav) %}

<div class="nav-secondary">
  {# {% if nav.search %}
    {% render '@search--header', {search: nav.search, search_js: true, id_prefix: id_prefix} %} 
  {% endif %} #}
  <ul class="unstyled-list nav-secondary-links">
    {% if nav.search %}
    <li class="js-search-button-container">
      <button class="header-search-button js-search-button">Search</button>
    </li>
    {% endif %}
    {% for link in nav.links %}
    <li> 
      <a href="{{ link.href }}"{% if link.current %} class="current"{% endif %}>
        {{ link.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endmacro %}
