{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}

<header class="header header-extended" role="banner">

    <!--1A: Portal header -->
    <div class="portal-header">
      <div class="container portal-header-inner">
        <a href="/frontend-styleguide/" title="Home" aria-label="Home" class="logo"></a>
        <button class="button button-secondary button-menu-open js-menu-open ml-auto" aria-haspopup="menu" title="Åben mobil menu">Menu</button>

        <!-- 1B: Portal header: info + actions-->
        <div class="portal-info">
          <p class="user"><b>Christian Emil Vestergaard Christensen</b>· Københavns Urmager og Værksted v/Martin Elsig</p>
          <a href="https://github.com/FSGpilot/frontend-styleguide-components" class="button button-secondary" role="button">
            Log ud
          </a>
        </div>
      </div>
    </div>

     <!--2A: Solutiuon header -->
    <div class="solution-header">
        <div class="container solution-header-inner">
          <div class="solution-heading">
            <a href="/frontend-styleguide/" title="Home" aria-label="Home">En langt langt længere løsningstitel</a>
          </div>

          <!--2B: Solution header: Authority name + text-->
          <div class="solution-info"> <!-- nav-secondary -->
              <h6 class="h6">Myndighedsnavn</h6>
              <p>Support: 12 34 56 78</p>
          </div>
        </div>
    </div>

    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-secondary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>
      <!-- 3: Main navigation-->
      <div class="navbar navbar-primary">
        <!--3A: Main navigation-->
        <div class="navbar-inner container">
          <ul class="nav-primary">
            <li>
              <a href="/frontend-styleguide/components/" class="nav-link" title="Designsystem">
                  <span>Første menupunkt</span>
              </a>
            </li>            
            <li>
                <a href="/frontend-styleguide/page-templates/" class="nav-link" title="Eksempler">
                    <span>Andet menupunkt</span>
                </a>
            </li>
            <li>
                <a href="/frontend-styleguide/getting-started/" class="nav-link" title="Kom godt i gang">
                    <span>Tredje menupunkt</span>
                </a>
            </li>
            <li>
                <a href="/frontend-styleguide/faellesoffentlige-krav/" class="nav-link" title="Fællesoffentlige krav">
                    <span>Fjerde menupunkt</span>
                </a>    
            </li>
            <li>
              <button class="nav-link js-nav-submenu" title="Om design systemet" data-js-target="#dropdown-nav-section-one" aria-expanded="false" aria-controls="#dropdown-nav-section-one" aria-haspopup="true">
                  <span>Femte menupunkt</span>
              </button>
              <ul id="dropdown-nav-section-one" class="nav-submenu" aria-hidden="true">
                <li>
                  <a href="#">Subsection title</a>
                </li>
                <li>
                  <a href="#">Subsection title</a>
                </li>
                <li>
                  <a href="#">Subsection title</a>
                </li>
              </ul>
            </li>
          </ul>

          <!-- 3B: Main navigation - secondary menu-->
          <ul class="unstyled-list nav-actions">
            <li>
              <select class="form-select" name="" aria-label="Skift mellem løsninger">
                <option value="">Vælg løsning</option>
                <option value="styleguide">Løsning 1</option>
                <option value="virkdk">Løsning 2</option>
                <option value="borgerdk">Løsning 3</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <!-- 3: Main navigation end-->

      <!-- 4: Secondary navigation-->
      <div class="navbar">
        <div class="navbar-inner container">
          <div class="nav-secondary">
            <h4 class="nav-secondary-heading">Ekstra menu- og funktionslinje</h4>
            <ul class="unstyled-list nav-actions">
              <li><button class="button button-tertiary">Knap</button></li>
            </ul>
          </div>
          
          <ul class="unstyled-list nav-actions">
            <li>
              <a href="/frontend-styleguide/page-templates/" class="button button-tertiary">Tertiærknap</a>
            </li>
            <li>
              <a href="/frontend-styleguide/page-templates/" class="button button-tertiary">Tertiærknap</a>
            </li>
            <li>
              <a href="/frontend-styleguide/page-templates/" class="button button-tertiary">Tertiærknap</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 4: Secondary header end-->

      <!-- 5: Contextual actions-->
      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
            <a href="" class="function-link">Funktionsikon
              {{icon_svg("printer")}}
            </a>
            <a href="" class="function-link">Funktionsikon
              {{icon_svg("open-in-new")}}
            </a>
          </div>
        </div>
      </div>
      <!-- 5: Contextual actions end-->

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
        <p>Københavns Urmager Værksted v/Martin Elsig</p>
        <a href="https://github.com/FSGpilot/frontend-styleguide-components" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Myndighedsnavn</b></p>
        <p>Support: 12 34 56 78</p>
      </div>

    </nav> <!-- collapsible nav end-->
</header>
<div class="overlay"></div>