{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}

{% macro portal_header(portal_header) %}
  <!--1A: Portal header -->
  <div class="portal-header">
    <div class="container portal-header-inner">
      <a href="{{ portal_header.logolink.href | default('/') }}" title="{{ portal_header.logolink.title | default('Home') }}" aria-label="{{ portal_header.logolink.label | default('Home') }}" class="logo"></a>
      <button class="button button-secondary button-menu-open js-menu-open ml-auto" aria-haspopup="menu" title="Åben mobil menu">Menu</button>

      <!-- 1B: Portal header: info + actions-->
      <div class="portal-info">
        {% if portal_header.user %}  
          <p class="user"><b class="username">{{ portal_header.user.name}}</b> {% if portal_header.user.work %}· {{ portal_header.user.work}}  {% endif %}</p>
        {% endif %}
         <a href="{{ portal_header.link.href }}" class="button {{ portal_header.link.class | default('button-secondary') }}" role="button">
          {{ portal_header.link.text }}
        </a>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro solution_header(solution_header_data) %}
  <!--2A: Solutiuon header -->
  <div class="solution-header">
    <div class="container solution-header-inner">
      <div class="solution-heading content">
        <a href="{{ solution_header_data.title.href | default('/') }}" title="{{ solution_header_data.title.title | default('Home') }}"  aria-label="{{ solution_header_data.title.label | default('Home') }}">
          {{ solution_header_data.title.text }}
        </a>
      </div>

      <!--2B: Solution header: Authority name + text-->
      <div class="solution-info"> <!-- nav-secondary -->
        {% if solution_header_data.authority.name %}  
          <h6 class="h6 authority-name"> {{ solution_header_data.authority.name }}</h6>
        {% endif %}
        {% if solution_header_data.authority.text %}  
          <p>{{ solution_header_data.authority.text }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}


<header class="header" role="banner">
  {{ portal_header(portal_header_data) }}
  {{ solution_header(solution_header_data) }}

  <div class="overlay"></div>
  <nav role="navigation" class=" nav"> <!-- collapsible-->
    <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

    <div class="portal-info-mobile">
      <p class="user"><b>Lone Hansen</b></p>
      <a href="#" class="button button-secondary button-signout">
        Log ud
      </a>
    </div>

    <div class="solution-info-mobile">
      <p><b>Myndighedsnavn</b></p>
      <p>Support: 12 34 56 78</p>
    </div>

  </nav> <!-- collapsible nav end-->
</header>