{%- from "09-header/_nav-01-portal-header.njk"   import portal_header        as portal_header -%}
{%- from "09-header/_nav-02-solution-header.njk" import solution_header      as solution_header -%}
{%- from "09-header/_nav-03-main-navigation.njk"   import mainnavigation        as mainnavigation -%}
{%- from "09-header/_nav-04-secondary-navigation.njk"   import secondarynavigation        as secondarynavigation -%}
{%- from "09-header/_nav-05-toolbox.njk"   import toolbox        as toolbox -%}

{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}

{%- macro header_simple(portal_header_data, solution_header_data, solution_nav, top_nav, top_nav_buttons) -%}
<header class="header header-extended" role="banner">
  {{ portal_header(portal_header_data) }}
  {{ solution_header(solution_header_data) }}
  <nav role="navigation" class="nav">
    <div class="nav-inner">
      <button class="nav-close"> x </button>
      {#{{ solution_header_nav(solution_nav) }}#}
      {{ mainnavigation(top_nav, top_nav_buttons) }} 
      {{ secondarynavigation() }} 
      {{ toolbox() }} 
    </div>
  </nav>
</header>
<div class="overlay"></div>
{%- endmacro -%}

{#}
{{ header_simple(portal_header_data, solution_header_data, solution_nav, top_nav, top_nav_buttons) }}
#}
<header class="header header-extended" role="banner">
  {{ portal_header(portal_header_data) }}
</header>

<header class="header header-extended" role="banner">
    <!--1A: Portal header -->
    <div class="container portal-header">
      <a href="/frontend-styleguide/" title="Home" aria-label="Home" class="logo"></a>
      <button class="button button-secondary button-menu-open js-menu-open ml-auto" aria-haspopup="menu" title="Åben mobil menu">Menu</button>

      <!-- 1B: Portal header: info + actions-->
      <div class="portal-info">
        <p class="user"><b>Lone Hansen</b> · Snedkeren fra Nordvest ApS</p>

        <a href="/frontend-styleguide/getting-started/download/" class="button button-primary" role="button">
          Download kode og designfiler
        </a>
        <a href="https://github.com/FSGpilot/frontend-styleguide-components" class="button button-secondary" role="button">
          Se på GitHub
        </a>
       
      </div>
    </div>

     <!--2A: Solutiuon header -->
    <div class="solution-header container">
        <div class="solution-heading">
            <a href="/frontend-styleguide/" title="Home" aria-label="Home">Frontend Styleguide</a>
        </div>

        <!--2B: Solution header: Authority name + text-->
        <div class="solution-info"> <!-- nav-secondary -->
            <h6 class="h6">Erhvervsstyrelsen</h6>
            <p>Support: 78 73 64 12</p>
        </div>
    </div>

    <nav role="navigation" class="container nav"> <!-- collapsible-->
      <button class="button button-secondary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>
      <!-- 3: Main navigation-->
      <div class="navbar navbar-primary">
        <!--3A: Main navigation-->
        <ul class="nav-primary">
            <li>
                <a href="/frontend-styleguide/components/" class="nav-link" title="Designsystem">
                    <span>Designsystem</span>
                </a>
            </li>            
            <li>
                <a href="/frontend-styleguide/page-templates/" class="nav-link" title="Eksempler">
                    <span>Eksempler</span>
                </a>
            </li>
            <li>
                <a href="/frontend-styleguide/getting-started/" class="nav-link" title="Kom godt i gang">
                    <span>Kom godt i gang</span>
                </a>
            </li>
            <li>
                <a href="/frontend-styleguide/faellesoffentlige-krav/" class="nav-link" title="Fællesoffentlige krav">
                    <span>Fællesoffentlige krav</span>
                </a>    
            </li>
            <li>
                <a href="/frontend-styleguide/whats-new/" class="nav-link" title="Om design systemet">
                    <span>Om designsystemet</span>
                </a>
            </li>
        </ul>

        <!-- 3B: Main navigation - secondary menu-->
        <ul class="unstyled-list nav-actions">
          <li>
            <button class="button button-tertiary">Tertiary</button>
          </li>
          <li>
            <select class="form-select style-switcher" name="Style switcher" aria-label="Skift mellem temaer">
              <option value="">- Vælg tema -</option>
              <option value="styleguide">Tema: Neutralt</option>
              <option value="virkdk">Tema: Virk.dk</option>
              <option value="borgerdk">Tema: Borger.dk</option>
            </select>
          </li>
        </ul>
      </div>
      <!-- 3: Main navigation end-->

      <!-- 4: Secondary navigation-->
      <div class="navbar">
        <div class="nav-secondary">
          <h4 class="nav-secondary-heading">Solution variable</h4>
          <ul class="unstyled-list nav-actions">
            <li><button class="button button-primary">Toggle</button></li>
            <li><button class="button button-primary">Toggle</button></li>
            <li><button class="button button-primary">Toggle</button></li>
          </ul>
        </div>
        
        <ul class="unstyled-list nav-actions">
          <li>
            <a href="/frontend-styleguide/components/" class="button button-ghost">Ghost</a>
          </li>
          <li>
            <a href="/frontend-styleguide/page-templates/" class="button button-tertiary">Tertiary</a>
          </li>
        </ul>
      </div>
      <!-- 4: Secondary header end-->

      <!-- 5: Contextual actions-->
      <div class="navbar navbar-context-actions">
        <div class="nav-actions">
          <a href="" class="function-link">Print entire guide
            {{icon_svg("printer")}}
          </a>
        </div>
      </div>
      <!-- 5: Contextual actions end-->

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
        <p>Københavns Urmager Værksted v/Martin Elsig</p>
        <a href="https://github.com/FSGpilot/frontend-styleguide-components" class="button button-secondary button-signout">
          Sign out
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Styrelsen for International Rekruttering og Integration</b></p>
        <p>Support: 12 34 56 78</p>
      </div>

    </nav> <!-- collapsible nav end-->
</header>
<div class="overlay"></div>