{% import "02-buttons/buttons.njk" as button %}

<div class="container">
  <button class="button button-secondary js-collapse" data-js-target='#collapse1' aria-controls='collapse1' aria-expanded='false'>Vis indhold</button>
  <div id="collapse1" aria-hidden="true" class="box-border-l mt-4 collapsed">
    <div class="py-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>

