{% import "02-buttons/buttons.njk" as button %}
{% from "07-form/controls/checkbox.njk" import checkbox as checkbox %}

<div class="container">
  {{ checkbox("id-checkbox1", "Name", "Value", false, false, "Checbox viser indhold", "", false, true, "", "js-checkbox-toggle-content", "data-js-target='#collapse-check1' aria-controls='collapse-check1' aria-expanded='false'") }}
  <div id="collapse-check1" aria-hidden="true" class="box-border-l collapsed">
    <div class="py-4">
      <p>Dette indhold bliver vist når checkboxen er valgt.</p>
    </div>
  </div>

  {{ checkbox("id-checkbox2", "Name", "Value", false, true, "Checbox viser indhold", "", false, true, "", "js-checkbox-toggle-content", "data-js-target='#collapse-check2' aria-controls='collapse-check2' aria-expanded='false'") }}
  <div id="collapse-check2" aria-hidden="true" class="box-border-l collapsed">
    <div class="py-4">
      <p>Dette indhold bliver vist når checkboxen er valgt.</p>
    </div>
  </div>
</div>
  


