{% import "02-buttons/buttons.njk" as button %}
{% from "07-form/controls/checkbox.njk" import checkbox as checkbox %}
{% from "07-form/controls/radiobutton.njk" import radiobutton as radiobutton %}

<div class="p-4">
  {{ checkbox("id-comments-3", "Name", "Value", false, false, "Collapse checkbox", "js-collapse", false, true, "data-js-target='#collapse-check' aria-controls='collapse-check' aria-expanded='false'") }}
  <div id="collapse-check" aria-hidden="true" class="box-border-l collapsed">
    <div class="py-4">
      <p>Content of collapsible check</p>
      <p>Content of collapsible check</p>
      <p>Content of collapsible check</p>
    </div>
  </div>

  {{radiobutton("id-radio", "Name", "Value", false, false, "Collapse radiobutton", "js-collapse", false, true, "data-js-target='#collapse-radio' aria-controls='collapse-radio' aria-expanded='false'")}}
  <div id="collapse-radio" aria-hidden="true" class="box-border-l collapsed">
    <div class="py-4">
      <p>Content of collapsible radiobutton</p>
      <p>Content of collapsible radiobutton</p>
      <p>Content of collapsible radiobutton</p>
    </div>
  </div>
</div>

