{% import "02-buttons/buttons.njk" as button %}
{% from "07-form/controls/radiobutton.njk" import radiobutton as radiobutton %}

<div class="container js-radio-toggle-group">
  {{radiobutton("id-radio1", "radio-group1", "Value", false, true, "Radioknap viser indhold", "", false, true, "", "", "data-js-target='#collapse-radio1' aria-controls='collapse-radio1' aria-expanded='false'")}}
  <div id="collapse-radio1" aria-hidden="true" class="box-border-l collapsed">
    <div class="py-4">
      <p>Dette indhold bliver vist når radio-knappen er valgt.</p>
    </div>
  </div>
   {{radiobutton("id-radio2", "radio-group1", "Value", false, false, "Radioknap viser indhold", "", false, true, "", "", "data-js-target='#collapse-radio2'")}}
  <div id="collapse-radio2" aria-hidden="true" class="box-border-l collapsed">
    <div class="py-4">
      <p>Dette indhold bliver vist når radio-knappen er valgt.</p>
    </div>
  </div>
</div>
  


