/*! dkwds @version */
@import 'vendor/tippy';

// Core -------------- //
@import 'core/fonts';
@import 'core/base';
@import 'core/bootstrap-grid';
@import 'core/uswd-grid';
@import 'core/utilities';

// Utilities------------//
@import 'core/utilities/background';
@import 'core/utilities/width';
@import 'core/utilities/textalign';
@import 'core/utilities/flex';
@import 'core/utilities/spacing';
@import 'core/utilities/position';
@import 'core/utilities/display';


// Elements -------------- //
// Styles basic HTML elements
@import 'elements/typography';
@import 'elements/buttons';
@import 'elements/tags';
@import 'elements/badge';
@import 'elements/embed';
@import 'elements/figure';
@import 'elements/icons';
@import 'elements/inputs';
@import 'elements/list';
@import 'elements/select2-fsg-theme';
@import 'elements/pikaday';
@import 'elements/_dataTables';
@import 'elements/spinner';
@import 'elements/page';
@import 'elements/collapse';

// Components -------------- //
@import 'components/accordions';
@import 'components/alerts';
@import 'components/footer';
@import 'components/forms';
@import 'components/header'; 
@import 'components/layout';
@import 'components/media-block';
@import 'components/modal';
@import 'components/navigation';
@import 'components/search';
@import 'components/section';
@import 'components/sidebar';
@import 'components/sidenav';
@import 'components/skipnav';
@import 'components/styles';
@import 'components/table';
@import 'components/cards';
@import 'components/overflow-menu';
@import 'components/tabnav';
@import 'components/breadcrumb';
@import 'components/tooltip';

