{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}

{% from "07-form/controls/checkbox.njk" import checkbox as checkbox %}

{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}

{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><b>Navn</b></p>
        {# <p class="mt-0">Københavns Urmager Værksted v/Martin Elsig</p> #}
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

      <div class="navbar">
        <div class="navbar-inner navbar-context-actions container">
          <div class="nav-actions">
          <ul>
            <a href="#" class="function-link">Om digital flytning</a>
            <a href="" class="function-link">Sprog
              {{icon_svg("language")}}
            </a>
            
          </div>
        </div>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
  <section class="container page-container">
    <div class="row">
      <div class="col-12">
          {{overflowmenu("Trin 4 af 5","overflow_steps", true, false, "menu-down" ,"
              <ul class='sidenav-list'>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/digital-flytning/flytning-1'>
                          1. Oversigt
                          <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/digital-flytning/flytning-2'>
                          2. Personer
                          <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/digital-flytning/flytning-3'>
                          3. Adresse
                          <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/digital-flytning/flytning-4' class='active'>
                          4. Særlig flytning
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/digital-flytning/flytning-5'>
                          5. Lægevalg
                      </a>
                  </li>
              </ul>
              ", true
          ) }}
          <div class="content">
            <h1>Særlig flytning</h1>
            <p class="font-lead mt-0">Hvis du flytter til en anden persons adresse, skal denne person bekræfte din indflytning. Kommunen indhenter selv denne bekræftelse.</p>
            <div class="mt-6">
              {{ checkbox("id-special-moving", "Person(er) på den nye adresse bliver boende (logivært)", "Person(er) på den nye adresse bliver boende (logivært)", false, true, "Person(er) på den nye adresse bliver boende (logivært)", "", false, true) }}
            </div>

            <a href="/frontend-styleguide/pages/page-templates/digital-flytning/flytning-5" class="button button-primary mt-7">Næste</a>
            <div class="breadcrumb">
              <a href="/frontend-styleguide/pages/page-templates/digital-flytning/flytning-3" class="button button-ghost">Tilbage</a>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}