{% extends '_dkwds.njk' %}
{% block body %}
  <div class="container" style="padding: 2em">
    <div class="row">
      <div class="col-12">
        {{ yield }}
      </div>
    </div>
  </div>
{% endblock %}
