
<div class="container">
	<button class="button button-primary" data-micromodal-trigger="modal-active">Åben modal (aktiv)</button>
	<br>
	<br>
	<button class="button button-primary" data-micromodal-trigger="modal-passive">Åben modal (passive)</button>
	<div class="styleguide-spacer-modals"></div>
</div>
 
{% macro modal(modal_id,modal_data) %}
	<div class="modal" id="{{ modal_id | default('modal-id-1') }}" aria-hidden="true">
		<div class="modal__overlay bg-3" tabindex="-1" data-micromodal-close>
			<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ modal_data.modal_title_id | default('modal-id-1-title') }}">
				<header class="modal__header">
					<h1 class="modal__title h2" id="{{ modal_data.modal_title_id | default('modal-id-1-title') }}">
						{{ modal_data.modal_title | default('Modal title') }}
					</h1>
				</header>
				<main class="modal__content content">
					{{ modal_data.modal_content }} 
				</main>
				{% if  modal_data.modal_actions %}  
				<footer class="modal__footer">
					{{ modal_data.modal_actions }} 
				</footer>
				{% endif %}
				<button class="modal__close button button-ghost" aria-label="Close modal" data-micromodal-close>{{ modal_data.modal_close_text  | default('Luk') }}</button>			
			</div>
		</div>
	</div>
{% endmacro %}

{{ modal('modal-active',modal_data_active) }}
{{ modal('modal-passive',modal_data_passive) }}