{% macro modalpassive(type, close, title, description) %}
<h4>Passive Modal</h4>
<button type="button" aria-label="Open Modal" class="js-open-modal-passive open-modal button button-primary">Open passive modal </button>
 {%- if (type == 'passive') -%}
	<div class="modal js-modal-passive" role="modal" aria-labelledby="modal-title" aria-describedby="modal-description">
		<button type="button" aria-label="Close Modal" class="js-close-modal-passive close-modal button button-ghost">{{close}}</button>
		<h3 class="modal-title" class="font-lead">{{title}}</h3>
		<p class="modal-description">{{description}}</p>
	</div>
{%- endif %} 
{% endmacro %}


{% macro modaltransactional(type, close, title, description, modalbuttons) %}
<h4>Transactional Modal</h4>
<button type="button" aria-label="Open Modal" class="js-open-modal-transactional open-modal button button-primary">Open transactional modal </button>
 {%- if (type == 'transactional') -%}
	<div class="modal js-modal-transactional" role="modal" aria-labelledby="modal-title" aria-describedby="modal-description">
		<button type="button" aria-label="Close Modal" class="js-close-modal-transactional close-modal button button-ghost">{{close}}</button>
		<h3 class="modal-title" class="font-lead">{{title}}</h3>
		<p class="modal-description">{{description}}</p>
		<div class="modalbuttons">
			<button class="button button-primary">Primary</button>
			<button class="button button-secondary">Secondary</button>
		</div>
	</div>
{%- endif %} 
{% endmacro %}

<div class="modal-overlay js-modal-overlay-passive" tabindex="-1"></div>
<div class="modal-overlay js-modal-overlay-transactional" tabindex="-1"></div>
{# <div class="modal-overlay js-modal-overlay-transactional" tabindex="-1"></div> #}

{% for modal in modalpassive_example.items -%}
	{{ modalpassive(modal.type, modal.close, modal.title, modal.description, modal.modalbuttons) }}
{%- endfor %}
{% for modal in modaltransactional_example.items -%}
	{{ modaltransactional(modal.type, modal.close, modal.title, modal.description) }}
{%- endfor %}
