{% import "07-form/controls/text-input.njk" as input %}

{% macro navneform() %}
      {{input.textinput(input-text-fornavn, "Fornavn", "", false, "", input-text-fornavn)}}
      {{input.textinput(input-text-efternavn, "Efternavn", "", false, "", input-text-efternavn)}}
{% endmacro %}

<form class="form-large">
  <fieldset>
    <legend>Navn</legend>
    {{navneform()}}
  </fieldset>
</form>