{%- macro badge(class, state) -%}
  {%- if (state == 'large') -%}
    <label class="badge badge-{{class}}">Nyhed</label>
  {%- elif (state == 'small') -%}
    <label class="badge badge-{{class}}">Lille nyhed</label>
  {%- endif %}
{%- endmacro -%}

<div class="container">
  {%- for badges in badge_example.items -%}
    {%- if badges.label %}
      <p class="h5">{{ badges.label }}</p>
    {% endif -%}
    {{ badge(badges.class, badges.state) }}
  {% endfor -%}
</div>


