{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{%- macro tag(class, state) -%}
  {%- if (state == 'default') -%}
    <button class="tag tag-{{class}}">Default</button>
  {%- elif (state == 'hover') -%}
    <button class="tag tag-{{class}} tag-hover">Hover</button>
  {%- elif (state == 'active') -%}
    <button class="tag tag-{{class}} tag-active">Active</button>
  {%- elif (state == 'focus') -%}
    <button class="tag tag-{{class}} focus">Focus</button>
  {%- elif (state == 'icon-default') -%}
    <button class="tag tag-icon tag-{{class}}">Default {{ icon_svg('close-circle-outline')}}</button>
  {%- elif (state == 'icon-hover') -%}
    <button class="tag tag-icon tag-{{class}} tag-hover">Hover {{ icon_svg('close-circle-outline')}}</button>
  {%- elif (state == 'icon-active') -%}
    <button class="tag tag-icon tag-{{class}} tag-active">Active {{ icon_svg('close-circle-outline')}}</button>
  {%- elif (state == 'icon-focus') -%}
    <button class="tag tag-icon tag-{{class}} focus">Focus {{ icon_svg('close-circle-outline')}}</button>
  {%- endif %}
{%- endmacro -%}

{%- for tags in tag_example.items -%}
  {%- if tags.label %}
    <h4>{{ tags.label }}</h4>
  {% endif -%}
  {{ tag(tags.class, tags.state) }}
{% endfor -%}