// Apply a natural box layout model to all elements, but allowing components to
// change

html {
  box-sizing: border-box;
  opacity: 1; //delete again test only
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-white;
  color: $color-black;
  overflow-x: hidden;
}

// Hack for clearfixes
.lt-ie9 {
  * {
    filter: none !important; /* stylelint-disable-line declaration-no-important */
  }
}

// for IE < 11, see:
// <http://caniuse.com/#feat=hidden>
[hidden] {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

a:focus, button:focus, input:focus, select:focus,
.focus {
  outline: $focus-outline;
  outline-offset: 0;
}

.page-container{
  padding-top: $spacing-x-large;
  padding-bottom: $spacing-xxx-large;
}