/* stylelint-disable at-rule-empty-line-before */
// IBMPlexSans
$fontpath : '../fonts/IBMPlexSans/'; 
// IBMPlexSans
$font-text-regular: 'IBMPlexSans-Text' !default;
$font-regular: 'IBMPlexSans-Regular' !default;
$font-medium: 'IBMPlexSans-Medium' !default;
$font-semibold: 'IBMPlexSans-SemiBold' !default;
$font-bold: 'IBMPlexSans-Bold' !default;

@font-face {
font-family: 'IBMPlexSans-Text';
src: url($fontpath + $font-text-regular+'.eot'); /* IE9 Compat Modes */
src: url($fontpath + $font-text-regular+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url($fontpath + $font-text-regular+'.woff') format('woff'), /* Modern Browsers */
     url($fontpath + $font-text-regular+'.woff2') format('woff2'), /* Modern Browsers */
     url($fontpath + $font-text-regular+'.ttf') format('truetype'); /* Safari, Android, iOS */

  font-style:   normal;
  font-weight:  300;
}

@font-face {
font-family: 'IBMPlexSans-Regular';
src: url($fontpath + $font-regular+'.eot'); /* IE9 Compat Modes */
src: url($fontpath + $font-regular+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url($fontpath + $font-regular+'.woff') format('woff'), /* Modern Browsers */
     url($fontpath + $font-regular+'.woff2') format('woff2'), /* Modern Browsers */
     url($fontpath + $font-regular+'.ttf')  format('truetype'), /* Safari, Android, iOS */
     url($fontpath + $font-regular+'.svg#52bc9fd504b621176d57f308965c98a4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
@font-face {
font-family: 'IBMPlexSans-Medium';
src: url($fontpath + $font-medium+'.eot'); /* IE9 Compat Modes */
src: url($fontpath + $font-medium+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url($fontpath + $font-medium+'.woff') format('woff'), /* Modern Browsers */
     url($fontpath + $font-medium+'.woff2') format('woff2'), /* Modern Browsers */
     url($fontpath + $font-medium+'.ttf') format('truetype'), /* Safari, Android, iOS */
     url($fontpath + $font-medium+'.svg#52bc9fd504b621176d57f308965c98a4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}
@font-face {
font-family: 'IBMPlexSans-SemiBold';
src: url($fontpath + $font-semibold+'.eot'); /* IE9 Compat Modes */
src: url($fontpath + $font-semibold+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url($fontpath + $font-semibold+'.woff') format('woff'), /* Modern Browsers */
     url($fontpath + $font-semibold+'.woff2') format('woff2'), /* Modern Browsers */
     url($fontpath + $font-semibold+'.ttf') format('truetype'), /* Safari, Android, iOS */
     url($fontpath + $font-semibold+'.svg#52bc9fd504b621176d57f308965c98a4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}
@font-face {
  font-family: 'IBMPlexSans-Bold';
  src: url($fontpath + $font-bold+'.eot'); /* IE9 Compat Modes */
  src: url($fontpath + $font-bold+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fontpath + $font-bold+'.woff') format('woff'), /* Modern Browsers */
       url($fontpath + $font-bold+'.woff2') format('woff2'), /* Modern Browsers */
       url($fontpath + $font-bold+'.ttf') format('truetype'), /* Safari, Android, iOS */
       url($fontpath + $font-bold+'.svg#52bc9fd504b621176d57f308965c98a4') format('svg'); /* Legacy iOS */
  
    font-style:   normal;
    font-weight:  700;
  }
