/* stylelint-disable at-rule-empty-line-before */
// Raleway
@include font-face(
  'Raleway',
  '#{$fonts-path/raleway/Raleway-ExtraLight',
  200,
  normal,
  $fole-formats: woff2 ttf
);

@include font-face(
  'Raleway',
  '#{$fonts-path/raleway/Raleway-Light',
  300,
  normal,
  $fole-formats: woff2 ttf
);

@include font-face(
  'Raleway',
  '#{$fonts-path/raleway/Raleway-Regular',
  400,
  normal,
  $fole-formats: woff2 ttf
);

@include font-face(
  'Raleway',
  '#{$fonts-path/raleway/Raleway-SemiBold',
  600,
  normal,
  $fole-formats: woff2 ttf
);

@include font-face(
  'Raleway',
  '#{$fonts-path/raleway/Raleway-Bold',
  700,
  normal,
  $fole-formats: woff2 ttf
);


// Open Sans
@include font-face(
  'Open Sans',
  '#{$fonts-path/opensans/OpenSans-Light',
  300,
  normal,
  $fole-formats: woff2 ttf
);

@include font-face(
  'Open Sans',
  '#{$fonts-path/opensans/OpenSans-Regular',
  400,
  normal,
  $fole-formats: woff2 ttf
);

@include font-face(
  'Open Sans',
  '#{$fonts-path/opensans/OpenSans-SemiBold',
  600,
  normal,
  $fole-formats: woff2 ttf
);

@include font-face(
  'Open Sans',
  '#{$fonts-path/opensans/OpenSans-Bold',
  700,
  normal,
  $fole-formats: woff2 ttf
);

/*
@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-light-webfont',
  300,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-regular-webfont',
  400,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-italic-webfont',
  400,
  italic,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-bold-webfont',
  700,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Merriweather',
  '#{$font-path}/merriweather-light-webfont',
  300,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Merriweather',
  '#{$font-path}/merriweather-regular-webfont',
  400,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Merriweather',
  '#{$font-path}/merriweather-italic-webfont',
  400,
  italic,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Merriweather',
  '#{$font-path}/merriweather-bold-webfont',
  700,
  normal,
  $file-formats: eot woff2 woff ttf
);
*/
/* stylelint-enable */
