<div class="usa-grid fontawesome-icon-list">
    <div class="usa-width-one-fourth">
      <span><i class="fa fa-address-book" aria-hidden="true"></i> <span class="sr-only">Example of </span>address-book</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-telegram" aria-hidden="true"></i> <span class="sr-only">Example of </span>telegram</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-user-o" aria-hidden="true"></i> <span class="sr-only">Example of </span>user-o</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-id-card-o" aria-hidden="true"></i> <span class="sr-only">Example of </span>id-card-o</span>
    </div>

    <div class="usa-width-one-fourth">
      <span><i class="fa fa-bar-chart" aria-hidden="true"></i> <span class="sr-only">Example of </span>bar-chart</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-ban" aria-hidden="true"></i> <span class="sr-only">Example of </span>ban</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-barcode" aria-hidden="true"></i> <span class="sr-only">Example of </span>barcode</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-area-chart" aria-hidden="true"></i> <span class="sr-only">Example of </span>area-chart</span>
    </div>

    <div class="usa-width-one-fourth">
      <span><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i> <span class="sr-only">Example of </span>assistive-listening-systems</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-anchor" aria-hidden="true"></i> <span class="sr-only">Example of </span>anchor</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <span class="sr-only">Example of </span>calendar-check-o</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-check-square" aria-hidden="true"></i> <span class="sr-only">Example of </span>check-square</span>
    </div>

    <div class="usa-width-one-fourth">
      <span><i class="fa fa-child" aria-hidden="true"></i> <span class="sr-only">Example of </span>child</span>
    </div>
      <div class="usa-width-one-fourth">
      <span><i class="fa fa-file-code-o" aria-hidden="true"></i> <span class="sr-only">Example of </span>file-code-o</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-fire-extinguisher" aria-hidden="true"></i> <span class="sr-only">Example of </span>fire-extinguisher</span>
    </div>
        <div class="usa-width-one-fourth">
      <span><i class="fa fa-group" aria-hidden="true"></i> <span class="sr-only">Example of </span>group <span class="text-muted">(alias)</span></span>
    </div>

  </div>