{# 
  Alle the footer have most of their code from the USWD footer--big-variant.

  @param agency: f.eks. "Styrelsen for Institutioner og Uddannelsesstøtte"
  @param contact: e.g. {tel:'70707070', mail:'info@agency.gov' }
  @param subjects: [{title: 'Myndighedslink', link: 'javascript:void(0);'},{title: 'Myndighedslink', link: 'javascript:void(0);'}]

  @usage: 
    {% import "footer/footer.njk" as footer %}
    ...
    {{ footer(<see input params above>) }}

  @return: the HTML for a medium footer.
#}
{% macro footerMedium(agency, contact, subjects) %}
  
<footer class="footer" role="contentinfo">
  <div class="container footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="footer-primary-section">
    <div class="container">
      <nav class="footer-nav row">
        <div class="col-12 col-sm-4 col-md-6">
          <ul class="unstyled-list footer-primary-content">
            <li class="footer-primary-link">
              <h4>Ansvarlig myndighed</h4>
            </li>
            <li><a href="javascript:void(0);">{{ agency }}</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-4 col-md-3">
          <ul class="unstyled-list footer-primary-content">
            <li class="footer-primary-link">
              <h4>Kontakt</h4>
            </li>
            <address>
              <li><a href="tel:{{ contact.tel }}">{{ contact.tel }}</a></li>
              <li><a href="mailto:{{ contact.mail }}">{{ contact.mail }}</a></li>
            </address>
          </ul>
          
        </div>

        <div class="col-12 col-sm-4 col-md-3">
          <ul class="unstyled-list footer-primary-content">
            <li class="footer-primary-link">
              <h4>Emne</h4> 
            </li>
            {% for subject in subjects %}
            <li><a href="{{ subject.link }}">{{ subject.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="footer-secondary_section">
    <div class="container">
      <div class="footer-logo row">
        <div class="footer-logo-img col-12">En del af</div>
      </div>
    </div>
  </div>
</footer>
{% endmacro %}

{{ footerMedium("Styrelsen for Institutioner og Uddannelsesstøtte",  
                {tel:'70707070', mail:'kontakt@mailadresse.dk' }, 
                [{title: 'Myndighedslink', link: 'javascript:void(0);'},{title: 'Myndighedslink', link: 'javascript:void(0);'}]) }}

