{% macro checkbox(id, name, value, disabled, checked, text) %}
  <li>
    <input id="{{id}}" type="checkbox" name="{{name}}" value="{{value}}" {% if disabled %}disabled{% elif checked %}checked{% endif %}>
    <label for="{{id}}">{{text}}</label>
  </li>
{% endmacro %}

<div class="container">
  <fieldset class="fieldset-inputs sans">
    <ul class="unstyled-list">
      {% for item in checkbox_example.items %}
        {{ checkbox(item.id, item.name, item.value, item.disabled, item.checked, item.text) }}
      {% endfor %}
    </ul>
  </fieldset>
</div>