{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% macro datoinput(label, hint, day, month, year) %}
<fieldset>
  <div class="form-group">
    <label class="form-label">{{label}}</label>
    <span class="input-error-message" id="input-error-message-input-error" role="alert"></span>
    <span class="form-hint">{{hint}}</span>
    <div class="date-group js-calendar-group">
      <div class="form-group form-group-day">
        <label class="form-label" for="date_of_day_2">{{day}}</label>
        <input class="form-input js-calendar-day-input" type="tel" min="1" max="31" maxlength="2" pattern="^[0-9]{0,2}$" data-input-regex="^[0-9]{0,2}$" title="Indskriv dag på månenden som tal">
      </div>
      <div class="form-group form-group-month">
        <label class="form-label" for="date_of_month_1">{{month}}</label>
        <input class="form-input js-calendar-month-input" type="tel" min="1" max="12" maxlength="2" pattern="^[0-9]{0,2}$"  data-input-regex="^[0-9]{0,2}$" title="Indskriv månedens nummer">
      </div>
      <div class="form-group form-group-year ">
        <label class="form-label" for="date_of_year_3">{{year}}</label>
        <input class="form-input js-calendar-year-input" type="tel" min="1900" max="3000" maxlength="4" pattern="^[0-9]{0,4}$" data-input-regex="^[0-9]{0,4}$" title="Indskriv årstal">
      </div>
      <button class="button-unstyled button-open-calendar js-calendar-datepicker">
        {{ icon_svg("calendar")}}
      </button>
    </div>
  </div>
</fieldset>
{% endmacro %}


<div class="container">
{% for item in datoinput_example.items %}
  {{datoinput(item.label, item.hint, item.day, item.month, item.year)}}
{% endfor %}
</div>