{% macro dropdown(name, id, label, options) %}
  <label for="{{name}}">{{label}}</label>
  <select name="{{name}}" id="{{id}}">
    <option value>- Vælg -</option>
    {% for option in options %}
      <option value="{{option.value}}">{{option.text}}</option>
    {% endfor %}
  </select>
{% endmacro %}

<form class="usa-form">
  {{dropdown(dropdown_example.name, dropdown_example.id, dropdown_example.label, dropdown_example.options)}}
</form>
