<form class="form">
  <fieldset>
  <div class="form-group file-input">
    <label class="form-label" for="file">Vedhæft fil</label>
    <input type="file" id="file" name="file">
  </div>
  </fieldset> 
</form>