{% macro radiobutton(id, name, value, disabled, checked, text, class, focus, large, attr, inputClasses, inputAttrs) %}
  <div class="form-group">
    <input id="{{id}}" type="radio" name="{{name}}" value="{{value}}" class="{% if focus %}focus{% endif %} {% if large %}radio-large{% endif %} {{inputClasses}}" {% if disabled %}disabled{% endif %} {% if checked %}checked{% endif %} {{inputAttrs}}>
    <label for="{{id}}" class="{{class}}" {{attr}}>{{text}}</label>
  </div>
{% endmacro %}

<div class="container">
  <fieldset class="fieldset-inputs sans">
    <ul class="unstyled-list bottom-spacing">
      {% for item in radiobuttons_example.items %}
      <li>
        {{ radiobutton(item.id, item.name, item.value, item.disabled, item.checked, item.text, item.class, item.focus, item.large) }}
      </li>
      {% endfor %}
    </ul>
  </fieldset>
</div>
