{% macro select(name, id, label, options) %}
  <div class="form-group">
    <label class="form-label" for="{{name}}">{{label}}</label>
    <select class="form-select" name="{{name}}" id="{{id}}">
      <option value>- Vælg -</option>
      {% for option in options %}
        <option value="{{option.value}}">{{option.text}}</option>
      {% endfor %}
    </select>
  </div> 
{% endmacro %}

<div class="container">
  <form class="form mb-7 input-width-200">
    {{select(select_example.name, select_example.id, select_example.label, select_example.options)}}
  </form>
</div> 