{% macro select(name, id, label, options) %}
  <label for="{{name}}">{{label}}</label>
  <select name="{{name}}" id="{{id}}">
    <option value>- Vælg -</option>
    {% for option in options %}
      <option value="{{option.value}}">{{option.text}}</option>
    {% endfor %}
  </select>
{% endmacro %}

<div class="container">
  <form class="form mb-7">
    {{select(select_example.name, select_example.id, select_example.label, select_example.options)}}
  </form>
</div>