{# {%- from "07-form/controls/select-multi.njk" import select2 as select2 -%} #}

{% macro select(name, id, label, options) %}
  <label for="{{name}}">{{label}}</label>
  <select name="{{name}}" id="{{id}}">
    <option value>- Vælg -</option>
    {% for option in options %}
      <option value="{{option.value}}">{{option.text}}</option>
    {% endfor %}
  </select>
{% endmacro %}

{% macro select2(name, id, label, options, multiple) %}
  <label for="{{name}}">{{label}}</label>
  <select class="js-select2" name="{{name}}" id="{{id}}" {% if multiple %}multiple{% endif %}>
    {% for option in options %}
      <option value="{{option.value}}">{{option.text}}</option>
    {% endfor %}
  </select>
{% endmacro %}

<div class="container">
  <form class="form mb-7">
    <h3>Normal select:</h2>
    {{select(select_example.name, select_example.id, select_example.label, select_example.options)}}
  </form>
  
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3>Select2 - Single:</h2>
      {{select2(select_multiple_example.name, select_multiple_example.id, select_multiple_example.label, select_multiple_example.options, false)}}
    </div>
    <div class="col-xs-12 col-md-6">
      <h3>Select2 - multiple:</h2>
      {{select2(select_multiple_example.name, select_multiple_example.id, select_multiple_example.label, select_multiple_example.options, true)}}
    </div>
  </div>
</div>
