{% macro textinputwidth(id, label, optionallabel, class, name, classlabel) %}
  <div class="form-group">
    <label class="form-label {{classlabel}}" for="{{id}}">{{label}}{% if optionallabel %}<span class="weight-normal"> {{optionallabel}}</span>{% endif %}</label>
    <input class="form-input {{class}}" id="{{id}}" name="{{name}}" type="text">
  </div>
{% endmacro %}

<div class="container">
  <h4>Input bredde med rem</h4>
  {% for item in textinputwidth_example.items %}
    {{textinputwidth(item.id, item.label, item.optionallabel, item.class, item.name, item.classLabel)}}
  {% endfor %}
</div>


{% macro textinputchar(id, label, optionallabel, class, name, classlabel) %}
  <div class="form-group">
    <label class="form-label {{classlabel}}" for="{{id}}">{{label}}{% if optionallabel %}<span class="weight-normal"> {{optionallabel}}</span>{% endif %}</label>
    <input class="form-input {{class}}" id="{{id}}" name="{{name}}" type="text">
  </div>
{% endmacro %}

<div class="container">
  <h4 class="mt-7">Input bredde med tegn</h4>
  {% for item in textinputchar_example.items %}
    {{textinputchar(item.id, item.label, item.optionallabel, item.class, item.name, item.classLabel)}}
  {% endfor %}
</div>

