{% macro textinput(id, label, class, error, name, classlabel, success, hint) %}
  {% if error1 %}
  <div class="form-group input-error">
    <label class="form-label {{classlabel}}" for="{{id}}">{{label}}</label>
    <span class="input-error-message" id="input-error-message-{{id}}" role="alert">{{error}}</span>
    <input class="form-input {{class}}" id="{{id}}" name="{{name}}" type="text" aria-describedby="input-error-message-{{id}}">
  </div>
  {% else %} 
  <div class="form-group{% if success %} input-success{% endif %}{% if error %} input-error{% endif %}">
     <label class="form-label {{classlabel}}" for="{{id}}">{{label}}</label>
      {% if error %}<span class="input-error-message" id="input-error-message-{{id}}" role="alert">{{error}}</span>{% endif %}
      {% if hint %}<span class="form-hint" id="input-hint-message-{{id}}">{{hint}}</span>{% endif %}
     <input class="form-input  {{class}}" id="{{id}}" name="{{name}}" type="text" {% if error %}aria-describedby="input-error-message-{{id}}"{% endif %} {% if error %}aria-describedby="input-hint-message-{{id}}"{% endif %}>
  </div>
  {% endif %}
{% endmacro %}

<div class="container">
  {% for item in textinput_example.items %}
    {{textinput(item.id, item.label, item.class, item.error, item.name, item.classLabel, item.success, item.hint)}}
  {% endfor %}
</div>
