{% macro textinput(id, label, class, error, errormsg, name, classlabel) %}
  {% if error %}
  <div class="usa-input-error">
    <label class="usa-input-error-label" for="{{id}}">{{label}}</label>
    <span class="usa-input-error-message" id="input-error-message" role="alert">{{errormsg}}</span>
    <input id="{{id}}" name="{{name}}" type="text" aria-describedby="input-error-message">
  </div>
  {% else %} 
     <label for="{{id}}" class="{{classlabel}}">{{label}}</label>
     <input class="{{class}}" id="{{id}}" name="{{name}}" type="text">
  {% endif %}
{% endmacro %}

<div class="container">
  {% for item in textinput_example.items %}
    {{textinput(item.id, item.label, item.class, item.error, item.errormsg, name)}}
  {% endfor %}
</div>
