{% macro textinputwidth(id, label, optionallabel, class, name, classlabel) %}

  <div class="form-group">
    <label class="form-label {{classlabel}}" for="{{id}}">{{label}}{% if optionallabel %}<span class="weight-normal"> {{optionallabel}}</span>{% endif %}</label>
    <input class="form-input {{class}}" id="{{id}}" name="{{name}}" type="text" aria-describedby="input-error-message-{{id}}">
  </div>

{% endmacro %}

<div class="container">
  {% for item in textinputwidth_example.items %}
    {{textinputwidth(item.id, item.label, item.optionallabel, item.class, item.name, item.classLabel)}}
  {% endfor %}
</div>
