<form class="form">
  <h2>Validation examples</h2>
  <fieldset>
    <legend>Enter a code</legend>
    <br>
    <div class="alert alert-info">
      <div class="alert-body">
        <h3 class="alert-heading">Codes must:</h3>
      </div>
      <ul id="validate-code">
        <li data-validator="uppercase">Have at least 1 uppercase character</li>
        <li data-validator="numerical">Have at least 1 numerical character</li>
      </ul>
    </div>

    <div class="form-group mt-5">
      <label class="form-label" for="code">Code</label>
      <input class="form-input" id="code" name="code" type="text"
        data-mask="^\d*$"
        aria-describedby="validate-code"
        data-validate-uppercase="[A-Z]"
        data-validate-numerical="\d"
        data-validation-element="#validate-code">
    </div>

    <div class="form-group">
      <label class="form-label" for="code">Numbers only regex</label>
      <input class="form-input" id="code" name="code" type="text"
        data-input-regex="^\d*$">
    </div>

    <input class="button button-primary mt-5" type="submit" value="Submit code">



  </fieldset>
</form>