// These variables overwrite the default values, giving the style the virk.dk theme

// Overwriting default values
$color-primary:               #588012;
$color-primary-darker:        #405e0d;
$color-primary-darkest:       #283a08;
$color-primary-lightest:      #BEE678;

.header .logo{
    background-image: url('#{$image-path}/logo-borgerdk.svg');
    background-size: 17.2rem;
    min-width: 175px
}

.footer-logo-img {
    background-image: url('#{$image-path}/logo-borgerdk.svg');
    background-position: 9rem 1.8rem;
    background-size: 8.2rem;
    background-clip: padding-box;
    padding-bottom: 1.5rem;

}
