// These variables overwrite the default values, giving the style the virk.dk theme

// Overwriting default values
$color-primary:               #588012;
$color-primary-darker:        #405e0d;
$color-primary-darkest:       #283a08;
$color-primary-lightest:      #BEE678;