// These variables overwrite the default values, giving the style the virk.dk theme

// Overwriting default values
$color-primary:               #067293;
$color-primary-medium:        #04556E;
$color-primary-dark:          #033747;

.header {
    .portal-header{
        .logo{
            background-image: url($image-path + '/logo_virk_indberet.svg');
            width: 200px;
            height: 58px;
        }    
    }
}
