// These variables overwrite the default values, giving the style the virk.dk theme

// Overwriting default values
$color-primary:               #f08b1e;
$color-primary-darker:        #D8760E;
$color-primary-darkest:       #B1610B;
$color-primary-lightest:      #f8c996;

$color-primary-button-text:   $color-base;

$image-path:                    '../img';
.header .logo{
    background-image: url('#{$image-path}/logo-virk.svg');
    background-size: 6.2rem;
    min-width: 70px;
}