<form action="/search" method="get" role="search">
  <div class="search">
    <label for="input-type-text" class="">Text input label</label>
    <div class="search__item-wrapper">
      <input class="" id="input-type-text" name="" title="Search" type="search">
      <button type="submit" class="search__submit button-primary">Søgning</button>
    </div>
  </div>
</form>
