<div class="container">
  <form action="/search" method="get" role="search">
    <div class="search">
      <div class="form-group search__item-wrapper">
        <input class="form-input input-char-27" id="input-type-text" name="" title="Search" type="search">
        <button type="submit" class="search__text_submit button button-primary">Søg</button>
      </div>
    </div>
  </form>


  <form action="/search" method="get" role="search">
    <div class="search">
      <div class="form-group search__item-wrapper">
        <input class="form-input input-width-xs" id="input-type-text" name="" title="Search" type="search">
        <button type="submit" class="search__submit button button-primary search-submit"><span class="sr-only">Søg</span></button>
      </div>
    </div>
  </form>
</div>