
  <h6>Search big</h6>

  <div class="container">
    <div class="col-6">
      <div role="search">
        <form class="search search-big">
          <label class="sr-only" for="search-field-big">Search big</label>
          <input id="search-field-big" type="search" name="search">
          <button type="submit">
            <span class="search-submit-text">Search</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <h6>Search medium</h6>

  <div class="container">
    <div class="col-6">
      <div role="search">
        <form class="search">
          <label class="sr-only" for="search-field">Search medium</label>
          <input id="search-field" type="search" name="search">
          <button type="submit">
            <span class="search-submit-text">Search</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <h6>Search small</h6>

  <div class="container">
    <div class="col-6">
      <div role="search">
        <form class="search search-small">
          <label class="sr-only" for="search-field-small">Search small</label>
          <input id="search-field-small" type="search" name="search">
          <button type="submit">
            <span class="sr-only">Search</span>
          </button>
        </form>
      </div>
    </div>
  </div>
