{%- from "08-side-navigation/tringuide.njk" import tringuide as tringuide -%}


{% extends 'layouts/_base.njk' %}

{% block header %}
  <header class="header header-extended mb-5" role="banner">
    <div class="subheader">
      <div class="navbar-inner container">

        <div class="portal-header-logo">
          <a href="/">
            <div class="logo"></div>
          </a>
        </div>

        <div class="portal-header-title">
          <p>{{ portal_header.title }}</p>
        </div>

        <ul class="nav-info-list ml-auto">
          <li class="clear mb-3"><a href="#">Log ud <i class="mdi mdi-chevron-right"></i></a></li>
          <li class="clear">
            <p>{{ user.name }},</p>
            <p>{{ user.company }}</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="subheader">
      <div class="navbar-inner container">
        <div class="subheader-title">
          <h1>{{ sub_header.title }}</h1>
        </div>
        <div class="subheader-info">
          <ul class="nav-info-list">
            <li class="clear"><a href="{{ sub_header.entity-link }}" class="subheader-link">{{ sub_header.entity }} <i class="mdi mdi-chevron-right"></i></a></li>
            <li>Support: {{ sub_header.phone }}&nbsp; | &nbsp;<a href="mailto:{{ sub_header.email }}">E-mail <i class="mdi mdi-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block body %}
  <section class="container">
    <div class="row">
      <div class="col-lg-3">
        {{ tringuide([{ text: "Trin navn", icon: "check", iconclass: "icon-bg-success" }, { text: "Trin navn", icon: "close", iconclass: "icon-bg-error" }, { text: "Trin navn" }, { text: "Trin navn" }, { text: "Opsummering af godkendelse" }]) }}
      </div>
      <div class="col-lg-9">
        <div class="step-wrapper">
          <h1 class="step-title">Trin navn</h1>

          <p>Manchettekst indledende tekst til siden. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>

          <form>
            <fieldset>
              <legend class="drop_text field-group-title">{{ fieldgroup.title }}</legend>
              <hr>
              <span>{{ fieldgroup.text }}</span>

              <div class="row">
                <div class="col-12">
                  <label for="streetname">Gade/vej <span class="required"><i class="mdi mdi-asterisk"></i></span></label>
                  <input id="address-streetname" type="text" name="streetname" autocorrect="off">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <label for="address-number">Husnummer <span class="required"><i class="mdi mdi-asterisk"></i></span></label>
                  <input id="address-number" type="number">
                </div>
                <div class="col-lg-4">
                  <label for="address-floor">Etage</label>
                  <input id="address-floor" type="text">
                </div>
                <div class="col-lg-4">
                  <label for="address-side">Side</label>
                  <input id="address-side" type="text">
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="button-row">
                    <button class="button-primary"><i class="mdi mdi-chevron-left"></i> Forrige</button>
                    <button class="button-primary ml-auto">Næste <i class="mdi mdi-chevron-right"></i></button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="info-row">
                    <span>Klik forrige for at gå tilbage</span>
                    <span class="ml-auto">Klik på næste for at gemme</span>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {% render '@footer' %}
{% endblock %}
