{% import "08-side-navigation/tringuide.njk" as tringuiden %}

{% block header %}
    {% render '@header--simpel' %}
{% endblock %}


{% block body %}
    <header class="container">
        <div class="col">
           <h2>{{title}}</h2>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <div class="alert alert-success">
                    <div class="alert-body">
                        <h3 class="alert-heading">Din ansøgning er modtaget</h3>
                        <p class="alert-text">Dine oplysninger vil blive behandlet hurtigst muligt.</p>
                    </div>
                </div>
                <p>Du kan forvente en afgørelse i løbet af 10 dage. Afgørelsen vil blive sendt via Digital Post, som du kan se på <a href="#">borger.dk</a> eller <a href="#">e-boks.dk</a>.</p>

                    <h3>Kvittering</h3>
                    <p>Referencenummer: 2243-5628-1987</p>
                    <label for="vej">Navn</label>
                    <p id="vej">Finsensvej 4F, 2.4</p>
                    <p>2000 Frederiksberg</p>
                    <label for="dato">Fødselsdato</label>
                    <p id="dato" >24 - 11 - 1991</p>
                    <label for="svar" >Har du tidligere søgt om indsigt?</label>
                    <p id="svar" >nej</p>
                <div class="row">
                    <button class="button button-secondary">Print</button>
                    <button class="button button-secondary">Send til Digital Post</button>
                    <button class="button button-secondary">Gem som PDF</button>
                </div>

                <div class="row alert alert-info">
                    <div class="alert-body">
                        <h3 class="alert-heading">Har du spørgsmål til ansøgningen?</h3>
                        <p class="alert-text">Hvis du har spørgsmål om ansøgningen, kan du henvende dig hos os:</p>
                        <label for="kommune"><strong>Frederiksberg Kommune</strong></label>
                        <p class="alert-text" id="kommune" >Frederiksberg Rådhus 1.sal</p>
                        <p class="alert-text" >Smallegade 1</p>
                        <p class="alert-text" >2000 Frederiksberg</p>
                        <ul>
                            <li><a href="#">Åbningstider</a></li>
                            <li>Telefon: 38 21 21 21</li>
                            <li>E-post: info@frederiksberg.dk</li>
                            <li>www.frederiksberg.dk</li>
                        </ul>
                        <p class="alert-text">Ved henvendelser bedes du benytte Referencenummeret:</p>
                        <p class="alert-text">2243-5628-1987</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block banner -%}
{% endblock %}
{% block footer -%}
    {% render '@footer' %}
{% endblock %}

