{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{%- macro button(class, state) -%}
  {%- if (state == 'default') -%}
    <button class="button button-{{class}}">Default</button>
  {%- elif (state == 'hover') -%}
    <button class="button button-{{class}} button-hover">Hover</button>
  {%- elif (state == 'active') -%}
    <button class="button button-{{class}} button-active">Active</button>
  {%- elif (state == 'focus') -%}
    <button class="button button-{{class}} focus">Focus</button>
  {%- elif (state == 'tertiary') -%}
    <button class="button button-{{class}} tertiary">Tertiary</button>
  {%- elif (state == 'disabled') -%}
    <button class="button button-{{class}}" disabled tab-index="-1" aria-disabled="true">Disabled</button>
  {%- elif (state == 'icon') -%}
  <button class="button button-{{class}}">{{ icon_svg('refresh')}} Refresh</button>
  {%- endif %}

{%- endmacro -%}

<div class="container">
  {%- for buttongroup in button_example.button_groups -%}
    {%- if buttongroup.label %}
      <p class="h5">{{ buttongroup.label }}</p>
    {% endif -%}
    {%- for item in buttongroup.items -%}
      {{ button(item.class, item.state) }}
    {% endfor -%}
  {% endfor -%}

  <p class="h5">Funktionslink</p>
  <p><a href="#" class="function-link">{{ icon_svg('printer')}} Print hele guiden</a></p>
</div>

