{% macro button(class, state) %}
  {% if (state == 'default') -%}
    <button class="usa-button-{{class}}">Default</button>
  {%- elif (state == 'hover') -%}
    <button class="usa-button-{{class}} usa-button-hover">Hover</button>
  {%- elif (state == 'active') -%}
    <button class="usa-button-{{class}} usa-button-active">Active</button>
  {%- elif (state == 'focus') -%}
    <button class="usa-button-{{class}} usa-focus">Focus</button>
  {%- elif (state == 'disabled') -%}
    <button class="usa-button-{{class}}" disabled>Disabled</button>
  {%- endif %}
{% endmacro %}

{% for buttons in button_example.items %}
  {%- if buttons.label -%} <h4>{{ buttons.label }}</h4> {%- endif -%}

  {{ button(buttons.class, buttons.state) }}
{% endfor %}
