{%- macro button(class, state) -%}
  {%- if (state == 'default') -%}
    <button class="button-{{class}}">Default</button>
  {%- elif (state == 'hover') -%}
    <button class="button-{{class}} button-hover">Hover</button>
  {%- elif (state == 'active') -%}
    <button class="button-{{class}} button-active">Active</button>
  {%- elif (state == 'focus') -%}
    <button class="button-{{class}} focus">Focus</button>
  {%- elif (state == 'disabled') -%}
    <button class="button-{{class}}" disabled tab-index="-1" aria-disabled="true">Disabled</button>
  {%- endif %}
{%- endmacro -%}

{%- for buttons in button_example.items -%}
{%- if buttons.label %}
<h4>{{ buttons.label }}</h4>
{% endif -%}
{{ button(buttons.class, buttons.state) }}
{% endfor -%}
