<div class="container">
  <p class="h5">Normal</p>
  <div class="table--responsive-scroll">
    <table class="table">
      <thead>
        <tr>
          <th>Affaldstype</th>
          <th>Farvekode</th>
          <th>Beskrivelse</th>
          <th>Hvor ender det?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dagrenovation</td>
          <td>Grøn</td>
          <td>Madaffald, samt papir.</td>
          <td>Alt det affald, du smider ud i din. </td>
        </tr>
        <tr>
          <td>Bioaffald og kompost</td>
          <td>Beige</td>
          <td>Alt madaffald.</td>
          <td>Bioaffaldet kommes i bionedbrydelige.</td>
        </tr>
        <tr>
          <td>Glas</td>
          <td>Hvid</td>
          <td>Alle typer glas.</td>
          <td>De hele vinflasker.</td>
        </tr>
        <tr>
          <td>Elektronik</td>
          <td>Orange</td>
          <td>Genstande.</td>
          <td>Det elektroniske affald.</td>
        </tr>
      </tbody>
    </table>
  </div>
 

  <p class="h5">Klasse: compact</p>
  <div class="table--responsive-scroll">
    <table class="table table--compact">
      <thead>
        <tr>
          <th>Affaldstype</th>
          <th>Farvekode</th>
          <th>Beskrivelse</th>
          <th>Hvor ender det?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dagrenovation</td>
          <td>Grøn</td>
          <td>Madaffald, samt papir.</td>
          <td>Alt det affald, du smider ud i din. </td>
        </tr>
        <tr>
          <td>Bioaffald og kompost</td>
          <td>Beige</td>
          <td>Alt madaffald.</td>
          <td>Bioaffaldet kommes i bionedbrydelige.</td>
        </tr>
        <tr>
          <td>Glas</td>
          <td>Hvid</td>
          <td>Alle typer glas.</td>
          <td>De hele vinflasker.</td>
        </tr>
        <tr>
          <td>Elektronik</td>
          <td>Orange</td>
          <td>Genstande.</td>
          <td>Det elektroniske affald.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p class="h5">Klasse: extracompact</p>
  <div class="table--responsive-scroll">
    <table class="table table--extracompact">
      <thead>
        <tr>
          <th>Affaldstype</th>
          <th>Farvekode</th>
          <th>Beskrivelse</th>
          <th>Hvor ender det?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dagrenovation</td>
          <td>Grøn</td>
          <td>Madaffald, samt papir.</td>
          <td>Alt det affald, du smider ud i din. </td>
        </tr>
        <tr>
          <td>Bioaffald og kompost</td>
          <td>Beige</td>
          <td>Alt madaffald.</td>
          <td>Bioaffaldet kommes i bionedbrydelige.</td>
        </tr>
        <tr>
          <td>Glas</td>
          <td>Hvid</td>
          <td>Alle typer glas.</td>
          <td>De hele vinflasker.</td>
        </tr>
        <tr>
          <td>Elektronik</td>
          <td>Orange</td>
          <td>Genstande.</td>
          <td>Det elektroniske affald.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
