<div class="container">
  <div class="table--responsive-scroll">
    <table class="table table--borderless table--zebra">
      <thead>
        <tr>
          <th>Document title</th>
          <th>Description</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Declaration of Independence</td>
          <td>Statement adopted by the Continental Congress declaring independence from the British Empire.</td>
          <td>1776</td>     
        </tr>
        <tr>
          <td>Bill of Rights</td>
          <td>The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.</td>
          <td>1791</td>    
        </tr>
        <tr>
          <td>Declaration of Sentiments</td>
          <td>A document written during the Seneca Falls Convention outlining the rights that American women should be entitled
            to as citizens.</td>
          <td>1848</td>      
        </tr>
        <tr>
          <td>Emancipation Proclamation</td>
          <td>An executive order granting freedom to slaves in designated southern states.</td>
          <td>1863</td>      
        </tr>
      </tbody>
    </table>
  </div>
</div>