<div class="container">
    <div class="table--responsive-scroll">
        <table class="table table--borderless table--compact">
            <tbody>
                <tr>
                    <th class="w-percent-md-30">Virksomhedens navn</th>
                    <td>Forsikringens forsikring (enhed)</td>
                    <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-1">Rediger</a></td>
                </tr>
                <tr>
                    <th class="w-percent-md-30">Kontaktperson</th>
                    <td>John Doe<br>privatskade@ff.dk<br>+45 1234 5678</td>
                    <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-2">Rediger</a></td>
                </tr>
                <tr>
                    <th class="w-percent-md-30">Afsender er</th>
                    <td>Forsikringens forsikring (enhed)</td>
                    <td class="align-text-md-right"><a href="/frontend-styleguide/pages/page-templates/AES-erstatningssag/aes-1">Rediger</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>