<div class="container">
  <div class="table-container">
    <table class="table zebra"> <!-- bordered -->
      <thead>
        <tr>
          <th>Affaldstype</th>
          <th>Farvekode</th>
          <th>hvor ender det?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>sdfsdf</td>
          <td>Statement adopted by the Continental Congress declaring independence from the British Empire.</td>
          <td>1776</td>
        </tr>
        <tr>
          <td>sdfsdfsdf</td>
          <td>The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.</td>
          <td>1791</td>
        </tr>
        <tr>
          <td>sdfsdfsdf</td>
          <td>A document written during the Seneca Falls Convention outlining the rights that American women should be entitled
            to as citizens.</td>
          <td>1848</td>
        </tr>
        <tr>
          <td>sdfsdf</td>
          <td>An executive order granting freedom to slaves in designated southern states.</td>
          <td>1863</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
