{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}
{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}


{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <div class="overlay"></div>
    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-tertiary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
  <section class="container page-container">
    <div class="row">
      <div class="col-12">
          {{overflowmenu("Trin 1 af 3","overflow_steps", true, false, "menu-down" ,"
              <ul class='sidenav-list'>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/aktindsigt/aktindsigt-1' class='active'>
                          1. Inden du går igang
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/aktindsigt/aktindsigt-2'>
                          2. Oplysninger om dig
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/aktindsigt/aktindsigt-3' >
                          3. Bekræft oplysninger
                      </a>
                  </li>
              </ul>
              "
          ) }}
          <div class="content">
            <h1>Inden du går igang</h1>
            <p class="font-lead">Inden du går igang, skal du være opmærksom på:</p>
            <ul>
              <li class="mt-6">At alle oplysninger kan ændres, efter at du har indtastet dem. Det gælder dog ikke, når løsningen er sendt.</li>
              <li class="mt-6">At oplysningerne ikke bliver brugt i andre sammenhænge, med mindre du får andet af vide.</li>
              <li class="mt-6">At du kan forvente en afgørelse i løbet af 14 dage. Ansøgningen er underlagt lov om indsigt på området, Vær opmærksom på, at nedenstående oplysninger ikke benyttes i andre sammenhænge, med mindre andet er anført.</li>
            </ul>
            <h2 class="mb-0">Hvis du vil klage</h2>
            <p class="font-lead mb-0 mt-4">Klager skal være modtaget senest to måneder efter afgørelsen af din ansøgning.</p>
            <a href="/frontend-styleguide/pages/page-templates/aktindsigt/aktindsigt-2" class="button button-primary mt-7">Næste</a>
          </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}