{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}


{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-secondary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><b>Christian Emil Vestergaard Christiansen</b></p>
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>

    </nav> <!-- collapsible nav end-->
  </header>
  <div class="overlay"></div>
{% endblock %}

{% block body %}
  <section class="container">
    <div class="row page-container">
      <div class="col-12">
          {{overflowmenu("Trin 3 af 3","overflow_steps", true, false, "menu-down" ,"
              <ul class='sidenav-list'>
                  <li>
                      <a href='example-aktindsigt-page-1'>
                          1. Trin 1
                          <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='example-aktindsigt-page-2'>
                          2. Trin 2
                          <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='example-aktindsigt-page-3' class='active'>
                          3. Trin 3 
                      </a>
                  </li>
              </ul>
              "
          ) }}
          <div class="content">
            
            <h1>Bekræft oplysninger</h1>
            <div class="mt-0">
              <label class="form-label">Navn</label>
              <p class="mt-0">Karen Jensen</p>
            </div>
            <div class="mt-5">
              <label class="form-label">Adresse</label>
              <p class="mt-0">Vængetstræde 77 <br>
              0081 Købstad</p>
            </div>
            <div class="mt-5">
              <label class="form-label">Alder</label>
              <p class="mt-0">39</p>
            </div>
            <div class="mt-5">
              <label class="form-label">Tidligere ansøgninger</label>
              <p class="mt-0">Nej</p>
            </div>
            <br>
            <a href="example-aktindsigt-page-4" class="button button-primary">Næste</a>
            <div class="breadcrumb">
              <a href="example-aktindsigt-page-2" class="button button-ghost">Tilbage</a>
            </div>
          </div>
  </section>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  <footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 footer-col">
          <div class="align-left">
            <ul class="unstyled-list">
              <li><span class="h6 weight-semibold" title="Ansvarlig myndighed" aria-label="Ansvarlig myndighed">Undervisningsministeriet</span></li>
              <li><p>Styrelsen for IT og læring</p></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 footer-col">
          <div class="align-right">
            <ul class="unstyled-list">
              <li><a class="function-link" href="mailto:support@stil.dk">support@stil.dk</a></li>
              <li><a class="function-link" href="tel:004533925200">(+45) 33 92 52 00</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}