{% macro icon_svg(iconname, classes, aria) %}
  <svg class="icon-svg {{ classes }}" {% if aria %}aria-label ="{{aria}}"{% endif %}><use xlink:href="#{{iconname}}"></use></svg>
{% endmacro %}

<div class="container">
  <div class="icon-list row">
    {% for icons in icons_example.items %}
      <div class="col-md-3">
        <div class="icon-box">
          <div>{{ icon_svg(icons.icon, "")}}</div>
          <span><span class="sr-only">Example of </span>{{ icons.icon }}</span>
        </div>
      </div>
    {% endfor %}
  </div> 
</div>

<style scoped>
  .icon-box {
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .icon-box .icon-svg {
    margin-bottom: 5px;
  }
</style>