{% macro icon(iconname, classes, aria) %}
  <i class="icon icon-{{iconname}} {{ classes }}" {% if aria %}aria-label ="{{aria}}"{% endif %}></i>
{% endmacro %}

{% macro icon_old(icon, classes) %}<i class="mdi mdi-{{icon}}{% if classes %} {{classes}}{% endif %}"></i>{% endmacro %}

<div class="icon-list row">
  {% for icons in icons_example.items %}
    <div class="col-md-3">
      <div class="icon-box">
        <div>{{ icon(icons.icon, "color-text-blue") }}</div>
        <span><span class="sr-only">Example of </span>{{ icons.icon }}</span>
      </div>
    </div>
  {% endfor %}
</div> 

<style scoped>
  .icon-box {
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .icon-box i {
    font-size: 3rem;
    margin-bottom: 5px;
  }
</style>