{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "12-modal/modal.njk" import modal as modal %}
{% from "overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{%- from "09-header/header-simple.njk" import portal_header as portal_header -%}
{%- from "09-header/header-simple.njk" import solution_header as solution_header -%}
{% from "14-footers/footer-basic.njk" import footer_basic as footer_basic %}

{% from "07-form/controls/text-input.njk" import textinput as textinput %}
{% from "07-form/controls/radiobutton.njk" import radiobutton as radiobutton %}
{% from "07-form/controls/date-input.njk" import datoinput as datoinput %}


{% block header %}
  <header class="header" role="banner">
    {{ portal_header(portal_header_data) }}
    {{ solution_header(solution_header_data) }}

    <nav role="navigation" class=" nav"> <!-- collapsible-->
      <button class="button button-secondary button-menu-close js-menu-close" title="Luk mobil menu">{{icon_svg("close")}}Luk</button>

      <div class="portal-info-mobile">
        <p class="user"><b>Navn</b></p>
        {# <p class="mt-0">Københavns Urmager Værksted v/Martin Elsig</p> #}
        <a href="#" class="button button-secondary button-signout">
          Log ud
        </a>
      </div>

      <div class="solution-info-mobile">
        <p><b>Erhvervsministeriet</b></p>
        <p><button class="button-unstyled button-contact" data-micromodal-trigger="modal-contact">Kontakt<svg class="icon-svg "><use xlink:href="#menu-right"></use></svg></button></p>
      </div>
    </nav> <!-- collapsible nav end-->
  </header>
{% endblock %}

{% block body %}
  <section class="container page-container">
    <div class="row">
      <div class="col-12">
          {{overflowmenu("Trin 3 af 4","overflow_steps", true, false, "menu-down" ,"
              <ul class='sidenav-list'>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/strategiske-virksomhedsalliancer/virksomhedsalliancer-1'>
                          1. Trin 1
                          <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/strategiske-virksomhedsalliancer/virksomhedsalliancer-2'>
                          2. Trin 2
                          <span class='sidenav-icon'>
                              <svg class='icon-svg'><use xlink:href='#check'></use></svg>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/strategiske-virksomhedsalliancer/virksomhedsalliancer-3' class='active'>
                          3. Trin 3 
                      </a>
                  </li>
                  <li>
                      <a href='/frontend-styleguide/pages/page-templates/strategiske-virksomhedsalliancer/virksomhedsalliancer-4'>
                          4. Trin 4 
                      </a>
                  </li>
              </ul>
              ", true
          ) }}
          <div class="content">
            <h1>Statsstøtte</h1>
            <p class="mt-0">Virksomheder må ikke modtage statsstøtte, også kaldet EU de minimums-støtte, der overstiger grænsen på de EUR 200.000 over de seneste 3 år. Tidligere tilskud givet fra Eksportrådet er omfattet af de minimis-reglerne og de skal nævnes nedenfor.</p>
            <p>Hvis virksomheden juridisk er en del af en koncernstruktur (indenlandsk som udenlandsk), som tilsammen hæfter for de minimis-støtte, oplyses det fulde beløb for hele koncernen. Se Statsstøttehåndbogen side 65-86, hvis du er i tvivl om, hvor meget af koncernen, der er omfattet.</p>
            <p>Støtte fra eksportrådet i form af tilskud ydes i henhold til EU-reglerne for de minimis-støtte, jf. Komissionernes forordning (EU) nr. 1407/2013 af 18. december 2013.</p>
            <div class="mt-6">
                {{textinput("id-state", "Statsstøtte (EU de minimis) i DKK", "", "input-width-400", "", "Input til statsstøtte (EU de minimis) i DKK", "", false, "")}}
                <p class="mt-3">Modtaget fra dags dato og de tre seneste løbende år eksl. det aktuelle projekt.</p>
            </div>
            <label class="form-label mt-6">Har i modtaget støtte gennem andre internationale de minimis-ordninger (fx OECD)?</label>
            <div class="mt-3">
                {{radiobutton("id-state-yes", "minimis", "Ja", false, false, "Ja", "radio-large js-collapse", false, true, "data-js-target='#collapse-radio' aria-controls='collapse-radio' aria-expanded='false'")}}
                 <div id="collapse-radio" aria-hidden="true" class="box-border-l collapsed">
                    <div class="py-4">
                        <div class="mt-0">
                            {{textinput("id-minimis-name", "Ordningens navn", "", "input-width-400", "", "Input til ordningens navn", "", false, "")}}
                        </div>
                        <div class="mt-6">
                            {{datoinput("Dato for modtagelse", "Fx. 28 04 1996", "Dato", "Måned", "År")}}
                        </div>
                        <div class="mt-6">
                            {{textinput("id-amount", "Beløb i DKK", "", "input-width-200", "", "Input til beløb i DKK", "", false, "")}}
                        </div>
                        <div class="mt-6">
                            {{textinput("id-reference", "Henvisning til yderligere information om ordningen", "<br>Fx. et link", "input-width-400", "", "Input til henvisning til yderligere information om ordningen", "", false, "")}}
                        </div>
                    </div>
                </div>   
            </div>
            <div class="mt-3">
                {{radiobutton("id-state-no", "minimis", "Nej", false, false, "Nej", "radio-large", false, true)}}
            </div>

            <a href="/frontend-styleguide/pages/page-templates/strategiske-virksomhedsalliancer/virksomhedsalliancer-4" class="button button-primary mt-7">Næste</a>
            <div class="breadcrumb">
                <a href="/frontend-styleguide/pages/page-templates/strategiske-virksomhedsalliancer/virksomhedsalliancer-2" class="button button-ghost">Tilbage</a>
            </div>

          </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block banner -%}
{% endblock %}

{% block footer -%}
  {{ footer_basic(footer_data) }}
{% endblock %}

{{ modal('modal-contact', modal_contact_data) }}