{% macro footer_basic(footer_basic_data) %}
  <footer>
    <div class="footer">
      <div class="container">
        <div class="row">
          {%- for col in footer_basic_data.cols -%}
          <div class="col-12 col-sm-12 col-md-{{ col.col_size_desktop | default('6') }} footer-col">
            <div class="{%- if col.text_align_right %} align-right {% else %} align-left {% endif -%}">
              {%- for listsitem in col.lists -%}
                <ul class="unstyled-list {%- if listsitem.inline_list %} inline-list {% endif -%} ">
                  {%- for item in listsitem.listitems -%}
                  <li>{{item.content | safe}}</li>
                  {% endfor -%}
                </ul>
              {% endfor -%}
            </div>
          </div>
          {% endfor -%}
        </div>
      </div>
    </div>
  </footer>
{% endmacro %}

{{ footer_basic(footer_basic_data) }}


