<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 nopaddingleft footer-col">
          <div class="align-left">
            <ul class="unstyled-list">
              <li><span class="h6" title="Ansvarlig myndighed" aria-label="Ansvarlig myndighed">Undervisningsministeriet</span></li>
              <li><p>Styrelsen for IT og læring</p></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 nopaddingright footer-col">
          <div class="align-right">
            <ul class="unstyled-list">
              <li><a class="function-link" href="mailto:support@stil.dk">support@stil.dk</a></li>
              <li><a class="function-link" href="tel:004533925200">(+45) 33 92 52 00</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-theme">
    <div class="container">
      <div class="row">
        <div class="col-12 nopaddingleft">
          <p>Sammen med <a href="javascript:void(0);">borger.dk</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
