{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}

<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 nopaddingleft footer-col">
          <div class="align-left">
            <ul class="unstyled-list">
              <li><h6>Ansvarlig myndighed</h6></li>
            </ul>
            <ul class="unstyled-list">
              <li><p>Undervisningsministeriet</p></li>
              <li><p>Styrelsen for IT og læring</p></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <div class="align-left">
            <ul class="unstyled-list">
              <li><h6>Hjælpende links</h6></li>
            </ul>
            <ul class="unstyled-list footer-links">
              <li><a href="#">Link til et sted på siden</a></li>
              <li><a href="#">Link til et sted på siden</p></li>
              <li><a href="#">Link til et sted på siden</p></li>
              <li><a href="#" class="icon-link">Link til en ekstern side{{ icon_svg('open-in-new')}}</a></li>
              <li><a href="#" class="icon-link">Link til en ekstern side{{ icon_svg('open-in-new')}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 nopaddingright footer-col">
          <div class="align-left">
            <ul class="unstyled-list">
              <li><h6>Kontakt</h6></li>
            </ul>
            <ul class="unstyled-list">
              <li><a class="function-link" href="mailto:support@stil.dk">support@stil.dk</a></li>
              <li><a class="function-link" href="tel:004533925200">(+45) 33 92 52 00</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-theme">
    <div class="container">
      <div class="row">
        <div class="col-12 nopaddingleft">
          <p>Sammen med <a href="javascript:void(0);">borger.dk</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>