<!-- footer basic -->
{% macro footer_header_links_ext_support(size, header, subheader, headercontent) %}
<h4>Footer with header, links and extended support</h4>
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 nopaddingleft footer-col">
          <div class="align-left">
            <h6 class="footer-headline">Ansvarlig myndighed</h6>
            <p>Undervisningsministeriet</p>
            <p>Styrelsen for IT og læring</p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <div class="align-left">
            <h6 class="footer-headline">Hjælpende links</h6>
            <ul class="unstyled-list">
              <li><a href="#">Læs lidt om STIL</a></li>
              <li><a href="#">Læs lidt om medarbejdere</li></p>
              <li><a href="#">Se ledige stillinger og hvordan det er at være ansat</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <div class="align-left">
            <h6 class="footer-headline">Telefonisk support</h6>
            <p><a class="function-link" href="tel:004533925200">(+45) 33 92 52 00</a></p>
            <p>Hverdage 10-17</p>
            <p>Lørdag 10-14</p>
            <p>Søndag og helligdage lukket</p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 nopaddingright footer-col">
          <div class="align-left">
            <h6 class="footer-headline">Skriftlig kontakt</h6>
            <p><a class="function-link" href="mailto:support@stil.dk">support@stil.dk</a></p>
            <p>Vi besvarer e-mails så hurtigt vi kan, indenfor telefonisk åbningstid</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-theme">
    <div class="container">
      <div class="row">
        <div class="col-12 nopaddingleft">
          <p>Sammen med <a href="javascript:void(0);">borger.dk</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endmacro %}

{% for header_links_ext_support in footer_header_links_ext_support_example.items -%}
      {{ footer_header_links_ext_support(header_ext_support.size, header_ext_support.header, header_ext_support.subheader, header_ext_support.headercontent) }}
{%- endfor %}