<!doctype html>
<html lang="{{ lang | default('en') }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Styleguide Fractal example document</title>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <a class="skipnav" href="#main-content">Skip to main content</a>

    <header class="header header-extended mb-5" role="banner">
        <div class="subheader">
            <div class="navbar-inner container">

                <div class="portal-header-logo">
                    <a href="/">
                        <div class="logo"></div>
                    </a>
                </div>

                <div class="portal-header-title">
                    <p>Indberet</p>
                </div>

                <ul class="nav-info-list ml-auto">
                    <li class="clear mb-3">
                        <a href="#">Log ud
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                    <li class="clear">
                        <p>Christian Emil Vestergaard Christiansen,</p>
                        <p>Københavns Urmager Værksted v/Martin Elsig</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="subheader">
            <div class="navbar-inner container">
                <div class="subheader-title">
                    <h1>Titel på løsning</h1>
                </div>
                <div class="subheader-info">
                    <ul class="nav-info-list">
                        <li class="clear">
                            <a href="NaN" class="subheader-link">Navn på myndighed
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                        </li>
                        <li>Support: 11 22 33 44&nbsp; | &nbsp;
                            <a href="mailto:virk@virk.dk">E-mail
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="row">
            <div class="col-lg-3">

                <ul class="sidenav-list">

                    <li>
                        <a href="">
                            1. Trin navn

                            <span class="sidenav-icon icon-bg-success">
                                <i class="mdi mdi-check"></i>
                            </span>

                        </a>
                    </li>

                    <li>
                        <a href="">
                            2. Trin navn

                            <span class="sidenav-icon icon-bg-error">
                                <i class="mdi mdi-close"></i>
                            </span>

                        </a>
                    </li>

                    <li>
                        <a href="">
                            3. Trin navn

                        </a>
                    </li>

                    <li>
                        <a href="">
                            4. Trin navn

                        </a>
                    </li>

                    <li>
                        <a href="">
                            5. Opsummering af godkendelse

                        </a>
                    </li>

                </ul>

            </div>
            <div class="col-lg-9">
                <div class="step-wrapper">
                    <h1 class="step-title">Trin navn</h1>

                    <p>Manchettekst indledende tekst til siden. Aenean euismod
                        bibendum laoreet. Proin gravida dolor sit amet lacus
                        accumsan et viverra justo commodo. Proin sodales pulvinar
                        tempor.</p>

                    <form>
                        <fieldset>
                            <legend class="drop_text field-group-title">Titel på feltgruppe</legend>
                            <hr>
                            <span>Indledende brødtekst til feltgruppe Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit.
                                Aenean euismod bibendum laoreet. Proin gravida
                                dolor sit amet lacus accumsan et viverra justo
                                commodo. Proin sodales pulvinar tempor.</span>

                            <div class="row">
                                <div class="col-12">
                                    <label for="streetname">Gade/vej
                                        <span class="required">
                                            <i class="mdi mdi-asterisk"></i>
                                        </span>
                                    </label>
                                    <input id="address-streetname" type="text" name="streetname" autocorrect="off">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="address-number">Husnummer
                                        <span class="required">
                                            <i class="mdi mdi-asterisk"></i>
                                        </span>
                                    </label>
                                    <input id="address-number" type="number">
                                </div>
                                <div class="col-lg-4">
                                    <label for="address-floor">Etage</label>
                                    <input id="address-floor" type="text">
                                </div>
                                <div class="col-lg-4">
                                    <label for="address-side">Side</label>
                                    <input id="address-side" type="text">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="button-row">
                                        <button class="button-primary">
                                            <i class="mdi mdi-chevron-left"></i> Forrige</button>
                                        <button class="button-primary ml-auto">Næste
                                            <i class="mdi mdi-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="info-row">
                                        <span>Klik forrige for at gå tilbage</span>
                                        <span class="ml-auto">Klik på næste for at gemme</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer" role="contentinfo">
        <div class="container footer-return-to-top">
            <a href="#">Return to top</a>
        </div>
        <div class="footer-primary-section">
            <div class="container">
                <nav class="footer-nav row">
                    <div class="col-12 col-sm-4 col-md-6">
                        <ul class="unstyled-list footer-primary-content">
                            <li class="footer-primary-link">
                                <h4>Ansvarlig myndighed</h4>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Styrelsen for Institutioner og Uddannelsesstøtte</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-sm-4 col-md-3">
                        <ul class="unstyled-list footer-primary-content">
                            <li class="footer-primary-link">
                                <h4>Kontakt</h4>
                            </li>
                            <address>
                                <li>
                                    <a href="tel:70707070">70707070</a>
                                </li>
                                <li>
                                    <a href="mailto:kontakt@mailadresse.dk">kontakt@mailadresse.dk</a>
                                </li>
                            </address>
                        </ul>

                    </div>

                    <div class="col-12 col-sm-4 col-md-3">
                        <ul class="unstyled-list footer-primary-content">
                            <li class="footer-primary-link">
                                <h4>Emne</h4>
                            </li>

                            <li>
                                <a href="javascript:void(0);">Myndighedslink</a>
                            </li>

                            <li>
                                <a href="javascript:void(0);">Myndighedslink</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="footer-secondary_section">
            <div class="container">
                <div class="footer-logo row">
                    <div class="footer-logo-img col-12">En del af</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/main.js"></script>
  </body>
</html>
