<!--

-->
{% macro accordion(variant, items, id_prefix, multiselectable) %}
<ul class="usa-accordion{%
  if accordion_example.variant %}-{{ accordion_example.variant }}{% endif %}"{%
  if accordion_example.multiselectable == true %} aria-multiselectable="true"{% endif %}>
  {% for item in accordion_example.items %}
  <li>
    <button class="usa-accordion-button"
      aria-expanded="{{ item.expanded | default('false') }}"
      aria-controls="{{ accordion_example.id_prefix }}{{ item.id }}">
      {{ item.title }}
    </button>
    <div id="{{ accordion_example.id_prefix }}{{ item.id }}" class="usa-accordion-content">
      {{ item.content }}
    </div>
  </li>
  {% endfor %}
</ul>

{% endmacro %}

{{ accordion(accordion_example.variant, accordion_example.items, accordion_example.id_prefix, accordion_example.multiselectable) }}

