{% from "icons/icons--svg.njk" import icon_svg as icon_svg %}
<div class="container">
{% macro accordion(variant, items, id_prefix, multiselectable) %}
<ul class="accordion {% if variant %}accordion-{{ variant }}{% endif %}"
  {% if multiselectable == true %} aria-multiselectable="true"{% endif %}>
  {% for item in items %}
  <li>
    <button class="accordion-button"
      aria-expanded="{{ item.expanded | default('false') }}"
      {% if item.error_message %} aria-describedby="error-message" {% endif %}
      aria-controls="{{ id_prefix }}{{ item.id }}">
      {{ item.title }}

      {%- if item.icon %}
        <span class="accordion-icon {% if item.iconclass %} {% endif %}">
          <span class="icon_text">{{ item.icontext }}</span>  {{ icon_svg(item.icon)}}
        </span>
      {% endif -%}
    </button>
    <div id="{{ id_prefix }}{{ item.id }}" class="accordion-content">
      <p>{{ item.content }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{{ accordion(accordion_example.variant, accordion_example.items, accordion_example.id_prefix, accordion_example.multiselectable) }}

<p class="mt-6">Tilføj klassen `accordion-bordered` til `.accordion` for at tilføje en synlig ramme:</p>
{{ accordion(accordion_example2.variant, accordion_example2.items, accordion_example2.id_prefix, accordion_example2.multiselectable) }}

<p class="mt-6">Man kan også tillade at flere kan være åbne på samme tid. Dette gøres ved at tilføje `aria-multiselectable="true"` attributten til `.accordion`.</p>
{{ accordion(accordion_example3.variant, accordion_example3.items, accordion_example3.id_prefix, accordion_example3.multiselectable) }}
</div>
