{% from "icons/icons.njk" import icon as icon_ %}

{% macro accordion(variant, items, id_prefix, multiselectable) %}
<ul class="accordion{%
  if accordion_example.variant %}-{{ accordion_example.variant }}{% endif %}"{%
  if accordion_example.multiselectable == true %} aria-multiselectable="true"{% endif %}>
  {% for item in accordion_example.items %}
  <li>
    <button class="accordion-button"
      aria-expanded="{{ item.expanded | default('false') }}"
      aria-controls="{{ accordion_example.id_prefix }}{{ item.id }}">
      {{ item.title }}

      {%- if item.icon %}
        <span class="accordion-icon{% if item.iconclass %} {{ item.iconclass }} {% endif %}">
          {{ icon_(item.icon) }}
        </span>
      {% endif -%}
    </button>
    <div id="{{ accordion_example.id_prefix }}{{ item.id }}" class="accordion-content">
      {{ item.content }}
    </div>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{{ accordion(accordion_example.variant, accordion_example.items, accordion_example.id_prefix, accordion_example.multiselectable) }}
